{% extends 'guides/_guide_base.html.twig' %}

{% block guide_header %}
    <h1 class="guide-hero-title">{{ 'guides.index.title'|trans }}</h1>
    <p class="guide-hero-lead">{{ 'guides.index.intro'|trans }}</p>
{% endblock %}

{% block guide_body %}
    <div class="container">
        <div class="row g-4 guide-index-cards">
            {% for guide in guideNav %}
                <div class="col-md-4">
                    <div class="guide-card">
                        <div class="guide-card-icon" aria-hidden="true"><i class="bi {{ guide.icon }}"></i></div>
                        <h2 class="guide-card-title">
                            <a href="{{ path(guide.route) }}">{{ guide.title|trans }}</a>
                        </h2>
                        <p class="guide-card-text">{{ guide.description|trans }}</p>
                        <a class="guide-card-link stretched-link" href="{{ path(guide.route) }}">
                            {{ 'guides.index.read_guide'|trans }} <i class="bi bi-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <p class="guide-index-footnote">
            {{ 'guides.index.footnote'|trans }}
        </p>
    </div>
{% endblock %}
