{% if puzzle_id in puzzle_statuses.sellSwap %}
    <li id="sellswap-action-{{ puzzle_id }}">
        <form action="{{ path('sellswap_remove', {puzzleId: puzzle_id}) }}"
              method="post"
              class="d-inline"
              data-turbo="true">

            <button type="submit" class="dropdown-item text-danger">
                <i class="bi bi-shop text-danger me-1"></i> {{ 'sell_swap_list.remove.button'|trans }}
            </button>
        </form>
    </li>
{% else %}
    <li id="sellswap-action-{{ puzzle_id }}">
        <a class="dropdown-item"
           href="{{ path('sellswap_add', {puzzleId: puzzle_id}) }}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
        </a>
    </li>
{% endif %}
