{% set context = context|default('detail') %}
{% set hasMembership = logged_user.profile is not null and logged_user.profile.activeMembership %}
{% if puzzle_id in puzzle_statuses.sellSwap %}
    {# Puzzle is already in sell/swap list - show manage actions #}
    {% if hasMembership %}
        {% set collection_id = currentCollectionId|default('') %}
        {% set item_id = puzzle_statuses.sellSwapItemIds[puzzle_id] %}
        <li>
            <a class="dropdown-item" href="{{ path('edit_sell_swap_list_item', {itemId: item_id}) }}">
                <i class="bi bi-pencil me-1"></i> {{ 'edit'|trans }}
            </a>
        </li>
        {% if puzzle_id in puzzle_statuses.sellSwapReserved %}
            <li>
                <form action="{{ path('sell_swap_remove_reservation', {itemId: item_id}) }}" method="post">
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-bookmark-dash me-1"></i> {{ 'sell_swap_list.remove_reservation.button'|trans }}
                    </button>
                </form>
            </li>
        {% else %}
            <li>
                <a class="dropdown-item text-warning"
                   href="{{ path('sell_swap_mark_reserved', {itemId: item_id}) }}"
                   data-turbo="true"
                   data-turbo-frame="modal-frame">
                    <i class="bi bi-bookmark-check me-1"></i> {{ 'sell_swap_list.mark_reserved.button'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a class="dropdown-item text-success"
               href="{{ path('sellswap_mark_sold', {itemId: item_id}) }}?context={{ context }}{% if collection_id %}&collection_id={{ collection_id }}{% endif %}"
               data-turbo="true"
               data-turbo-frame="modal-frame">
                <i class="bi bi-check-circle me-1"></i> {{ 'sell_swap_list.mark_sold.button'|trans }}
            </a>
        </li>
        <li>
            <form action="{{ path('sellswap_remove', {puzzleId: puzzle_id}) }}"
                  method="post"
                  class="d-inline"
                  data-turbo="true">
                <input type="hidden" name="context" value="{{ context }}">
                <input type="hidden" name="collection_id" value="{{ collection_id }}">
                <button type="submit" class="dropdown-item text-danger">
                    <i class="bi bi-shop text-danger me-1"></i> {{ 'sell_swap_list.remove.button'|trans }}
                </button>
            </form>
        </li>
    {% else %}
        <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#membersExclusiveModal">
                <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
                <small class="d-block text-muted"><i class="ci-locked me-1"></i>{{ 'membership.modal.title'|trans }}</small>
            </a>
        </li>
    {% endif %}
{% elseif not hasMembership %}
    {# No membership - show membership promotion (priority over "not in collection") #}
    <li>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#membersExclusiveModal">
            <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
            <small class="d-block text-muted"><i class="ci-locked me-1"></i>{{ 'membership.modal.title'|trans }}</small>
        </a>
    </li>
{% elseif puzzle_id in puzzle_statuses.collection %}
    {# Has membership AND puzzle in collection - show add option #}
    {% set collection_id = currentCollectionId|default('') %}
    <li>
        <a class="dropdown-item"
           href="{{ path('sellswap_add', {puzzleId: puzzle_id}) }}?context={{ context }}{% if collection_id %}&collection_id={{ collection_id }}{% endif %}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
        </a>
    </li>
{% else %}
    {# Has membership but puzzle not in collection - show disabled state #}
    <li>
        <span class="dropdown-item disabled text-muted">
            <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
            <small class="d-block text-muted">{{ 'sell_swap_list.not_in_collection'|trans }}</small>
        </span>
    </li>
{% endif %}
