{% set context = context|default('detail') %}
<div id="sellswap-action-{{ puzzle_id }}" style="display: contents;">
{% if puzzle_id in puzzle_statuses.sellSwap %}
    <li>
        <a class="dropdown-item text-success"
           href="{{ path('sellswap_mark_sold', {itemId: puzzle_statuses.sellSwapItemIds[puzzle_id]}) }}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-check-circle me-1"></i> {{ 'sell_swap_list.mark_sold.button'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('sellswap_remove', {puzzleId: puzzle_id}) }}"
              method="post"
              class="d-inline"
              data-turbo="true">
            <input type="hidden" name="context" value="{{ context }}">
            <button type="submit" class="dropdown-item text-danger">
                <i class="bi bi-shop text-danger me-1"></i> {{ 'sell_swap_list.remove.button'|trans }}
            </button>
        </form>
    </li>
{% else %}
    <li>
        <a class="dropdown-item"
           href="{{ path('sellswap_add', {puzzleId: puzzle_id}) }}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-shop me-1"></i> {{ 'sell_swap_list.add.button'|trans }}
        </a>
    </li>
{% endif %}
</div>
