{% trans_default_domain 'emails' %}
{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <wrapper>
        <container>
            {{ include('emails/_header.html.twig') }}

            <row>
                <columns>
                    <spacer size-sm="24"></spacer>
                    <h3>{{ 'competition_registration_reserved.title'|trans }}</h3>
                    <spacer size-sm="8"></spacer>
                </columns>
            </row>

            <row>
                <columns>
                    {{ 'competition_registration_reserved.content'|trans({
                        '%competitionName%': competitionName,
                        '%eventUrl%': eventUrl,
                    })|raw }}

                    {% if entryFeeText %}
                        <p><strong>{{ 'competition_registration_reserved.entry_fee'|trans }}:</strong> {{ entryFeeText }}</p>
                    {% endif %}

                    {% if paymentInstructions %}
                        <p><strong>{{ 'competition_registration_reserved.payment_instructions'|trans }}:</strong></p>
                        <p>{{ paymentInstructions|nl2br }}</p>
                    {% endif %}
                </columns>
            </row>

            {{ include('emails/_footer.html.twig') }}
        </container>
    </wrapper>
{% endapply %}
