{% trans_default_domain 'emails' %}
{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <wrapper>
        <container>
            <row>
                <columns>
                    <h3>Your membership is now active!</h3>

                    <p>We appreciate you, so you have been granted with a membership!</p>
                    <p>The membership will expire at: <b>{{ membershipExpiresAt }}</b></p>
                </columns>
            </row>

            <row>
                <columns>
                    <p>
                        You can always check and manage your membership on the <a href="{{ url('membership') }}">membership page</a>.
                    </p>
                </columns>
            </row>

            <row>
                <columns>
                    <h-line></h-line>

                    <center>
                        <a href="{{ url('membership') }}">
                            <img src="{{ email.image('@images/speedpuzzling-logo-mini.png') }}" alt="MySpeedPuzzling.com Logo" style="width: 80px; height: auto; margin-top: 20px;" width="80" height="auto">
                        </a>
                    </center>

                    <p class="text-center">
                        <small>Thank you for being a part of <a href="{{ url('homepage') }}" >MySpeedPuzzling.com</a>.</small>
                    </p>
                </columns>
            </row>
        </container>
    </wrapper>
{% endapply %}
