{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <wrapper>
        <container>
            <row>
                <columns>
                    <h3>Membership successfully renewed!</h3>

                    <p>Thank you very much for being part of the community!</p>
                    <p>Next billing period is: <b>{{ nextBillingPeriod }}</b></p>
                </columns>
            </row>

            <row>
                <columns>
                    <p>
                        You can always manage your subscription on the <a href="{{ url('membership') }}">membership page</a>.
                    </p>
                </columns>
            </row>

            <row>
                <columns>
                    <h-line></h-line>

                    <center>
                        <a href="{{ url('membership') }}">
                            <img src="{{ email.image('@images/speedpuzzling-logo-mini.png') }}" alt="MySpeedPuzzling.com Logo" style="width: 80px; height: auto; margin-top: 20px;" width="80" height="auto">
                        </a>
                    </center>

                    <p class="text-center">
                        <small>Thank you for being a part of <a href="{{ url('homepage') }}" >MySpeedPuzzling.com</a>.</small>
                    </p>
                </columns>
            </row>
        </container>
    </wrapper>
{% endapply %}
