{% set currentLadder = app.request.attributes.get('_route') %}

<div class="dropdown d-inline-block ms-3">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if currentLadder == 'ladder' %}
            Přehled
        {% elseif currentLadder == 'ladder_solo_500_pieces' %}
            Jednotlivci - 500 dílků
        {% elseif currentLadder == 'ladder_solo_1000_pieces' %}
            Jednotlivci - 1000 dílků
        {% elseif currentLadder == 'ladder_pairs_500_pieces' %}
            Páry - 500 dílků
        {% elseif currentLadder == 'ladder_pairs_1000_pieces' %}
            Páry - 1000 dílků
        {% elseif currentLadder == 'ladder_groups_500_pieces' %}
            Skupiny - 500 dílků
        {% elseif currentLadder == 'ladder_groups_1000_pieces' %}
            Skupiny - 1000 dílků
        {% endif %}
    </button>
    <div class="dropdown-menu">
        <a href="{{ path('ladder') }}" class="dropdown-item {{ currentLadder == 'ladder' ? 'active'}}">Přehled</a>
        <a href="{{ path('ladder_solo_500_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_solo_500_pieces' ? 'active'}}">Jednotlivci - 500 dílků</a>
        <a href="{{ path('ladder_solo_1000_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_solo_1000_pieces' ? 'active'}}">Jednotlivci - 1000 dílků</a>
        <a href="{{ path('ladder_pairs_500_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_pairs_500_pieces' ? 'active'}}">Páry - 500 dílků</a>
        <a href="{{ path('ladder_pairs_1000_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_pairs_1000_pieces' ? 'active'}}">Páry - 1000 dílků</a>
        <a href="{{ path('ladder_groups_500_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_groups_500_pieces' ? 'active'}}">Skupiny - 500 dílků</a>
        <a href="{{ path('ladder_groups_1000_pieces') }}" class="dropdown-item {{ currentLadder == 'ladder_groups_1000_pieces' ? 'active'}}">Skupiny - 1000 dílků</a>
    </div>
</div>
