<div class="table-responsive custom-table-wrapper mt-3 mb-3">
    <table class="table custom-table table-striped table-hover mb-0">
        <thead>
        <tr>
            <th></th>
            <th>{{ 'puzzler'|trans }}</th>
            <th class="text-end">{{ 'time'|trans }}</th>
            <th></th>
            <th>{{ 'puzzle'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for solving_time in puzzle_solving_times %}
            <tr class="{{ logged_user.profile is not null and solving_time.playerId is same as logged_user.profile.playerId ? 'table-active-player' }}">
                <td class="rank">{{ loop.index }}.</td>
                <td class="player-name">
                    {% if solving_time.players is null %}
                        <a href="{{ path('player_profile', {playerId: solving_time.playerId}) }}">
                            {% if logged_user.profile is not null and solving_time.playerId in logged_user.profile.favoritePlayers %}
                                <i class="ci-star-filled text-warning"></i>
                            {% endif %}
                            {{ solving_time.playerName }}
                        </a>
                    {% else %}
                        {% for puzzle_solver in solving_time.players %}
                            {% if not loop.first %}
                                <br>
                            {% endif %}
                            {% if puzzle_solver.playerId is not null %}
                                <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                    {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                        <i class="ci-star-filled text-warning"></i>
                                    {% endif %}
                                    {{ puzzle_solver.playerName }}
                                </a>
                            {% else %}
                                <span class="player-name-item">{{ puzzle_solver.playerName }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if solving_time.solvedTimes > 1 %}
                        <span class="badge bg-dark rounded-pill">{{ 'puzzle_solved_times'|trans({ '%count%': solving_time.solvedTimes }) }}x</span>
                    {% endif %}
                </td>

                <td class="text-end">
                    {{ solving_time.time|puzzlingTime }}
                    <br><small><span class="text-muted">P4</span> {{ ppm(solving_time.time, solving_time.piecesCount) }}</small>
                    {% if solving_time.players is not null %}
                        <br><small><span class="text-muted">P6</span> {{ ppm(solving_time.time, solving_time.piecesCount, solving_time.players|length) }}</small>
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if solving_time.puzzleImage is not null%}
                        <a href="{{ path('puzzle_detail', {puzzleId: solving_time.puzzleId}) }}">
                            <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ solving_time.puzzleImage|imagine_filter('puzzle_small') }}">
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('puzzle_detail', {puzzleId: solving_time.puzzleId}) }}">
                        <span class="puzzle-title">
                            {{ include('_puzzle_name.html.twig', {
                                puzzle_name: solving_time.puzzleName,
                                alternative_puzzle_name: solving_time.puzzleAlternativeName,
                            }) }}
                            <br>
                            <small>{{ solving_time.manufacturerName }}</small>
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
