<table class="table-times-overview">
    <tr>
        <td>{{ 'profile.statistics_time'|trans }}:</td>
        <td class="text-end">{{ statistics.totalSeconds|puzzlingTime }}</td>
    </tr>
    <tr>
        <td>{{ 'profile.statistics_puzzles_solved'|trans }}:</td>
        <td class="text-end">{{ statistics.solvedPuzzlesCount }}</td>
    </tr>
    <tr>
        <td>{{ 'profile.statistics_pieces_count'|trans }}:</td>
        <td class="text-end">{{ statistics.totalPieces }}</td>
    </tr>
</table>
