<div class="table-responsive custom-table-wrapper" {{ stimulus_controller('toggle') }}>
    <table class="table table-striped table-hover mb-0">
        <tbody>
            {% for solved_puzzle in solved_puzzles %}
                <tr class="{{ solved_puzzle[0].suspicious ? 'table-warning' }}">
                    <td class="text-center" style="width: 90px;">
                        {% if solved_puzzle[0].puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                                {{ lazy_puzzle_image(
                                    solved_puzzle[0].puzzleImage,
                                    'puzzle_small',
                                    'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle[0].manufacturerName ~ ' ' ~ solved_puzzle[0].puzzleName}),
                                    loop.index,
                                    90,
                                    'rounded-2',
                                    60
                                ) }}
                            </a>
                        {% endif %}

                        {# Display photo of finished puzzle only to logged user #}
                        {% if logged_user.profile is not null and logged_user.profile.playerId is same as solved_puzzle[0].playerId %}
                            {% if solved_puzzle[0].finishedPuzzlePhoto is not null%}
                                <div class="gallery mt-1">
                                    <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(solved_puzzle[0].finishedPuzzlePhoto) }}">
                                        <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle[0].manufacturerName ~ ' ' ~ solved_puzzle[0].puzzleName}) }}" class="rounded-2" style="max-width: 50px;max-height: 66px;" src="{{ solved_puzzle[0].finishedPuzzlePhoto|thumbnail('puzzle_small') }}">
                                    </a>
                                </div>
                            {% endif %}

                            <button
                                data-controller="share-image"
                                data-share-image-title-value="{{ solved_puzzle[0].puzzleName }}"
                                data-share-image-image-url-value="{{ path('result_image', {'timeId': solved_puzzle[0].timeId}) }}"
                                data-action="click->share-image#shareImageAsset"
                                class="btn btn-sm btn-outline-accent py-1 px-2 mt-1"
                            >
                                <i class="ci-share"></i> {{ 'share'|trans }}
                            </button>
                        {% endif %}
                    </td>

                    <td class="d-none d-sm-table-cell">
                        <a class="d-inline-block" style="line-height: 120%" href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                            <span style="color: #111;">
                                {{ solved_puzzle[0].manufacturerName }}<br>
                                <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle[0].piecesCount })|raw }}</small>
                            </span><br>

                            <small class="puzzle-title mt-2">
                                {{ solved_puzzle[0].puzzleName }}
                            </small>
                        </a>

                        {% if is_granted('ADMIN_ACCESS') %}
                            {% if  solved_puzzle|length > 1 %}
                                <div class="hidden" data-toggle-target="{{ solved_puzzle[0].puzzleId }}">
                                    <twig:Chart:PlayerPuzzleTimesChart results="{{ solved_puzzle }}" />
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td class="px-0">
                        <table style="width: 100%;">
                            {% for puzzle in solved_puzzle %}
                                <tr {% if not loop.first %}class="hidden" data-toggle-target="{{ puzzle.puzzleId }}"{% endif %}>
                                    <td class="align-top">
                                        {% if loop.first %}
                                            <a class="low-line-height d-inline-block d-sm-none" href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                                                <small>{{ solved_puzzle[0].manufacturerName }}</small>
                                                <br>
                                                <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle[0].piecesCount })|raw }}</small>
                                            </a>

                                            {# Display rank for solo (only if ranking exists - won't exist for relax-only puzzles) #}
                                            {% if solved_puzzle[0].players is null and this.ranking[solved_puzzle[0].puzzleId] is defined %}
                                                <br>
                                                <small>Rank {{ this.ranking[solved_puzzle[0].puzzleId].rank }} <span class="text-muted">({{ 'ranking_out_of'|trans }} {{ this.ranking[solved_puzzle[0].puzzleId].totalPlayers }})</span></small><br>
                                            {% endif %}
                                        {% endif %}

                                        {% if puzzle.players|length > 0 %}
                                            <p class="low-line-height mt-1 mb-0 player-name">
                                                {% for puzzle_solver in puzzle.players %}
                                                    {% if not loop.first %}
                                                        <br>
                                                    {% endif %}
                                                    {% if puzzle_solver.isPrivate %}
                                                        <span class="player-name-item small text-muted">{{ 'secret_puzzler_name'|trans }}</span>
                                                        <i class="bi bi-incognito text-muted"></i>
                                                    {% elseif puzzle_solver.playerId is not null %}
                                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                                            <small>{{ puzzle_solver.playerName ?? ('#' ~ puzzle_solver.playerCode) }}</small>
                                                        </a>
                                                        {% if puzzle_solver.playerCountry is not null %}
                                                            <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                                        {% endif %}
                                                    {% else %}
                                                        <small class="player-name-item">{{ puzzle_solver.playerName ?? ('#' ~ puzzle_solver.playerCode) }}</small>
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </td>

                                    <td class="text-end text-nowrap with-ppm align-top">
                                        <span class="d-inline-block">
                                            {% if puzzle.time is not null %}
                                                {{ puzzle.time|puzzlingTime }}
                                                <br>
                                                {% if puzzle.finishedAt is not null %}
                                                    <small class="text-muted"><time datetime="{{ puzzle.finishedAt|date('Y-m-d') }}">{{ puzzle.finishedAt|date('d.m.Y') }}</time></small>
                                                    <br>
                                                {% endif %}
                                                <small>
                                                    <span class="text-muted">PPM</span> {{ ppm(puzzle.time, puzzle.piecesCount) }}
                                                    {% if puzzle.players is not null %}
                                                        <br>({{ puzzle.players|length }}x {{ ppm(puzzle.time, puzzle.piecesCount, puzzle.players|length) }})
                                                    {% endif %}
                                                </small>
                                            {% else %}
                                                <span class="badge rounded-pill bg-secondary">
                                                    <i class="bi bi-cup-hot"></i> {{ 'badge.relax'|trans }}
                                                </span>
                                                {% if puzzle.finishedAt is not null %}
                                                    <br>
                                                    <small class="text-muted"><time datetime="{{ puzzle.finishedAt|date('Y-m-d') }}">{{ puzzle.finishedAt|date('d.m.Y') }}</time></small>
                                                {% endif %}
                                            {% endif %}

                                            {% if puzzle.firstAttempt %}
                                                <br>
                                                <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                            {% endif %}

                                            {% if puzzle.unboxed %}
                                                <br>
                                                <span class="badge rounded-pill bg-warning"><i class="bi bi-eye-slash"></i> {{ 'unboxed'|trans }}</span>
                                            {% endif %}

                                            {% if puzzle.suspicious %}
                                                <br>
                                                <span class="badge rounded-pill bg-warning">
                                                    <i class="bi bi-exclamation-triangle"></i> {{ 'badge.suspicious'|trans }}
                                                </span>
                                            {% endif %}

                                            {% if puzzle.competitionName %}
                                                <br>
                                                {% if puzzle.competitionSlug %}
                                                    <a href="{{ path('event_detail', {'slug': puzzle.competitionSlug}) }}">
                                                {% endif %}
                                                <span class="badge rounded-pill bg-primary"><i class="bi bi-trophy-fill"></i>{{ puzzle.competitionShortcut ?? puzzle.competitionName }}</span>
                                                {% if puzzle.competitionSlug %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </span>

                                        {# Display edit icon only to current user #}
                                        {% if logged_user.profile is not null and logged_user.profile.playerId is same as puzzle.playerId %}
                                            <a class="btn btn-sm btn-outline-dark p-1 border-0" href="{{ path('edit_time', {timeId: puzzle.timeId}) }}"><i class="ci-edit"></i></a>
                                        {% endif %}

                                        {% if loop.first and solved_puzzle|length > 1 %}
                                            <br>
                                            <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: puzzle.puzzleId}) }}>
                                                <span class="badge bg-dark badge-shadow rounded-pill">
                                                    {{ 'show_more_solving_times'|trans({ '%count%': solved_puzzle|length-1 }) }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    </td>

                </tr>
            {% endfor %}
            {% if solved_puzzles|length < 1 %}
                <tr>
                    <td colspan="4" class="text-center">{{ 'profile.no_puzzles_solved'|trans }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
