{% if solved_puzzles|length > 1 %}
    <div class="clearfix mb-3 text-end">
        {% if category == 'solo' %}
            <div class="dropdown position-relative d-inline-block">
                {% if logged_user.profile is not null and logged_user.profile.activeMembership %}
                    <button
                        class="btn btn-outline-primary btn-sm dropdown-toggle"
                        type="button"
                        id="filtersDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="bi-filter"></i>
                        {{ 'filters.button'|trans }}
                        {% if this.activeFiltersCount > 0 %}<sup>{{ this.activeFiltersCount }}</sup>{% endif%}
                    </button>

                    <div class="dropdown-menu dropdown-menu-end filters px-3 py-0" aria-labelledby="filtersDropdown">
                        {% if category == 'solo' and solved_puzzles|length > 1 %}
                            <div class="form-check form-switch my-3">
                                <input
                                    data-model="onlyFirstTries"
                                    type="checkbox"
                                    class="form-check-input"
                                    role="switch"
                                    id="only-first-attempt"
                                    {{ this.onlyFirstTries ? 'checked' }}>
                                <label for="only-first-attempt" class="form-check-label" onclick="arguments[0].stopPropagation()">{{ 'only_first_tries_filter'|trans }}</label>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <button
                        class="btn btn-outline-primary btn-sm position-relative pe-4"
                        data-bs-toggle="modal"
                        data-bs-target="#membersExclusiveModal"
                    >
                        <i class="bi-filter"></i>
                        {{ 'filters.button'|trans }}
                        <i class="ci-locked position-absolute fs-sm" style="right: 4px;top: 7px;"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}

        <div class="dropdown position-relative d-inline-block me-1">
            <button
                class="btn btn-outline-primary btn-sm dropdown-toggle"
                type="button"
                id="sortingDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <i class="bi-sort-up"></i>
                {{ 'sorting.sort_by'|trans }}:
                {{ this.sortBy == 'fastest' ? 'sorting.fastest_times'|trans }}
                {{ this.sortBy == 'slowest' ? 'sorting.slowest_times'|trans }}
                {{ this.sortBy == 'newest' ? 'sorting.newest_times'|trans }}
                {{ this.sortBy == 'oldest' ? 'sorting.oldest_times'|trans }}
            </button>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sortingDropdown">
                <button type="button" class="dropdown-item {% if this.sortBy == 'fastest' %}active{% endif %}"
                        data-action="live#action"
                        data-live-action-param="changeSortBy"
                        data-live-sort-param="fastest">
                    {{ 'sorting.fastest_times'|trans }}
                </button>
                <button type="button" class="dropdown-item {% if this.sortBy == 'slowest' %}active{% endif %}"
                        data-action="live#action"
                        data-live-action-param="changeSortBy"
                        data-live-sort-param="slowest">
                    {{ 'sorting.slowest_times'|trans }}
                </button>
                <button type="button" class="dropdown-item {% if this.sortBy == 'newest' %}active{% endif %}"
                        data-action="live#action"
                        data-live-action-param="changeSortBy"
                        data-live-sort-param="newest">
                    {{ 'sorting.newest_times'|trans }}
                </button>
                <button type="button" class="dropdown-item {% if this.sortBy == 'oldest' %}active{% endif %}"
                        data-action="live#action"
                        data-live-action-param="changeSortBy"
                        data-live-sort-param="oldest">
                    {{ 'sorting.oldest_times'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endif %}

<div class="table-responsive custom-table-wrapper" {{ stimulus_controller('toggle') }}>
    <table class="table table-striped table-hover mb-0">
        <tbody>
            {% for solved_puzzle in solved_puzzles %}
                <tr
                    data-puzzle-filter-target="puzzleItem"
                    data-pieces-count="{{ solved_puzzle[0].piecesCount }}"
                    data-puzzle-name="{{ solved_puzzle[0].puzzleName }}"
                    data-puzzle-code="{{ solved_puzzle[0].puzzleIdentificationNumber }}"
                    data-puzzle-alternative-name="{{ solved_puzzle[0].puzzleAlternativeName }}"
                    data-manufacturer="{{ solved_puzzle[0].manufacturerName }}"
                    data-available="1"
                    data-has-time="1"
                    data-tags="{{ (tags[solved_puzzle[0].puzzleId] ?? [])|json_encode }}"
                >
                    <td class="text-center" style="width: 90px;">
                        {% if solved_puzzle[0].puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                                <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle[0].manufacturerName ~ ' ' ~ solved_puzzle[0].puzzleName}) }}" class="rounded-2" style="max-width: 80px;max-height: 80px;" src="{{ solved_puzzle[0].puzzleImage|imagine_filter('puzzle_small') }}">
                            </a>
                        {% endif %}

                        {# Display photo of finished puzzle only to logged user #}
                        {% if logged_user.profile is not null and logged_user.profile.playerId is same as solved_puzzle[0].playerId %}
                            {% if solved_puzzle[0].finishedPuzzlePhoto is not null%}
                                <div class="gallery mt-1">
                                    <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(solved_puzzle[0].finishedPuzzlePhoto) }}">
                                        <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle[0].manufacturerName ~ ' ' ~ solved_puzzle[0].puzzleName}) }}" class="rounded-2" style="max-width: 50px;max-height: 66px;" src="{{ solved_puzzle[0].finishedPuzzlePhoto|imagine_filter('puzzle_small') }}">
                                    </a>
                                </div>
                            {% endif %}

                            <button
                                data-controller="share-image"
                                data-share-image-title-value="{{ solved_puzzle[0].puzzleName }}"
                                data-share-image-image-url-value="{{ path('result_image', {'timeId': solved_puzzle[0].timeId}) }}"
                                data-action="click->share-image#shareImageAsset"
                                class="btn btn-sm btn-outline-accent py-1 px-2 mt-1"
                            >
                                <i class="ci-share"></i> {{ 'share'|trans }}
                            </button>
                        {% endif %}
                    </td>

                    <td class="d-none d-sm-table-cell">
                        <a class="d-inline-block" style="line-height: 120%" href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                            <span style="color: #111;">
                                {{ solved_puzzle[0].manufacturerName }}<br>
                                <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle[0].piecesCount })|raw }}</small>
                            </span><br>

                            <small class="puzzle-title mt-2">
                                {{ solved_puzzle[0].puzzleName }}
                            </small>
                        </a>

                        {% if is_granted('ADMIN_ACCESS') %}
                            {% if  solved_puzzle|length > 1 %}
                                <div class="hidden" data-toggle-target="{{ solved_puzzle[0].puzzleId }}">
                                    <twig:Chart:PlayerPuzzleTimesChart results="{{ solved_puzzle }}" />
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td class="px-0">
                        <table style="width: 100%;">
                            {% for puzzle in solved_puzzle %}
                                <tr {% if not loop.first %}class="hidden" data-toggle-target="{{ puzzle.puzzleId }}"{% endif %}>
                                    <td class="align-top">
                                        {% if loop.first %}
                                            <a class="low-line-height d-inline-block d-sm-none" href="{{ path('puzzle_detail', {puzzleId: solved_puzzle[0].puzzleId}) }}">
                                                <small>{{ solved_puzzle[0].manufacturerName }}</small>
                                                <br>
                                                <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle[0].piecesCount })|raw }}</small>
                                            </a>

                                            {# Display rank for solo (only if ranking exists - won't exist for relax-only puzzles) #}
                                            {% if solved_puzzle[0].players is null and this.ranking[solved_puzzle[0].puzzleId] is defined %}
                                                <br>
                                                <small>Rank {{ this.ranking[solved_puzzle[0].puzzleId].rank }} <span class="text-muted">({{ 'ranking_out_of'|trans }} {{ this.ranking[solved_puzzle[0].puzzleId].totalPlayers }})</span></small><br>
                                            {% endif %}
                                        {% endif %}

                                        {% if puzzle.players|length > 0 %}
                                            <p class="low-line-height mt-1 mb-0 player-name">
                                                {% for puzzle_solver in puzzle.players %}
                                                    {% if not loop.first %}
                                                        <br>
                                                    {% endif %}
                                                    {% if puzzle_solver.isPrivate %}
                                                        <span class="player-name-item small text-muted">{{ 'secret_puzzler_name'|trans }}</span>
                                                        <i class="bi bi-incognito text-muted"></i>
                                                    {% elseif puzzle_solver.playerId is not null %}
                                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                                            <small>{{ puzzle_solver.playerName }}</small>
                                                        </a>
                                                        {% if puzzle_solver.playerCountry is not null %}
                                                            <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                                        {% endif %}
                                                    {% else %}
                                                        <small class="player-name-item">{{ puzzle_solver.playerName }}</small>
                                                    {% endif %}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </td>

                                    <td class="text-end text-nowrap with-ppm align-top">
                                        <span class="d-inline-block">
                                            {% if puzzle.time is not null %}
                                                {{ puzzle.time|puzzlingTime }}
                                                <br>
                                                <small class="text-muted">{{ puzzle.finishedAt|date('d.m.Y') }}</small>
                                                <br>
                                                <small>
                                                    <span class="text-muted">PPM</span> {{ ppm(puzzle.time, puzzle.piecesCount) }}
                                                    {% if puzzle.players is not null %}
                                                        <br>({{ puzzle.players|length }}x {{ ppm(puzzle.time, puzzle.piecesCount, puzzle.players|length) }})
                                                    {% endif %}
                                                </small>
                                            {% else %}
                                                <span class="badge rounded-pill bg-secondary">
                                                    <i class="bi bi-cup-hot"></i> {{ 'badge.relax'|trans }}
                                                </span>
                                                <br>
                                                <small class="text-muted">{{ puzzle.finishedAt|date('d.m.Y') }}</small>
                                            {% endif %}

                                            {% if puzzle.firstAttempt %}
                                                <br>
                                                <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                            {% endif %}

                                            {% if puzzle.competitionName %}
                                                <br>
                                                {% if puzzle.competitionSlug %}
                                                    <a href="{{ path('event_detail', {'slug': puzzle.competitionSlug}) }}">
                                                {% endif %}
                                                <span class="badge rounded-pill bg-primary"><i class="bi bi-trophy-fill"></i>{{ puzzle.competitionShortcut ?? puzzle.competitionName }}</span>
                                                {% if puzzle.competitionSlug %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </span>

                                        {# Display edit icon only to current user #}
                                        {% if logged_user.profile is not null and logged_user.profile.playerId is same as puzzle.playerId %}
                                            <a class="btn btn-sm btn-outline-dark p-1 border-0" href="{{ path('edit_time', {timeId: puzzle.timeId}) }}"><i class="ci-edit"></i></a>
                                        {% endif %}

                                        {% if loop.first and solved_puzzle|length > 1 %}
                                            <br>
                                            <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: puzzle.puzzleId}) }}>
                                                <span class="badge bg-dark badge-shadow rounded-pill">
                                                    {{ 'show_more_solving_times'|trans({ '%count%': solved_puzzle|length-1 }) }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    </td>

                </tr>
            {% endfor %}
            {% if solved_puzzles|length < 1 %}
                <tr>
                    <td colspan="4" class="text-center">{{ 'profile.no_puzzles_solved'|trans }}</td>
                </tr>
            {% else %}
                <tr class="filter-no-results hidden mt-3">
                    <td colspan="4">
                        <div class="alert alert-warning mb-0">
                            {{ 'filters.no_puzzle_matches_filters'|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
