<div {{ stimulus_controller('puzzle_filter') }}>
    <h2 class="h4 mt-3">{{ 'profile.solved_puzzles'|trans }}</h2>

    {{ include('_puzzle_filter.html.twig') }}

    <ul class="nav nav-fill nav-tabs nav-player-results mt-3" role="tablist" {{ stimulus_controller('tabs') }}>
        <li class="nav-item">
            <a class="nav-link {{ solo_results|length > 0 ? 'active' : 'disabled' }}" href="#solo" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media"><i class="ci-user"></i></div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Solo ({{ solo_results|length }})</h6>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ solo_results|length == 0 and duo_results|length > 0 ? 'active' : duo_results|length == 0 ? 'disabled' }}" href="#duo" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media media-tab-media-duo">
                        <i class="ci-user"></i>
                        <i class="ci-user"></i>
                    </div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Duo ({{ duo_results|length }})</h6>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ solo_results|length == 0 and duo_results|length == 0 and team_results|length > 0 ? 'active' : team_results|length == 0 ? 'disabled' }}" href="#team" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media media-tab-media-team">
                        <i class="ci-user"></i>
                        <i class="ci-user"></i>
                        <div>
                            <i class="ci-user"></i>
                            <i class="ci-user"></i>
                        </div>
                    </div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Team ({{ team_results|length }})</h6>
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade {{ solo_results|length > 0 ? 'show active' }}" id="solo" role="tabpanel">
            {{ include('_player_solvings.html.twig', {solved_puzzles: solo_results}) }}
        </div>

        <div class="tab-pane fade {{ solo_results|length == 0 and duo_results|length > 0 ? 'show active' }}" id="duo" role="tabpanel">
            {{ include('_player_solvings.html.twig', {solved_puzzles: duo_results}) }}
        </div>

        <div class="tab-pane fade {{ solo_results|length == 0 and duo_results|length == 0 and team_results|length > 0 ? 'show active' }}" id="team" role="tabpanel">
            {{ include('_player_solvings.html.twig', {solved_puzzles: team_results}) }}
        </div>
    </div>
</div>
