<div class="mb-2">
    <small class="text-muted fw-bold">{{ 'filters.filter_by'|trans }}:</small>
    <div class="puzzle-filter input-group shadow-lg mb-3" style="max-width: 700px;">
        <select class="form-select" data-puzzle-filter-target="piecesCount" data-action="change->puzzle-filter#filterPuzzles">
            <option value="">{{ 'filters.pieces_placeholder'|trans }}</option>
            <option value="0-499">{{ 'filters.less_than'|trans({ '%count%': 500 }) }}</option>
            <option value="500">500</option>
            <option value="501-999">501-999</option>
            <option value="1000">1000</option>
            <option value="1001-">{{ 'filters.more_than'|trans({ '%count%': 1000 }) }}</option>
        </select>

        <select class="form-select" data-puzzle-filter-target="manufacturer" data-action="change->puzzle-filter#filterPuzzles">
            <option value="">{{ 'filters.manufacturer_placeholder'|trans }}</option>
            <!-- Options will be populated by JavaScript -->
        </select>

        <input class="form-control" type="text" data-puzzle-filter-target="puzzleName" data-action="input->puzzle-filter#filterPuzzles" placeholder="{{ 'filters.text_search_placeholder'|trans }}">
    </div>
</div>
