<turbo-frame id="search-results">
    <div class="d-flex">
        <p class="my-0 me-2">
            <small class="text-muted">{{ 'total_found'|trans({'%count%': total_puzzles_count }) }}</small>
        </p>

        <div data-puzzle-search-target="spinner" class="d-inline-flex invisible align-items-center">
            <div class="float-start spinner-border text-primary spinner-border-sm" role="status"></div>
            <small class="ps-1 text-primary">{{ 'searching'|trans }}</small>
        </div>
    </div>


    {% if total_puzzles_count == 0 %}
        <p class="mt-2 mb-3 text-muted small">{{ 'puzzle_overview.missing_puzzle_info'|trans }}</p>
    {% endif %}

    <turbo-frame id="search-results-items">
        {% for puzzle in puzzles %}
            {{ include('_puzzle_item.html.twig') }}
        {% endfor %}
    </turbo-frame>

    {% if total_puzzles_count == 0 %}
        <div class="alert alert-warning mt-2">
            {{ 'filters.no_puzzle_matches_filters'|trans }}
        </div>
    {% endif %}

    <turbo-frame id="load-more-results">
        {{ include('_puzzle_load_more.html.twig') }}
    </turbo-frame>
</turbo-frame>

