<div
    class="position-relative col-12 col-lg-6"
    data-puzzle-filter-target="puzzleItem"
    data-pieces-count="{{ puzzle.piecesCount }}"
    data-puzzle-name="{{ puzzle.puzzleName }}"
    data-puzzle-code="{{ puzzle.puzzleIdentificationNumber }}"
    data-puzzle-alternative-name="{{ puzzle.puzzleAlternativeName }}"
    data-manufacturer="{{ puzzle.manufacturerName }}"
    data-available="{{ puzzle.isAvailable ? 1 : 0 }}"
    data-has-time="{{ puzzle.solvedTimes > 0 ? 1 : 0 }}"
    data-tags="{{ (tags[puzzle.puzzleId] ?? [])|json_encode }}"
>
    <div class="card card-body shadow p-2 puzzle-list-item">
        <div class="d-flex">
            <div style="width: 90px;">
                {% if puzzle.puzzleImage is not null%}
                    <a data-turbo-frame="_top" href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                        <img class="rounded-2" style="max-width: 90px;max-height: 90px;" alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': puzzle.manufacturerName ~ ' ' ~ puzzle.puzzleName}) }}" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                    </a>
                {% endif %}
            </div>

            <div class="ps-2 flex-grow-1">
                <div class="d-md-flex">
                    <div class="puzzle-name">
                        <a class="text-decoration-underline fs-sm low-line-height d-inline-block mb-1" data-turbo-frame="_top" href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                            {{ highlight(puzzle.puzzleName, search) }}
                        </a>
                        <br><small class="fw-bold">{{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}</small>
                    </div>

                    <div class="fs-sm manufacturer-name ps-md-2">
                        {{ puzzle.manufacturerName }}
                        {% if puzzle.puzzleIdentificationNumber is not null %}
                            <br class="d-none d-md-block"><small class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="d-md-flex justify-content-between">
                    <div class="d-flex justify-content-between text-nowrap puzzle-times-info">
                        <small class="pe-0 pe-md-2">{{ 'puzzle_solved_times'|trans({'%count%': puzzle.solvedTimes})|capitalize|raw }}</small>

                        <br class="d-none d-md-block">
                        {% if ranking[puzzle.puzzleId] is defined %}
                            <small><i class="ci-user"></i> {{ ranking[puzzle.puzzleId].time|puzzlingTime }}</small>
                        {% endif %}
                    </div>

                    <div class="text-md-center">
                        <span id="puzzle-badges-{{ puzzle.puzzleId }}">
                            {{ include('puzzle/_badges.html.twig', {
                                puzzle_id: puzzle.puzzleId,
                                puzzle_statuses: puzzle_statuses
                            }) }}
                        </span>

                        {% for tag in tags[puzzle.puzzleId] ?? [] %}
                            <span class="badge text-wrap bg-primary rounded-pill mt-1"><i class="ci-diamond"></i> {{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown position-absolute puzzle-list-dropdown">
            <button class="btn btn-outline-primary shadow btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ci-menu"></i>
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" data-turbo-frame="_top" rel="nofollow" href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}">
                        <i class="ci-add me-1"></i> {{ 'add_my_time'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" data-turbo-frame="_top" rel="nofollow" href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}">
                        <i class="ci-time me-1"></i> {{ 'start_solving'|trans }}
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>

                {{ include('wishlist/_dropdown_action.html.twig', {
                    puzzle_id: puzzle.puzzleId,
                    puzzle_statuses: puzzle_statuses
                }) }}

                {{ include('sell-swap/_dropdown_action.html.twig', {
                    puzzle_id: puzzle.puzzleId,
                    puzzle_statuses: puzzle_statuses
                }) }}
            </ul>
        </div>
    </div>
</div>
