<turbo-frame id="search-results">
    <div class="d-sm-flex justify-content-between align-items-center my-1">
        <div class="d-flex">
            <div class="me-2 mb-1">
                <small class="text-muted">{{ 'total_found'|trans({'%count%': total_puzzles_count }) }}</small>
            </div>

            <div data-puzzle-search-target="spinner" class="d-inline-flex invisible align-items-center">
                <div class="float-start spinner-border text-primary spinner-border-sm" role="status"></div>
                <small class="ps-1 text-primary">{{ 'searching'|trans }}</small>
            </div>
        </div>

        <div class="dropdown position-relative d-inline-block me-1 my-1">
            <button
                class="btn btn-outline-primary btn-sm dropdown-toggle"
                type="button"
                id="sortingDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <i class="bi-sort-up"></i>
                {{ 'sorting.sort_by'|trans }}:
                {{ form_data.sortBy == 'most-solved' ? 'sorting.most_solved'|trans }}
                {{ form_data.sortBy == 'least-solved' ? 'sorting.least_solved'|trans }}
                {{ form_data.sortBy == 'a-z' ? 'sorting.a_z'|trans }}
                {{ form_data.sortBy == 'z-a' ? 'sorting.z_a'|trans }}
            </button>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sortingDropdown">
                <a
                    class="dropdown-item {% if form_data.sortBy == 'most-solved' %}active{% endif %}"
                    href="{{ path('puzzles', app.request.query.all|merge({'sortBy': 'most-solved'})) }}"
                    data-turbo-frame="search-results"
                    data-turbo="true"
                >
                    {{ 'sorting.most_solved'|trans }}
                </a>
                <a
                    class="dropdown-item {% if form_data.sortBy == 'least-solved' %}active{% endif %}"
                    href="{{ path('puzzles', app.request.query.all|merge({'sortBy': 'least-solved'})) }}"
                    data-turbo-frame="search-results"
                    data-turbo="true"
                >
                    {{ 'sorting.least_solved'|trans }}
                </a>
                <a
                    class="dropdown-item {% if form_data.sortBy == 'a-z' %}active{% endif %}"
                    href="{{ path('puzzles', app.request.query.all|merge({'sortBy': 'a-z'})) }}"
                    data-turbo-frame="search-results"
                    data-turbo="true"
                >
                    {{ 'sorting.a_z'|trans }}
                </a>
                <a
                    class="dropdown-item {% if form_data.sortBy == 'z-a' %}active{% endif %}"
                    href="{{ path('puzzles', app.request.query.all|merge({'sortBy': 'z-a'})) }}"
                    data-turbo-frame="search-results"
                    data-turbo="true"
                >
                    {{ 'sorting.z_a'|trans }}
                </a>
            </div>
        </div>
    </div>


    {% if total_puzzles_count == 0 %}
        <p class="mt-2 mb-3 text-muted small">{{ 'puzzle_overview.missing_puzzle_info'|trans }}</p>
    {% endif %}

    <turbo-frame id="search-results-items" class="row g-2 g-md-3">
        {% for puzzle in puzzles %}
            {{ include('_puzzle_item.html.twig', {
                'search': form_data.search,
            }) }}
        {% endfor %}
    </turbo-frame>

    {% if total_puzzles_count == 0 %}
        <div class="alert alert-warning mt-2">
            {{ 'filters.no_puzzle_matches_filters'|trans }}
        </div>
    {% endif %}

    <turbo-frame id="load-more-results">
        {{ include('_puzzle_load_more.html.twig') }}
    </turbo-frame>
</turbo-frame>

