<div class="table-responsive custom-table-wrapper mt-4">
    <table class="table table-striped custom-table table-hover mb-0">
        <thead>
        <tr>
            <th>{{ 'puzzle'|trans }}</th>
            <th class="d-none d-sm-table-cell"></th>
            <th>{{ 'time'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for solved_puzzle in solved_puzzles %}
                <tr class="{{ logged_user.profile is not null and solved_puzzle.playerId is same as logged_user.profile.playerId ? 'table-active-player' }}">
                    <td>
                        {% if solved_puzzle.puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                                <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle.manufacturerName ~ ' ' ~ solved_puzzle.puzzleName}) }}" class="rounded-2" style="max-width: 80px;max-height: 80px;" src="{{ solved_puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                            </a>
                        {% endif %}
                    </td>

                    <td class="d-none d-sm-table-cell">
                        <a class="d-inline-block" style="line-height: 120%" href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                            <span style="color: #111;">
                                {{ solved_puzzle.manufacturerName }}<br>
                                <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle.piecesCount })|raw }}</small>
                            </span><br>

                            <small class="puzzle-title mt-2">
                                {{ include('_puzzle_name.html.twig', {
                                    puzzle_name: solved_puzzle.puzzleName,
                                    alternative_puzzle_name: solved_puzzle.puzzleAlternativeName,
                                }) }}
                            </small>
                        </a>
                    </td>

                    <td class="with-ppm">
                        <small style="line-height: 105%;">{{ solved_puzzle.trackedAt|ago }}</small><br>

                        <span style="color: #000;">{{ solved_puzzle.time|puzzlingTime }}</span>

                        <br>
                        <small class="text-nowrap">
                            <span class="text-muted">PPM</span> {{ ppm(solved_puzzle.time, solved_puzzle.piecesCount) }}
                            {% if solved_puzzle.players is not null %}
                                ({{ ppm(solved_puzzle.time, solved_puzzle.piecesCount, solved_puzzle.players|length) }})
                            {% endif %}
                        </small>
                    </td>

                    <td class="player-name">
                        <p class="mt-0 mb-1 d-sm-none">
                            <small>{{ solved_puzzle.manufacturerName }}</small><br>
                            <small>{{ 'pieces_count'|trans({ '%count%': solved_puzzle.piecesCount })|raw }}</small>
                        </p>

                        {% if solved_puzzle.players is null %}
                            <a class="player-name-item" href="{{ path('player_profile', {playerId: solved_puzzle.playerId}) }}">
                                {% if logged_user.profile is not null and solved_puzzle.playerId in logged_user.profile.favoritePlayers %}
                                    <i class="ci-star-filled text-warning"></i>
                                {% endif %}
                                {{ solved_puzzle.playerName }}
                            </a>
                            {% if solved_puzzle.playerCountry is not null %}
                                <small class="shadow-custom fi fi-{{ solved_puzzle.playerCountry.name }}"></small>
                            {% endif %}
                        {% else %}
                            {% for puzzle_solver in solved_puzzle.players %}
                                {% if not loop.first %}
                                    <br>
                                {% endif %}
                                {% if puzzle_solver.playerId is not null %}
                                    <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                        {{ puzzle_solver.playerName }}
                                        {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                            <i class="ci-star-filled text-warning"></i>
                                        {% endif %}
                                    </a>
                                    {% if puzzle_solver.playerCountry is not null %}
                                        <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                    {% endif %}
                                {% else %}
                                    <span class="player-name-item">{{ puzzle_solver.playerName }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
