<div data-controller="add-copuzzler">

    {{ form_start(solving_time_form, { 'attr': { 'data-controller': 'submit-prevention' } }) }}
        {{ form_errors(solving_time_form) }}

        <div class="row pb-4" {% if active_puzzle is null %}data-controller="time-form-autocomplete"{% endif %}>
            <div class="col-lg-6 offset-lg-1 order-lg-2">

                {% if active_puzzle is not null %}
                    <div>
                        <h5>{{ 'add_time.chosen_puzzle'|trans }}</h5>

                        <div class="py-1 d-flex low-line-height">
                            {% if active_puzzle.puzzleImage is not null%}
                                <div class="icon me-2">
                                    <img class="rounded-2" style="max-width: 100px;max-height: 100px;"  alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': active_puzzle.manufacturerName ~ ' ' ~ active_puzzle.puzzleName}) }}" src="{{ active_puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                                </div>
                            {% endif %}

                            <div class="pe-1">
                                <div class="mb-1">
                                    <span class="h6">{{ active_puzzle.puzzleName }}</span>
                                    <small class="text-muted">{{ active_puzzle.puzzleIdentificationNumber }}</small><br>
                                    {{ active_puzzle.manufacturerName|upper }}<br>
                                </div>
                                <div class="description"><small>{{ 'pieces_count'|trans({ '%count%': active_puzzle.piecesCount })|raw }}</small></div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div {% if active_puzzle is not null %}style="display: none;"{% endif %}>
                    {{ form_row(solving_time_form.brand, {'attr': {'data-time-form-autocomplete-target': 'brand'}}) }}

                    {{ form_row(solving_time_form.puzzle, {'attr': {'data-time-form-autocomplete-target': 'puzzle'}}) }}

                    <div data-time-form-autocomplete-target="newPuzzle" class="{{ hide_new_puzzle|default(false) ? 'd-none' }}">
                        <p>
                            <small class="text-muted">{{ 'add_time.need_approve_info'|trans }}</small>
                        </p>

                        {{ form_row(solving_time_form.puzzlePiecesCount) }}

                        {{ form_row(solving_time_form.puzzleEan) }}
                        {{ form_row(solving_time_form.puzzleIdentificationNumber) }}

                        {{ form_label(solving_time_form.puzzlePhoto) }}
                        {{ form_errors(solving_time_form.puzzlePhoto) }}

                        <div class="form-text mb-1 help-text">{{ 'forms.puzzle_photo_help'|trans }}</div>
                        <div class="file-drop-area">
                            <div class="file-drop-icon ci-cloud-upload"></div>
                            <span class="file-drop-message">{{ 'forms.drop_file'|trans }}</span>
                            {{ form_widget(solving_time_form.puzzlePhoto, {'attr': {'class': 'file-drop-input'}}) }}
                            <button type="button" class="file-drop-btn btn btn-outline-primary btn-sm">{{ 'forms.choose_file'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 order-lg-1">
                <div class="row">
                    <div class="col-sm mb-3">
                        {% if active_stopwatch is not null %}
                            <span class="form-label">{{ 'add_time.time_from_stopwatch'|trans }}</span><br>
                            <span class="h5 mt-2 d-inline-block">{{ active_stopwatch.totalSeconds|puzzlingTime }}</span>
                        {% endif %}

                        <div style="{% if active_stopwatch is not null %}display: none;{% endif %}">
                            {{ form_label(solving_time_form.time) }}
                            <div class="input-group">
                                {{ form_widget(solving_time_form.time, {'attr': {'class': 'form-control rounded pe-5'}}) }}
                                {% if solving_time_form.time.vars.valid %}
                                    <i class="ci-time position-absolute top-50 end-0 translate-middle-y me-3"></i>
                                {% endif %}
                            </div>
                            {{ form_help(solving_time_form.time) }}
                            {{ form_errors(solving_time_form.time) }}
                        </div>

                    </div>

                    <div class="col-sm mb-3">
                        {{ form_label(solving_time_form.finishedAt) }}
                        <div class="input-group">
                            {{ form_widget(solving_time_form.finishedAt, {'attr': {'class': 'form-control rounded date-picker pe-5', 'data-datepicker-options': '{"altInput": true, "altFormat": "d.m.Y", "dateFormat": "d.m.Y", "maxDate": "today"}'}}) }}
                            <i class="ci-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                        </div>
                        {{ form_help(solving_time_form.finishedAt) }}
                        {{ form_errors(solving_time_form.finishedAt) }}
                    </div>
                </div>

                <div class="form-switch">
                    {{ form_row(solving_time_form.firstAttempt) }}
                </div>

                <div data-add-copuzzler-target="puzzlersGroup">
                    {% for filled_group_player in filled_group_players %}
                        {{ include('_group_puzzler_input.html.twig', {
                            inputId: loop.index,
                            inputValue: filled_group_player,
                        }) }}
                    {% endfor %}
                </div>

                <button id="add-puzzler" data-action="click->add-copuzzler#addPuzzler" data-add-copuzzler-target="addPuzzlerBtn" type="button" class="btn btn-sm btn-outline-primary mb-3"><i class="ci-add"></i> {{ 'add_time.add_puzzler'|trans }}</button>

                <div class="mb-3">
                    {{ form_label(solving_time_form.competition, null, {
                        'label_html': true,
                        'label': ('forms.competition'|trans) ~ ' <span class="badge bg-primary ms-1">NEW</span>'
                    }) }}
                    {{ form_widget(solving_time_form.competition, {'attr': {'data-time-form-autocomplete-target': 'competition'}}) }}
                    {{ form_help(solving_time_form.competition) }}
                    {{ form_errors(solving_time_form.competition) }}
                </div>

                {{ form_row(solving_time_form.comment) }}

                {{ form_label(solving_time_form.finishedPuzzlesPhoto) }}
                {{ form_errors(solving_time_form.finishedPuzzlesPhoto) }}
                <div class="file-drop-area">
                    <div class="file-drop-icon">
                        {% if solved_puzzle is defined and solved_puzzle.finishedPuzzlePhoto is not null%}
                            <div class="file-drop-preview img-thumbnail rounded">
                                <img class="rounded-2" style="max-width: 200px;max-height: 200px;" alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': solved_puzzle.manufacturerName ~ ' ' ~ solved_puzzle.puzzleName}) }}" src="{{ solved_puzzle.finishedPuzzlePhoto|imagine_filter('puzzle_medium') }}">
                            </div>
                        {% endif %}
                        <i class="ci-cloud-upload"></i>
                    </div>

                    <span class="file-drop-message">{{ 'forms.drop_file'|trans }}</span>
                    {{ form_widget(solving_time_form.finishedPuzzlesPhoto, {'attr': {'class': 'file-drop-input'}}) }}
                    <button type="button" class="file-drop-btn btn btn-outline-primary btn-sm">{{ 'forms.choose_file'|trans }}</button>
                </div>

                <button type="submit" name="submit" class="btn btn-primary mt-3" data-submit-prevention-target="submit">
                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    {{ 'forms.save'|trans }}
                </button>

            </div>

        </div>
    {{ form_end(solving_time_form) }}

    <div id="puzzler-input-template" data-add-copuzzler-target="puzzlerTemplate">
        {{ include('_group_puzzler_input.html.twig') }}
    </div>
</div>
