{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName ?? ('#' ~ player.code|upper) }} - {{ 'activity_calendar.page_title'|trans }}{% endblock %}

{% block content %}

    <twig:PlayerHeader player="{{ player }}" />

    <h1 class="h3 mb-3">{{ 'activity_calendar.page_title'|trans }}</h1>

    <twig:ActivityCalendar playerId="{{ player.playerId }}" year="{{ year }}" month="{{ month }}" />

{% endblock %}
