{% extends 'base.html.twig' %}

{% block title %}{{ 'series.add_edition'|trans }} - {{ series.name }}{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {items: [
        {label: 'events.title'|trans, url: path('events')},
        {label: series.name, url: path('manage_competition_series', {seriesId: series.id})},
        {label: 'series.add_edition'|trans},
    ]}) }}
    {{ include('_return_back_button.html.twig', {fallbackUrl: path('manage_competition_series', {seriesId: series.id}), fallbackTitle: 'series.manage'|trans}) }}

    <div class="pb-4">
        <div class="row gy-3 pb-3">
            <div class="col-lg-8">
                <h1 class="h2">{{ 'series.add_edition'|trans }}</h1>
                <p class="text-muted">{{ series.name }}</p>

                <div class="card shadow my-4">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <div class="required">{{ form_row(form.name) }}</div>

                        <div class="mb-3">
                            {{ form_label(form.startsAt, null, {label_attr: {class: 'form-label required'}}) }}
                            {{ form_widget(form.startsAt, {'attr': {'class': 'form-control rounded date-picker pe-5', 'data-datepicker-options': '{"altInput": true, "altFormat": "d.m.Y H:i", "dateFormat": "d.m.Y H:i", "enableTime": true, "time_24hr": true}'}}) }}
                            {{ form_errors(form.startsAt) }}
                        </div>

                        {{ form_row(form.timezone) }}

                        <div class="required">{{ form_row(form.minutesLimit) }}</div>
                        {{ form_row(form.registrationLink) }}
                        {{ form_row(form.resultsLink) }}

                        <button type="submit" class="btn btn-primary mt-3">
                            {{ 'series.add_edition'|trans }}
                        </button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
