{% extends 'base.html.twig' %}

{% block title %}{{ 'competition.add_round'|trans }} - {{ competition.name }}{% endblock %}

{% block content %}
    <div class="pb-4">
        <div class="row gy-3 pb-3">
            <div class="col-lg-8">
                <h1 class="h2">{{ 'competition.add_round'|trans }}</h1>
                <p class="text-muted">{{ competition.name }}</p>

                <a href="{{ path('manage_competition_rounds', {'competitionId': competition.id}) }}" class="btn btn-outline-secondary mb-3">
                    <i class="bi bi-arrow-left me-1"></i>{{ 'competition.back_to_rounds'|trans }}
                </a>

                <div class="card shadow my-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.minutesLimit) }}
                            {{ form_row(form.startsAt) }}
                            {{ form_row(form.badgeBackgroundColor) }}
                            {{ form_row(form.badgeTextColor) }}

                            <button type="submit" class="btn btn-primary mt-3">
                                {{ 'competition.add_round'|trans }}
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
