<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %}{% if app.request.pathInfo != path('homepage') %} | My Speed Puzzling{% endif %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}{% if block('meta_description') is empty %}{{ 'homepage.meta.description'|trans }}{% endif %}">
        <meta name="keywords" content="Puzzle, Puzzling, Speed Puzzling, SpeedPuzzling, Community, Leaderboard{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}" />

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body class="lang-{{ app.request.locale }}" data-controller="gallery file-drop-area datepicker">
        <header class="fixed-top shadow-sm" data-fixed-element>
            <div class="topbar topbar-light bg-secondary">
                <div class="container">
                    <div class="topbar-text text-nowrap">
                        <a class="topbar-link" href="{{ path('feedback', {'url': app.request.uri}) }}" {% if logged_user.profile is not null %}data-turbo-frame="feedbackForm"{% endif %}>
                            <i class="ci-mail"></i> {{ 'menu.feedback'|trans }}
                        </a>

                        <a class="ms-3 topbar-link" href="https://www.buymeacoffee.com/myspeedpuzzling" target="_blank">
                            <i class="ci-smile"></i> {{ 'menu.support_us'|trans }}
                        </a>
                    </div>

                    <div class="text-nowrap">
                        <div class="topbar-text dropdown disable-autohide">
                            <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <span class="fi fi-{{ app.request.locale == 'cs' ? 'cz' : app.request.locale == 'en' ? 'us' }} shadow-custom me-1"></span>
                                {{ app.request.locale|upper }}
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                {% set currentRoute = app.request.attributes.get('_route') %}
                                {% set routeParams = app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'en'}) %}

                                {% if app.request.locale is not same as 'en' %}
                                    <li>
                                        <a class="dropdown-item pb-1" href="{{ currentRoute ? path(currentRoute, routeParams) : path('homepage', {'_locale': 'en'}) }}">
                                            <span class="fi fi-us me-1"></span> English
                                        </a>
                                    </li>
                                {% endif %}

                                {% set routeParams = app.request.attributes.get('_route_params')|default({})|merge({'_locale': 'cs'}) %}
                                {% if app.request.locale is not same as 'cs' %}
                                    <li>
                                        <a class="dropdown-item pb-1" href="{{ currentRoute ? path(currentRoute, routeParams) : path('homepage', {'_locale': 'cs'}) }}">
                                            <span class="fi fi-cz me-1"></span> Čeština
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand d-none d-lg-block order-lg-1" href="{{ path('homepage') }}">
                        <img width="50" src="{{ asset('img/speedpuzzling-logo.png') }}" alt="MySpeedPuzzling.com"/>
                    </a>

                    <a class="navbar-brand d-lg-none me-2" href="{{ path('homepage') }}">
                        <img width="50" src="{{ asset('img/speedpuzzling-logo.png') }}" alt="MySpeedPuzzling.com"/>
                    </a>

                    <!-- Toolbar -->
                    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                        <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2 {% if app.request.pathInfo == path('my_profile') %}active{% endif %}" href="{{ path('my_profile') }}">
                            <div class="navbar-tool-icon-box">
                                <i class="navbar-tool-icon ci-user"></i>
                            </div>
                            <div class="navbar-tool-text ms-n3"><small>{{ (logged_user.profile is not null ? 'menu.my_profile' : 'menu.sign_in')|trans }}</small></div>
                        </a>


                        <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2 {% if app.request.pathInfo == path('add_time') %}active{% endif %}" href="{{ path('add_time') }}">
                            <div class="navbar-tool-icon-box">
                                <i class="navbar-tool-icon ci-add"></i>
                            </div>
                            <div class="navbar-tool-text ms-n3"><small>{{ 'menu.add_time'|trans }}</small></div>
                        </a>

                        <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2 {% if app.request.pathInfo == path('stopwatch') %}active{% endif %}" href="{{ path('stopwatch') }}">
                            <div class="navbar-tool-icon-box">
                                <i class="navbar-tool-icon ci-time"></i>
                            </div>
                            <div class="navbar-tool-text ms-n3"><small>{{ 'menu.stopwatch'|trans }}</small></div>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                        <hr class="d-lg-none my-3">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link {% if app.request.pathInfo == path('hub') %}active{% endif %}" href="{{ path('hub') }}">{{ 'menu.hub'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link {% if app.request.pathInfo == path('puzzles') %}active{% endif %}" href="{{ path('puzzles') }}">{{ 'menu.puzzles_overview'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link {% if app.request.pathInfo == path('ladder') %}active{% endif %}" href="{{ path('ladder') }}">{{ 'menu.ladder'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link {% if app.request.pathInfo == path('players') %}active{% endif %}" href="{{ path('players') }}">{{ 'menu.players'|trans }}</a></li>
                            <li class="nav-item"><a class="nav-link {% if app.request.pathInfo == path('faq') %}active{% endif %}" href="{{ path('faq') }}">{{ 'menu.faq'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% for label, messages in app.flashes %}
                <div class="container mt-4">
                    {% for message in messages %}
                        <div class="alert-dismissible fade show alert alert-{{ label }}" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block full_content %}
                <section class="container pt-4">
                    {% block content %}{% endblock %}
                </section>
            {% endblock %}
        </main>

        <footer class="bg-secondary py-4 mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget widget-links">
                            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('hub') }}" class="widget-list-link">{{ 'menu.hub'|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('puzzles') }}" class="widget-list-link">{{ 'menu.puzzles_overview'|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('ladder') }}" class="widget-list-link">{{ 'menu.ladder'|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('players') }}" class="widget-list-link">{{ 'menu.players'|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('faq') }}" class="widget-list-link">{{ 'menu.faq'|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('my_profile') }}" class="widget-list-link">{{ (logged_user.profile is not null ? 'menu.my_profile' : 'menu.sign_in')|trans }}</a>
                                </li>
                                <li class="widget-list-item me-4">
                                    <a href="{{ path('add_time') }}" class="widget-list-link">{{ 'menu.add_time'|trans }}</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="{{ path('stopwatch') }}" class="widget-list-link">{{ 'menu.stopwatch'|trans }}</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="{{ path('feedback', {'url': app.request.uri}) }}" {% if logged_user.profile is not null %}data-turbo-frame="feedbackForm"{% endif %} class="widget-list-link">{{ 'menu.feedback'|trans }}</a>
                                </li>
                                <li class="widget-list-item">
                                    <a target="_blank" href="https://www.buymeacoffee.com/myspeedpuzzling" class="widget-list-link">{{ 'menu.support_us'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 mt-3 mt-sm-0">
                        <div class="fs-xs text-muted text-center text-sm-end">
                            <p class="fs-md">
                                <a href="https://www.instagram.com/myspeedpuzzling/" target="_bkank"><i class="ci-instagram"></i></a>
                                <a class="ms-2" href="https://www.facebook.com/groups/1997202984012397" target="_blank"><i class="ci-facebook"></i></a>
                                <a class="ms-2" href="https://github.com/MySpeedPuzzling/myspeedpuzzling.com" target="_blank"><i class="ci-github"></i></a>
                            </p>
                            &copy; {{ 'footer.created_with_love'|trans({'%simona%': '<a href="mailto:simona@speedpuzzling.cz">Simona&nbsp;Mikešová</a>', '%jan%': '<a href="https://janmikes.cz">Jan&nbsp;Mikeš</a>' })|raw }}
                        </div>
                    </div>
                </div>

                <p class="mt-2 mb-0 text-center">
                    <small class="text-muted">{{ 'footer.about'|trans }}</small>
                </p>
            </div>
        </footer>

        <div class="modal fade" tabindex="-1" role="dialog" id="feedbackModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'feedback.title'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <turbo-frame id="feedbackForm">
                            {{ 'loading'|trans }}
                        </turbo-frame>
                    </div>
                </div>
            </div>
        </div>

        {% if ga_tracking is not empty %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ ga_tracking }}');
            </script>
        {% endif %}
    </body>
</html>
