{% extends 'base.html.twig' %}

{% block title %}{{ 'competition_connection.meta.title'|trans({'%competitionName%': competition.name}) }}{% endblock %}

{% block content %}
    <h1>{{ 'competition_connection.title'|trans({'%competitionName%': competition.name}) }}</h1>

    <a class="btn btn-sm btn-primary me-3 mt-2 mb-2" href="{{ path('event_detail', {'slug': competition.slug}) }}">
        <i class="ci-arrow-left"></i> {{ 'competition_connection.back_to_competition'|trans }}
    </a>

    <p class="my-3">{{ 'competition_connection.description'|trans({'%link%': 'https://www.worldjigsawpuzzle.org/wjpc/2024/participants/individual'})|raw }}</p>

    <div class="p-4 mt-4 mt-md-5 shadow mx-auto" style="max-width: 400px;">
        {{ form_start(connection_form) }}

        {{ form_row(connection_form.participant) }}

        <p class="mt-3 mb-0">
            <input type="submit" name="submit" value="{{ 'forms.save'|trans }}" class="btn btn-primary" />
        </p>
        {{ form_end(connection_form) }}
    </div>
{% endblock %}
