{% extends 'base.html.twig' %}

{% block title %}{{ 'puzzlers_comparison.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ 'puzzlers_comparison.title'|trans }}</h1>

    <div class="row">
        <div class="col">
            <a href="{{ path('player_profile', {playerId: player.playerId}) }}">
                <h2 class="h3"><span class="text-decoration-underline">{{ player.playerName }}</span> <code class="ps-3 text-muted h5">#{{ player.code|upper }}</code></h2>
            </a>
        </div>

        <div class="col">
            <a href="{{ path('player_profile', {playerId: opponent.playerId}) }}">
                <h2 class="h3"><span class="text-decoration-underline">{{ opponent.playerName }}</span> <code class="ps-3 text-muted h5">#{{ opponent.code|upper }}</code></h2>
            </a>
        </div>
    </div>

    {% if comparisons is empty %}
        <div id="filter-no-results" class="filter-no-results mt-3">
            <div class="alert alert-warning">
                {{ 'puzzlers_comparison.nothing_to_compare'|trans }}
            </div>
        </div>
    {% else %}
        <div class="table-responsive custom-table-wrapper mt-3 mb-5">
            <table class="table custom-table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th>{{ 'puzzle'|trans }}</th>
                    <th></th>
                    <th class="text-center">
                        <a href="{{ path('player_profile', {playerId: player.playerId}) }}">{{ player.playerName }}</a>
                    </th>

                    <th class="text-center">
                        <a href="{{ path('player_profile', {playerId: opponent.playerId}) }}">{{ opponent.playerName }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% for comparison in comparisons %}
                        <tr>

                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: comparison.puzzleId}) }}">
                                    <span class="puzzle-title">
                                        {{ comparison.puzzleName }}
                                        <br>
                                        <small>{{ comparison.manufacturerName }}</small>
                                    </span>
                                    <br>
                                    <small>{{ 'pieces_count'|trans({ '%count%': comparison.piecesCount })|raw }}</small>
                                </a>
                            </td>

                            <td>
                                {% if comparison.puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: comparison.puzzleId}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': comparison.manufacturerName ~ ' ' ~ comparison.puzzleName}) }}" src="{{ comparison.puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>

                            <td class="text-center">
                                {{ comparison.playerTime|puzzlingTime }}
                                {% if comparison.diff > 0 %}
                                    <br>
                                    <small class="text-muted">{{ comparison.diff|puzzlingTime }}</small>
                                {% endif %}
                            </td>

                            <td class="text-center">
                                {{ comparison.opponentTime|puzzlingTime }}
                                {% if comparison.diff < 0 %}
                                    <br>
                                    <small class="text-muted">+{{ comparison.diff|puzzlingTime }}</small>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
