{% extends 'base.html.twig' %}

{% block title %}Úprava údajů o skládání{% endblock %}

{% block content %}
    <h1>Úprava údajů o skládání</h1>

    <div class="shadow-lg p-4 mt-3">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 order-lg-2">
                {% if solved_puzzle.puzzleAlternativeName is not null %}
                    {{ solved_puzzle.puzzleAlternativeName }} ({{ solved_puzzle.puzzleName }})
                {% else %}
                    {{ solved_puzzle.puzzleName }}
                {% endif %}
                <br>
                <b>{{ solved_puzzle.manufacturerName|upper }}</b><br>
                {{ solved_puzzle.piecesCount }} dílků<br>

                {% if solved_puzzle.puzzleImage is not null%}
                    <p>
                        <img style="max-width: 200px;max-height: 200px;" src="{{ solved_puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                    </p>
                {% endif %}
            </div>

            <div class="col-sm-5">
                {{ form_start(edit_puzzle_solving_time_form) }}
                    {{ form_widget(edit_puzzle_solving_time_form) }}

                    <input type="submit" name="submit" value="Uložit" class="btn btn-primary" />

                {{ form_end(edit_puzzle_solving_time_form) }}
            </div>
        </div>
    </div>

    <p class="mt-5 mb-3">
        <a href="{{ path('delete_time', {timeId: solved_puzzle.timeId}) }}" class="btn btn-sm btn-outline-danger">
            Nenávratně smazat tento záznam o skládání a dělat, jakože se to nikdy nestalo!
        </a>
    </p>
{% endblock %}
