{% extends 'base.html.twig' %}

{% block title %}{{ 'competition.edit_event'|trans }} - {{ competition.name }}{% endblock %}

{% block content %}
    <div class="pb-4">
        <div class="row gy-3 pb-3">
            <div class="col-lg-8">
                <h1 class="h2">{{ 'competition.edit_event'|trans }}: {{ competition.name }}</h1>

                {% if competition.approvedAt is null %}
                    <div class="alert alert-warning">
                        <i class="bi bi-clock me-2"></i>{{ 'competition.pending_approval_info'|trans }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <a href="{{ path('manage_competition_rounds', {'competitionId': competition.id}) }}" class="btn btn-outline-secondary me-2">
                        <i class="bi bi-list-ol me-1"></i>{{ 'competition.manage_rounds'|trans }}
                    </a>
                    <a href="{{ path('manage_competition_participants', {'competitionId': competition.id}) }}" class="btn btn-outline-secondary">
                        <i class="bi bi-people me-1"></i>{{ 'competition.manage_participants'|trans }}
                    </a>
                </div>

                {% for flash_message in app.flashes('success') %}
                    <div class="alert alert-success">
                        <i class="ci-check-circle me-2"></i>
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <div class="card shadow my-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.shortcut) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.location) }}
                            {{ form_row(form.locationCountryCode) }}
                            {{ form_row(form.isOnline) }}
                            {{ form_row(form.dateFrom) }}
                            {{ form_row(form.dateTo) }}
                            {{ form_row(form.link) }}
                            {{ form_row(form.registrationLink) }}
                            {{ form_row(form.resultsLink) }}
                            {{ form_row(form.logo) }}
                            {{ form_row(form.maintainers) }}

                            <button type="submit" class="btn btn-primary mt-3">
                                {{ 'competition.save_changes'|trans }}
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
