{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_time.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'edit_time.title'|trans }}</h1>

    {{ include('_solving_time_form.html.twig', {
        prevent_puzzle_change: true,
    }) }}

    <p class="mt-3 mb-3">
        <button class="btn btn-sm btn-outline-danger text-wrap" data-bs-toggle="modal" data-bs-target="#modalConfirm">
            {{ 'edit_time.delete_button'|trans }}
        </button>
    </p>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalConfirm">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'edit_time.delete_modal_message'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-sm">{{ 'edit_time.delete_modal_confirm'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">{{ 'edit_time.delete_modal_discard_button'|trans }}</button>
                    <a href="{{ path('delete_time', {timeId: solved_puzzle.timeId}) }}" class="btn btn-primary btn-sm">{{ 'edit_time.delete_modal_confirm_button'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
