{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_player_code.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'edit_player_code.title'|trans }}</h1>

    {{ form_start(form) }}

    <div class="player-code-row">
        {{ form_row(form.code) }}
    </div>

    <p class="mt-3 mb-0">
        <input type="submit" name="submit" value="{{ 'forms.save'|trans }}" class="btn btn-primary" />
    </p>

    {{ form_end(form) }}
{% endblock %}
