{% extends 'base.html.twig' %}

{% block title %}{{ 'faq.meta.title'|trans }}{% endblock %}

{% block json_ld %}
{{ parent() }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {
            "@type": "Question",
            "name": "{{ 'faq.question_fair_play'|trans|striptags }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ 'faq.answer_fair_play'|trans|striptags }}"
            }
        },
        {
            "@type": "Question", 
            "name": "{{ 'faq.question_qr'|trans|striptags }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ 'faq.answer_qr'|trans|striptags }}"
            }
        },
        {
            "@type": "Question",
            "name": "{{ 'faq.question_add_time_for_missing_puzzle'|trans|striptags }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ 'faq.answer_add_time_for_missing_puzzle'|trans|striptags }}"
            }
        },
        {
            "@type": "Question",
            "name": "{{ 'faq.question_edit_or_delete_time'|trans|striptags }}",
            "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ 'faq.answer_edit_or_delete_time'|trans|striptags }}"
            }
        }
    ]
}
</script>
{% endblock %}

{% block content %}
    <h1>{{ 'faq.title'|trans }}</h1>

    {{ 'faq.intro_block'|trans|raw }}

    <div class="accordion accordion-faq my-3">
        {% for item in ['fair_play', 'qr', 'add_time_for_missing_puzzle', 'edit_or_delete_time', 'button_start_solving', 'button_add_my_time', 'helping'] %}
            <div class="accordion-item my-2 shadow">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-{{ item }}" aria-expanded="false" aria-controls="item-{{ item }}">
                        {{ ('faq.question_' ~ item)|trans|raw }}
                    </button>
                </h2>
                <div id="item-{{ item }}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{ ('faq.answer_' ~ item)|trans|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
