{% extends 'base.html.twig' %}

{% block title %}{{ 'faq.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'faq.title'|trans }}</h1>

    {{ 'faq.intro_block'|trans|raw }}

    <!--
    <h4>Co je to speed puzzling?</h4>
    <p>odpověď</p>

    <h4>Jak přidat nové puzzle?</h4>
    <p>odpověď</p>

    <h4>Proč vznikla platforma myspeedpuzzling.com?</h4>
    <p>odpověď</p>

    <h4>Jak správně stopovat čas?</h4>
    <p>odpověď</p>

    <h4>Jak se počítají statistiky?</h4>
    <p>odpověď</p>
    -->

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_fair_play'|trans|raw }}
    </div>

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_qr'|trans|raw }}
    </div>

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_add_time_for_missing_puzzle'|trans|raw }}
    </div>

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_edit_or_delete_time'|trans({'%link%': path('my_profile') })|raw }}
    </div>

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_button_start_solving'|trans|raw }}
    </div>

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_button_add_my_time'|trans|raw }}
    </div>

    {% if app.request.locale is same as 'cs' %}
        <div class="shadow-lg p-4 mt-4">
            {{ 'faq.question_borrowing'|trans|raw }}
        </div>
    {% endif %}

    <div class="shadow-lg p-4 mt-4">
        {{ 'faq.question_helping'|trans|raw }}
    </div>
{% endblock %}
