{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.meta.title'|trans }}{% endblock %}

{% block content %}
    <div class="pb-4">
        <div class="row align-items-center justify-content-center gy-3 pb-3">
            <div class="col-lg-5 col-md-8 col-sm-10">
                <h1 class="h2">{{ 'homepage.title'|trans }}</h1>

                <p>{{ 'homepage.intro_text'|trans }}</p>

                <p class="mt-4 mb-4 text-center">
                    {% if logged_user.profile is not null %}
                        <a href="{{ path('my_profile') }}" class="btn btn-primary btn mb-2 me-2"><i class="ci-user"></i> {{ 'homepage.cta_my_profile'|trans }}</a>
                    {% else %}
                        <a href="{{ path('my_profile') }}" class="btn btn-primary btn mb-2 me-2"><i class="ci-user"></i> {{ 'homepage.cta_sign_in'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('recent_activity') }}" class="btn btn-primary btn mb-2">{{ 'homepage.cta_recent'|trans }}</a>
                </p>

                {{ 'homepage.why_block'|trans|raw }}


                <div class="d-block d-lg-none">
                    {{ 'homepage.help_us_grow_block'|trans|raw }}
                    {{ 'homepage.start_today_block'|trans|raw }}
                </div>
            </div>

            <div class="col-lg-6 col-md-8 offset-lg-1 col-sm-10">
                <h2 class="h4 mt-4">{{ 'ladder.recent_activity'|trans }}</h2>

                {{ include('_recent_activity.html.twig', {
                    solved_puzzles: last_solved_puzzles,
                }) }}

                <a href="{{ path('recent_activity') }}" class="mt-3 btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </div>
        </div>

        <div class="d-none d-lg-block">
            {{ 'homepage.help_us_grow_block'|trans|raw }}
            {{ 'homepage.start_today_block'|trans|raw }}
        </div>
    </div>
{% endblock %}
