{% extends 'base.html.twig' %}

{% block title %}Skládej Rychleji!{% endblock %}

{% block content %}
    <div class="container pb-4">
        <div class="row align-items-center justify-content-center gy-3 pb-3">
            <div class="col-lg-5 col-md-8 col-sm-10">
                <h1>SpeedPuzzling.cz</h1>
                <h2 class="h3">Vítejte ve světě Speed Puzzlingu!</h2>

                <p>Speed Puzzling je vzrušující sport, kde je cílem skládat puzzle co nejrychleji. Každý dílek se počítá, každá vteřina rozhoduje. Představte si tradiční skládání puzzle, ale s adrenalinem závodní dráhy! Naše platforma je první svého druhu - místo, kde můžete své dovednosti ve skládání puzzle měřit nejen proti času, ale také proti ostatním puzzle nadšencům.</p>

                <h3>Proč se zapojit?</h3>

                <ul>
                    <li><strong>Soutěžte s ostatními:</strong> Zaznamenávejte své časy a porovnávejte je s ostatními puzzlaři</li>
                    <li><strong>Žebříčky a statistiky:</strong> Objevte žebříčky nejrychlejších puzzlařů, nejskládanějších puzzlí a nejaktivnějších uživatelů</li>
                    <li><strong>Půjčovna puzzlí:</strong> Za symbolický poplatek si můžete vypůjčit puzzle, poskládat je na čas a zadat svůj výsledek, abyste se mohli porovnat s ostatními</li>
                    <li><strong>Stopky:</strong> Využijte naše integrované stopky pro snadné měření času vašeho skládání</li>
                    <li><strong>Přidejte své puzzle:</strong> Máte puzzle, které na naší stránce chybí? Přidejte ho a podělte se o své časy s komunitou.</li>
                    <li><strong>Budujte svou puzzlařskou komunitu:</strong> Připojte se k naší rostoucí komunitě a sdílejte tipy, triky a přátelskou rivalitu</li>
                    <li><strong>Rozšiřujte své horizonty:</strong> Plánujeme pořádat soutěže, jak online, tak v budoucnu i offline, abyste mohli své dovednosti ukázat naživo</li>
                </ul>

                <div class="d-block d-lg-none">
                    <h3>Pomozte nám růst</h3>
                    <p>Naše aplikace je teprve v začátcích a vaše nápady, zpětná vazba a pomoc při odhalování chyb jsou neocenitelné. Připojte se k nám v této rané fázi a mějte přímý vliv na budoucí podobu speed puzzlingu.</p>

                    <h3>Začněte dnes</h3>
                    <p>Ať už jste začátečník nebo zkušený puzzlař, naše platforma vám nabízí ideální místo pro rozvoj vašich dovedností a měření sil s ostatními. Připojte se k nám a staňte se součástí budoucnosti speed puzzlingu!</p>

                    <div class="shadow-lg p-4 mt-4">
                        <h3>Novinky na platformě</h3>
                        <h5>27.12.</h5>
                        <ul>
                            <li>Žebříček - Možnost zobrazit si 100 nejrychlejších složení 500 dílkových puzzlí</li>
                            <li>Časté dotazy - přidány další dotazy a odpovědi</li>
                            <li>Přidání puzzlí - Možnost zadat EAN a kód puzzlí</li>
                            <li>
                                Přidání času - Možnost zadat datum doskládání
                                <br><small>Může se hodit, pokud zadáváte časy z dřívějšího skládání.</small>
                            </li>
                        </ul>

                        <h5>26.12.</h5>
                        <ul>
                            <li>Nová sekce - Časté dotazy</li>
                            <li>
                                Můj profil - Zobrazení vlastní fotky poskládáných puzzlí
                                <br><small>Ctíme soukromí a tuto fotku nikdo jiný kromě vás samotných nezobrazí, pokud mu na ni nepošlete vy sami přímý odkaz.</small>
                            </li>
                            <li>
                                Nová sekce - Co je nového<br>
                                <small>Od této chvíle, budeme veřejně psát každou novinku týkající se aplikace speedpuzzling.cz :-).</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-8 offset-lg-1 col-sm-10">
                <h2 class="h4 mt-4">Poslední přidané časy</h2>

                <div class="table-responsive custom-table-wrapper mt-4">
                    <table class="table table-striped custom-table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Hráč</th>
                            <th></th>
                            <th>Puzzle</th>
                            <th class="text-end">Čas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for solved_puzzle in last_solved_puzzles %}
                            <tr class="{{ logged_user.profile is not null and solved_puzzle.playerId is same as logged_user.profile.playerId ? 'table-active-player' }}">
                                <td class="player-name">
                                    <a href="{{ path('player_profile', {playerId: solved_puzzle.playerId}) }}">
                                        {{ solved_puzzle.playerName }}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {% if solved_puzzle.puzzleImage is not null%}
                                        <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                                            <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ solved_puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                                        <span class="puzzle-title">
                                            {% if solved_puzzle.puzzleAlternativeName is not null %}
                                                {{ solved_puzzle.puzzleAlternativeName }}<br>
                                                <small>({{ solved_puzzle.puzzleName }})</small>
                                            {% else %}
                                                {{ solved_puzzle.puzzleName }}
                                            {% endif %}
                                            <br>
                                            <small>{{ solved_puzzle.manufacturerName }}</small>
                                        </span>
                                        <br><small>{{ solved_puzzle.piecesCount }}&nbsp;dílků</small>
                                    </a>
                                </td>
                                <td class="text-end">
                                    <span style="color: #000;">{{ solved_puzzle.time|puzzlingTime }}</span><br>
                                    <small>{{ solved_puzzle.trackedAt|ago(locale='cs') }}</small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <a href="{{ path('recent_activity') }}" class="mt-3 btn btn-outline-primary btn-sm">Zobrazit více</a>
            </div>
        </div>

        <div class="d-none d-lg-block">
            <h3>Pomozte nám růst</h3>
            <p>Naše aplikace je teprve v začátcích a vaše nápady, zpětná vazba a pomoc při odhalování chyb jsou neocenitelné. Připojte se k nám v této rané fázi a mějte přímý vliv na budoucí podobu speed puzzlingu.</p>

            <h3>Začněte dnes</h3>
            <p>Ať už jste začátečník nebo zkušený puzzlař, naše platforma vám nabízí ideální místo pro rozvoj vašich dovedností a měření sil s ostatními. Připojte se k nám a staňte se součástí budoucnosti speed puzzlingu!</p>

            <div class="shadow-lg p-4 mt-4">
                <h3>Novinky na platformě</h3>

                <h5>27.12.</h5>
                <ul>
                    <li>Žebříček - Možnost zobrazit si 100 nejrychlejších složení 500 dílkových puzzlí</li>
                    <li>Časté dotazy - přidány další dotazy a odpovědi</li>
                    <li>Přidání puzzlí - Možnost zadat EAN a kód puzzlí</li>
                    <li>
                        Přidání času - Možnost zadat datum doskládání
                        <br><small>Může se hodit, pokud zadáváte časy z dřívějšího skládání.</small>
                    </li>
                </ul>

                <h5>26.12.</h5>
                <ul>
                    <li>Nová sekce - Časté dotazy</li>
                    <li>
                        Můj profil - Zobrazení vlastní fotky poskládáných puzzlí
                        <br><small>Ctíme soukromí a tuto fotku nikdo jiný kromě vás samotných nezobrazí, pokud mu na ni nepošlete vy sami přímý odkaz.</small>
                    </li>
                    <li>
                        Nová sekce - Co je nového<br>
                        <small>Od této chvíle, budeme veřejně psát každou novinku týkající se aplikace speedpuzzling.cz :-).</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
