{% extends 'base.html.twig' %}

{% block title %}Skládej Rychleji!{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="row align-items-center justify-content-center gy-3 py-3 text-lg-start text-center">
            <div class="col-lg-5 col-md-8 col-sm-10">
                <h1>SpeedPuzzling.cz</h1>
                <h2>Rychlostní skládání pro moderního puzzle nadšence</h2>

                <p>Vítejte ve světě speedpuzzlingu! Toto není obyčejné skládání puzzle, jaké znáte z deštivých nedělí. Speedpuzzling je adrenalinová výzva, kde se skládání stává rychlostním sportem. Účastníci se zde snaží složit puzzle co nejrychleji, ať už jde o osobní rekord nebo o souboj s ostatními skládači. Je to perfektní kombinace strategie, rychlosti a dovednosti. Pokud máte zájem o nový způsob, jak oživit svou vášeň pro puzzle, speedpuzzling je přesně pro vás!</p>

                <p><small>Pro více informací o tom, co si pro vás chystáme, mi neváhejte napsat mail na <a href="mailto:simona@speedpuzzling.cz">simona@speedpuzzling.cz</a>.</small></p>
            </div>

            <div class="col-lg-6 col-md-8 offset-lg-1 col-sm-10">
                <div class="px-2 tns-item tns-slide-active" id="tns1-item0">
                    <img class="rounded-3" src="{{ asset('img/art.png') }}" alt="SpeedPuzzling art">
                </div>
            </div>
        </div>

            <h2 class="h4 mt-4">Poslední přidané časy</h2>

            <div class="table-responsive shadow mt-2 mb-5" style="max-width: 600px;">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Hráč</th>
                        <th></th>
                        <th>Puzzle</th>
                        <th></th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for solved_puzzle in last_solved_puzzles %}
                        <tr>
                            <td class="text-center">
                                <a href="{{ path('player_profile', {playerId: solved_puzzle.playerId}) }}">
                                    {{ solved_puzzle.playerName }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if solved_puzzle.puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ solved_puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: solved_puzzle.puzzleId}) }}">
                                    {% if solved_puzzle.puzzleAlternativeName is not null %}
                                        {{ solved_puzzle.puzzleAlternativeName }}
                                        <small>({{ solved_puzzle.puzzleName }})</small>
                                    {% else %}
                                        {{ solved_puzzle.puzzleName }}
                                    {% endif %}
                                    <br>{{ solved_puzzle.piecesCount }}&nbsp;dílků
                                </a>
                            </td>
                            <td>{{ solved_puzzle.groupName }}</td>
                            <td class="text-end">
                                {{ solved_puzzle.time|puzzlingTime }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

    </div>
{% endblock %}
