{% extends 'base.html.twig' %}

{% block title %}{{ 'hub.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="h3 mb-0">
        {% if logged_user.profile is null %}
            {{ 'hub.welcome'|trans }} {{ 'hub.seo_suffix'|trans }}
        {% else %}
            {{ 'hub.welcome_back'|trans }}{% if logged_user.profile.playerName is not null%}, {{ logged_user.profile.playerName }}
            {% if logged_user.profile.countryCode is not null %}
                <span class="shadow-custom fi fi-{{ logged_user.profile.countryCode.name }}"></span>
            {% endif %}{% endif %}
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-lg-6 pt-lg-4">
            <ul class="nav nav-fill nav-tabs mt-0" role="tablist" data-controller="tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#recent-activity" data-bs-toggle="tab" role="tab" data-action="tabs#showTab">
                        <div class="text-center">
                            <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'profile.recent_activity'|trans|raw }}</h6>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#recent-favorites-activity" data-bs-toggle="tab" role="tab" data-action="tabs#showTab">
                        <div class="text-center">
                            <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.recent_favorites_activity'|trans|raw }}</h6>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="recent-activity" role="tabpanel">
                    <twig:RecentActivity loading="lazy" limit="20" :showLimit="4"  />
                </div>

                <div class="tab-pane fade" id="recent-favorites-activity" role="tabpanel">
                    {% if logged_user.profile is null %}
                        <div class="alert alert-accent small d-flex mt-3" role="alert">
                            <div class="alert-icon py-0">
                                <i class="ci-announcement"></i>
                            </div>
                            <div>{{ 'hub.not_logged'|trans }}</div>
                        </div>
                    {% else %}
                        <twig:RecentActivity loading="lazy" limit="20" :showLimit="4" :favoritesOnly="true" />
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <twig:MostActiveSoloPlayers loading="lazy" :showLimit="4" />
        </div>

        <div class="col-lg-6">
            <twig:MostSolvedPuzzles loading="lazy" :showLimit="4" />
        </div>

        <div class="col-lg-6">
            <twig:GlobalStatistics loading="lazy" />
        </div>
    </div>
{% endblock %}
