{% extends 'base.html.twig' %}

{% block title %}Žebříček{% endblock %}

{% block content %}
    <h1>Žebříček</h1>

    <h2 class="h4 mt-4">Nejrychlejších 10 z 0 na 500 dílků</h2>

    <div class="table-responsive shadow mt-3 mb-5">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th></th>
                <th>Puzzle</th>
                <th>Jméno</th>
                <th class="text-end">Čas</th>
            </tr>
            </thead>
            <tbody>
                {% for fastest_player in fastest_players_500_pieces %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td>
                            <a href="{{ path('puzzle_detail', {puzzleId: fastest_player.puzzleId}) }}">
                                {{ fastest_player.puzzleName }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('player_profile', {playerId: fastest_player.playerId}) }}">
                                {{ fastest_player.playerName }}
                            </a>
                        </td>
                        <td class="text-end">{{ fastest_player.time|date('H:i:s', 'UTC') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="h4 mt-4">Nejskládanější puzzle</h2>

    <div class="table-responsive shadow mt-3 mb-5">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th></th>
                <th>Puzzle</th>
                <th class="text-center">Skládáno</th>
                <th class="text-end">Nejrychlejší čas</th>
                <th class="text-end">Průměrný čas</th>
            </tr>
            </thead>
            <tbody>
                {% for most_solved_puzzle in most_solved_puzzles %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td>
                            <a href="{{ path('puzzle_detail', {puzzleId: most_solved_puzzle.puzzleId}) }}">
                                {{ most_solved_puzzle.puzzleName }} ({{ most_solved_puzzle.piecesCount }} dílků)
                            </a>
                        </td>
                        <td class="text-center">{{ most_solved_puzzle.solvedTimes }}x</td>
                        <td class="text-end">{{ most_solved_puzzle.fastestTime|date('H:i:s', 'UTC') }}</td>
                        <td class="text-end">{{ most_solved_puzzle.averageTime|date('H:i:s', 'UTC') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
