{% extends 'base.html.twig' %}

{% block title %}Žebříček{% endblock %}

{% block content %}
    <h1>Žebříček</h1>

    <div class="row">
        <div class="col">
            <h2 class="h4 mt-4">Nejrychlejších 10 z 0 na 500 dílků</h2>

            <div class="table-responsive shadow mt-3 mb-5">
                <table class="table table-ladder table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Jméno</th>
                        <th class="text-end">Čas</th>
                        <th></th>
                        <th>Puzzle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fastest_player in fastest_players_500_pieces %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>
                                <a href="{{ path('player_profile', {playerId: fastest_player.playerId}) }}">
                                    {{ fastest_player.playerName }}
                                </a>
                            </td>
                            <td class="text-end">{{ fastest_player.time|puzzlingTime }}</td>
                            <td class="text-center">
                                {% if fastest_player.puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: fastest_player.puzzleId}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ fastest_player.puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: fastest_player.puzzleId}) }}">
                                    {% if fastest_player.puzzleAlternativeName is not null %}
                                        {{ fastest_player.puzzleAlternativeName }}
                                        <small>({{ fastest_player.puzzleName }})</small>
                                    {% else %}
                                        {{ fastest_player.puzzleName }}
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <h2 class="h4 mt-4">Nejskládanější puzzle</h2>

            <div class="table-responsive shadow mt-3 mb-5">
                <table class="table table-ladder table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Puzzle</th>
                        <th class="text-end">Časy</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for most_solved_puzzle in most_solved_puzzles %}
                        <tr>
                            <td class="text-center">{{ most_solved_puzzle.solvedTimes }}x</td>
                            <td class="text-center">
                                {% if most_solved_puzzle.puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: most_solved_puzzle.puzzleId}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ most_solved_puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: most_solved_puzzle.puzzleId}) }}">
                                    {% if most_solved_puzzle.puzzleAlternativeName is not null %}
                                        {{ most_solved_puzzle.puzzleAlternativeName }}
                                        <small>({{ most_solved_puzzle.puzzleName }})</small>
                                    {% else %}
                                        {{ most_solved_puzzle.puzzleName }}
                                    {% endif %}
                                    <br>{{ most_solved_puzzle.piecesCount }}&nbsp;dílků
                                </a>
                            </td>
                            <td class="text-end">
                                Top: {{ most_solved_puzzle.fastestTime|puzzlingTime }}<br>
                                <small class="text-muted">Průměr: {{ most_solved_puzzle.averageTime|puzzlingTime }}</small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
