{% extends 'base.html.twig' %}

{% block title %}{{ 'ladder.title'|trans }} - {{ 'ladder.overview'|trans }}{% endblock %}

{% block content %}
    <h1><span class="me-3">{{ 'ladder.title'|trans }}</span> {{ include('_ladder_dropdown.html.twig') }}</h1>

    <div class="row">
        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.solo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_players_500_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_solo_500_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>

        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.solo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_players_1000_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_solo_1000_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.duo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_pairs_500_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_pairs_500_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>

        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.duo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_pairs_1000_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_pairs_1000_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.team'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_groups_500_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_groups_500_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>

        <div class="col">
            <h2 class="h4 mt-4">{{ 'ladder.team'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }} <span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 10</span></h2>

            {{ include('_ladder.html.twig', {
                puzzle_solving_times: fastest_groups_1000_pieces
            }) }}

            <p class="mb-3">
                <a href="{{ path('ladder_groups_1000_pieces') }}" class="btn btn-outline-primary btn-sm">{{ 'show_more'|trans }}</a>
            </p>
        </div>
    </div>

    <div class="alert alert-accent small d-flex mt-3" role="alert">
        <div class="alert-icon py-0">
            <i class="ci-announcement"></i>
        </div>
        <div></div>
        {{ 'ladder.link_to_hub'|trans({'%link%': path('hub')})|raw }}
    </div>
{% endblock %}
