{% extends 'base.html.twig' %}

{% set currentLadder = app.request.attributes.get('_route') %}
{% set type = currentLadder starts with 'ladder_solo' ? 'solo' : (currentLadder starts with 'ladder_pairs' ? 'pairs' : 'groups') %}
{% set pieces = currentLadder matches '/1000/' ? 1000 : 500 %}
{% set category_label = ('ladder.' ~ (type == 'solo' ? 'solo' : type == 'pairs' ? 'duo' : 'team'))|trans %}

{% block title %}{{ 'ladder.meta.title_per_pieces'|trans({'%pieces%': pieces, '%category%': category_label}) }}{% endblock %}
{% block meta_description %}{{ 'ladder.meta.description_per_pieces'|trans({'%pieces%': pieces, '%category%': category_label}) }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ 'ladder.meta.title_per_pieces'|trans({'%pieces%': pieces, '%category%': category_label}) }} <span class="h3"><span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 100</span></span></h1>

    {{ include('_ladder_dropdown.html.twig') }}

    {{ include('_ladder_dropdown_countries.html.twig') }}

    <twig:LadderTable :type="type" :piecesCount="pieces" :limit="100" :countryCode="active_country ? active_country.name : null" />
{% endblock %}
