{% extends 'base.html.twig' %}

{% block title %}
    {% set currentLadder = app.request.attributes.get('_route') %}

    {% if currentLadder starts with 'ladder_solo_500_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.solo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }}
    {% elseif currentLadder starts with 'ladder_solo_1000_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.solo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }}
    {% elseif currentLadder starts with 'ladder_pairs_500_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.duo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }}
    {% elseif currentLadder starts with 'ladder_pairs_1000_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.duo'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }}
    {% elseif currentLadder starts with 'ladder_groups_500_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.team'|trans }} - {{ 'pieces_count'|trans({ '%count%': 500 })|raw }}
    {% elseif currentLadder starts with 'ladder_groups_1000_pieces' %}
        {{ 'ladder.title'|trans }} - {{ 'ladder.team'|trans }} - {{ 'pieces_count'|trans({ '%count%': 1000 })|raw }}
    {% endif %}
{% endblock %}

{% block content %}
    {% set currentLadder = app.request.attributes.get('_route') %}

    <h1 class="mb-4">{{ 'ladder.title'|trans }} <span class="h3"><span class="ms-2 badge bg-primary rounded-pill badge-shadow">Top 100</span></span></h1>

    {{ include('_ladder_dropdown.html.twig') }}

    {{ include('_ladder_dropdown_countries.html.twig') }}

    {{ include('_ladder.html.twig', {
        puzzle_solving_times: solved_puzzle_times
    }) }}
{% endblock %}
