{% extends 'base.html.twig' %}

{% block title %}Můj profil{% endblock %}

{% block content %}
    <h1>Můj profil <code class="text-muted h4 ps-3">#{{ player.code|upper }}</code></h1>

    <a class="btn btn-sm btn-primary me-3" href="{{ path('edit_profile') }}"><i class="ci-edit"></i> Upravit údaje</a>

    <a class="btn btn-sm btn-outline-primary" href="{{ path('logout') }}"><i class="ci-sign-out"></i> Odhlásit se</a>

    <div class="shadow-lg p-3 mt-3">
        {% if player.playerName is null %}
            <div class="alert alert-warning d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-security-announcement"></i>
                </div>
                <div>Je nám líto, ale pokud si nevyplníš jméno nebo přezdívku, nevíme jak tě prezentovat. Proto, jsou všechny tvé výsledky neveřejné.</div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm">
                <p>
                    <b>Jméno/přezdívka:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.playerName is null %}
                        Nevyplněno
                    {% else %}
                        {{ player.playerName }}
                    {% endif %}
                </p>

                <p class="text-muted">
                    <b>E-mail (neveřejný):</b><br>
                    {% if player.email is null %}
                        Nevyplněno
                    {% else %}
                        {{ player.email }}
                    {% endif %}
                </p>

                <p class="mb-0">
                    <b>Avatar:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.avatar is null %}
                        Nevyplněno
                    {% else %}
                        <img class="rounded-2" style="max-width: 150px;max-height: 150px;" src="{{ player.avatar|imagine_filter('puzzle_small') }}">
                    {% endif %}
                </p>
            </div>

            <div class="col-sm">
                <p>
                    <b>Město, stát:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.city is null %}
                        Nevyplněno
                    {% else %}
                        {{ player.city }}, {{ player.country }}
                    {% endif %}
                </p>

                <p>
                    <b>Facebook:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.facebook is null %}
                    Nevyplněno
                    {% else %}
                        {{ player.facebook }}
                    {% endif %}<br>
                </p>

                <p>
                    <b>Instagram:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.instagram is null %}
                    Nevyplněno
                    {% else %}
                        {{ player.instagram }}
                    {% endif %}<br>
                </p>

                <p class="mb-0">
                    <b>O mě:</b> <small class="text-muted">*veřejné</small><br>
                    {% if player.bio is null %}
                    Nevyplněno
                    {% else %}
                        {{ player.bio }}
                    {% endif %}<br>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm">
            <h3 class="mt-2">Statistiky</h3>

            <p>
                <strong>Čas strávený skládáním:</strong> {{ statistics.totalSeconds|puzzlingTime }}<br>
                <strong>Počet složených puzzlí:</strong> {{ statistics.solvedPuzzlesCount }}<br>
                <strong>Počet složených dílků:</strong> {{ statistics.totalPieces }}
            </p>
        </div>

        <div class="col-sm">
            <h3 class="mt-2">Oblíbení puzzleři</h3>

            {% if favorite_players is empty %}
                <div class="alert alert-warning">
                    Žádní oblíbení puzzleři
                </div>
            {% else %}
                <ul>
                    {% for favorite_puzzler in favorite_players %}
                        <li>
                            <a href="{{ path('player_profile', {playerId: favorite_puzzler.playerId}) }}">
                                {{ favorite_puzzler.playerName }} <code class="text-muted">#{{ favorite_puzzler.playerCode|upper }}</code>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if stopwatches|length > 0 %}
            <div class="col-sm">
                <h3 class="mt-4">Moje stopky</h3>

                <ul>
                    {% for stopwatch in stopwatches %}
                        <li>
                            <a href="{{ path('stopwatch', {stopwatchId: stopwatch.stopwatchId}) }}">
                                {{ stopwatch.interval|puzzlingTime }}{% if stopwatch.puzzleId is not null %} - {{ stopwatch.puzzleName }}{% endif %} ({{ stopwatch.status.title }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="row mt-5">
        <div class="col-sm">
            <h2 class="h4">Poskládané puzzle</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Puzzle</th>
                        <th class="text-center">Rank</th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for puzzle_id, grouped_puzzle in solo_puzzles %}
                        <tr>
                            <td class="text-center">
                                {% if grouped_puzzle[0].puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ grouped_puzzle[0].puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if grouped_puzzle[0].finishedPuzzlePhoto is not null%}
                                    <div class="gallery">
                                        <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(grouped_puzzle[0].finishedPuzzlePhoto) }}">
                                            <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ grouped_puzzle[0].finishedPuzzlePhoto|imagine_filter('puzzle_small') }}">
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                    <span class="puzzle-title">
                                        {% if grouped_puzzle[0].puzzleAlternativeName is not null %}
                                            {{ grouped_puzzle[0].puzzleAlternativeName }}<br>
                                            <small>({{ grouped_puzzle[0].puzzleName }})</small>
                                        {% else %}
                                            {{ grouped_puzzle[0].puzzleName }}
                                        {% endif %}
                                        <br>
                                        <small>{{ grouped_puzzle[0].manufacturerName }}</small>
                                    </span>
                                    <br>{{ grouped_puzzle[0].piecesCount }}&nbsp;dílků
                                </a>
                            </td>

                            <td class="text-center">
                                {{ ranking[puzzle_id].rank }}.
                            </td>

                            <td class="text-end">
                                {% for puzzle in grouped_puzzle %}
                                    {% if loop.first %}
                                        {{ puzzle.time|puzzlingTime }}

                                        <a class="btn btn-sm btn-outline-dark px-2 py-1 border-0" href="{{ path('edit_time', {timeId: puzzle.timeId}) }}"><i class="ci-edit"></i></a>
                                    {% endif %}
                                {% endfor %}

                                {% if grouped_puzzle|length > 1 %}
                                    <a href="#" class="show-more-times">
                                        <span class="badge bg-dark badge-shadow rounded-pill">Zobrazit další časy ({{ grouped_puzzle|length -1 }}x)</span>
                                    </a>

                                    <div class="more-times hidden">
                                        {% for puzzle in grouped_puzzle %}
                                            {% if not loop.first %}
                                                {{ puzzle.time|puzzlingTime }}
                                                <a class="btn btn-sm btn-outline-dark px-2 py-1 border-0" href="{{ path('edit_time', {timeId: puzzle.timeId}) }}"><i class="ci-edit"></i></a>
                                                {% if not loop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if solo_puzzles|length < 1 %}
                        <tr>
                            <td colspan="5" class="text-center">Žádné poskládané puzzle? Tak to jsi teda pěkná bačkora.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm">
            <h2 class="h4">Skupinové skládání</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Puzzle</th>
                        <th></th>
                        <th class="text-end">Čas</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group_solved_puzzle in group_puzzles %}
                        <tr>
                            <td class="text-center">
                                {% if group_solved_puzzle.puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: group_solved_puzzle.puzzleId}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ group_solved_puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if group_solved_puzzle.finishedPuzzlePhoto is not null%}
                                    <div class="gallery">
                                        <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(group_solved_puzzle.finishedPuzzlePhoto) }}">
                                            <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ group_solved_puzzle.finishedPuzzlePhoto|imagine_filter('puzzle_small') }}">
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: group_solved_puzzle.puzzleId}) }}">
                                    <span class="puzzle-title">
                                        {% if group_solved_puzzle.puzzleAlternativeName is not null %}
                                            {{ group_solved_puzzle.puzzleAlternativeName }}<br>
                                            <small>({{ group_solved_puzzle.puzzleName }})</small>
                                        {% else %}
                                            {{ group_solved_puzzle.puzzleName }}
                                        {% endif %}
                                        <br>
                                        <small>{{ group_solved_puzzle.manufacturerName }}</small>
                                    </span>
                                    <br>{{ group_solved_puzzle.piecesCount }}&nbsp;dílků
                                </a>
                            </td>

                            <td>
                                {% for puzzle_solver in group_solved_puzzle.players %}
                                    {% if not loop.first %}
                                        <br>
                                    {% endif %}
                                    {% if puzzle_solver.playerId is not null %}
                                        <a href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {{ puzzle_solver.playerName }}
                                        </a>
                                    {% else %}
                                        {{ puzzle_solver.playerName }}
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="text-end">{{ group_solved_puzzle.time|puzzlingTime }}</td>
                            <td class="text-end">
                                {% if logged_user.profile is not null and logged_user.profile.playerId is same as group_solved_puzzle.addedByPlayerId%}
                                    <a class="btn btn-sm btn-outline-dark px-2 py-1 border-0" href="{{ path('edit_time', {timeId: group_solved_puzzle.timeId}) }}"><i class="ci-edit"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if group_puzzles|length < 1 %}
                        <tr>
                            <td colspan="5" class="text-center">Žádné puzzle jsi ve skupině ještě nikdy neskládal? Tak utíkej rychle někoho najít, vyberte puzzle a skládejte!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Select all elements with the class 'show-more-times'
        const showMoreElements = document.querySelectorAll('.show-more-times');

        // Add click event listeners to these elements
        showMoreElements.forEach(function(element) {
            element.addEventListener('click', function(event) {
                // Prevent default link behavior
                event.preventDefault();

                // Add the 'hidden' class to the clicked element
                this.classList.add('hidden');

                // Logic to find the corresponding 'more-times' element
                // This needs to be adjusted based on the actual DOM structure
                let moreTimesElement = this.nextElementSibling;
                while (moreTimesElement && !moreTimesElement.classList.contains('more-times')) {
                    moreTimesElement = moreTimesElement.nextElementSibling;
                }

                // If the 'more-times' element is found, remove the 'hidden' class
                if (moreTimesElement) {
                    moreTimesElement.classList.remove('hidden');
                }
            });
        });
    });
</script>
{% endblock %}
