{% extends 'base.html.twig' %}

{% block title %}{{ 'my_profile.meta.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <h1>{{ 'my_profile.title'|trans }} <code class="text-muted h4 ps-3">#{{ player.code|upper }}</code></h1>

            <a class="btn btn-sm btn-primary me-3" href="{{ path('edit_profile') }}">
                <i class="ci-edit"></i> {{ 'my_profile.edit'|trans }}
            </a>

            <a class="btn btn-sm btn-outline-primary" href="{{ path('logout') }}">
                <i class="ci-sign-out"></i> {{ 'my_profile.logout'|trans }}
            </a>
        </div>

        <div class="col-md" style="max-width: 366px;" data-controller="clipboard">
            <div class="pt-3 pt-md-4 share-profile-link">
                Share your profile:
                <div class="input-group">
                    <input
                        data-action="click->clipboard#selectInputContent dblclick->clipboard#selectInputContent focus->clipboard#selectInputContent"
                        {{ stimulus_target('clipboard', 'input')}}
                        value="{{ url('player_profile', {playerId: player.playerId}) }}"
                        class="form-control"
                        type="text"
                        readonly
                    >
                    <button {{ stimulus_action('clipboard', 'copyToClipboard', 'click')}} id="share-profile-link-button" class="btn btn-icon btn-primary" type="button">
                        <i {{ stimulus_target('clipboard', 'buttonIcon')}} class="ci-share"></i>
                    </button>
                </div>

                <small class="text-muted">{{ 'my_profile.share_metion_myspeedpuzzling'|trans }} <code>@MySpeedPuzzling</code></small>
            </div>
        </div>
    </div>


    <div class="shadow-lg p-3 mt-3">
        {% if player.playerName is null %}
            <div class="alert alert-warning d-flex" role="alert">
                <div class="alert-icon">
                    <i class="ci-security-announcement"></i>
                </div>
                <div>
                    {{ 'my_profile.missing_name_info'|trans }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm">
                <p>
                    <b>{{ 'my_profile.name'|trans }}:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.playerName is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.playerName }}
                    {% endif %}
                </p>

                <p class="text-muted">
                    <b>{{ 'email'|trans }} ({{ 'my_profile.not_public_info'|trans }}):</b><br>
                    {% if player.email is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.email }}
                    {% endif %}
                </p>

                <p>
                    <b>{{ 'profile.avatar'|trans }}:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.avatar is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        <img class="rounded-2" style="max-width: 150px;max-height: 150px;" alt="Avatar" src="{{ player.avatar|imagine_filter('puzzle_small') }}">
                    {% endif %}
                </p>

                <p>
                    <b>{{ 'profile.about_me'|trans }}:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.bio is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.bio|nl2br }}
                    {% endif %}<br>
                </p>
            </div>

            <div class="col-sm">
                <p>
                    <b>{{ 'profile.location'|trans }}:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.city is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.city }}
                    {% endif %}
                </p>

                <p>
                    <b>{{ 'profile.nationality'|trans }}:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.countryCode is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.countryCode.value }}
                        <span class="shadow-custom fi fi-{{ player.countryCode.name }}"></span>
                    {% endif %}
                </p>

                <p>
                    <b>Facebook:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.facebook is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.facebook|facebook }}
                    {% endif %}<br>
                </p>

                <p>
                    <b>Instagram:</b> <small class="text-muted">*{{ 'my_profile.public_info'|trans }}</small><br>
                    {% if player.instagram is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.instagram|instagram }}
                    {% endif %}<br>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm">
            <h3 class="mt-2">{{ 'profile.statistics'|trans }}</h3>

            {{ include('_player_statistics.html.twig') }}
        </div>

        <div class="col-sm">
            <h3 class="mt-2">{{ 'profile.favorite_puzzlers'|trans }}</h3>

            {% if favorite_players is empty %}
                <div class="alert alert-warning">
                    {{ 'profile.no_favorite_puzzlers'|trans }}
                </div>
            {% else %}
                <ul>
                    {% for favorite_puzzler in favorite_players %}
                        <li>
                            <a href="{{ path('player_profile', {playerId: favorite_puzzler.playerId}) }}">
                                {{ favorite_puzzler.playerName }} <code class="text-muted">#{{ favorite_puzzler.playerCode|upper }}</code>
                            </a>
                            {% if favorite_puzzler.playerCountry is not null %}
                                <small class="shadow-custom fi fi-{{ favorite_puzzler.playerCountry.name }}"></small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if stopwatches|length > 0 %}
            <div class="col-sm">
                <h3 class="mt-4">{{ 'my_profile.stopwatches'|trans }}</h3>

                <ul>
                    {% for stopwatch in stopwatches %}
                        <li>
                            <a href="{{ path('stopwatch', {stopwatchId: stopwatch.stopwatchId}) }}">
                                {{ stopwatch.interval|puzzlingTime }}{% if stopwatch.puzzleId is not null %} - {{ stopwatch.puzzleName }}{% endif %} ({{ ('stopwatch.status.' ~ stopwatch.status.value)|trans }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {{ include('_player_profile_results.html.twig') }}
{% endblock %}
