{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName ?? ('#' ~ player.code|upper) }} - {{ 'menu.statistics'|trans }}{% endblock %}

{% block content %}

    <twig:PlayerHeader player="{{ player }}" />

    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set routeParams = app.request.attributes.get('_route_params')|default({}) %}

    <div class="mb-2">
        <div class="dropdown d-inline-block">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="me-1 ci-calendar"></i>
                {% if active_show_all %}
                    {{ 'dates.all_time'|trans }}
                {% elseif active_year and active_month.month <= 0 %}
                    {{ 'dates.year'|trans }} {{ active_month.year }}
                {% else %}
                    {{ ('dates.months.' ~ active_month.month)|trans }} {{ active_month.year }}
                {% endif %}
            </button>
            <div class="dropdown-menu">
                <a href="{{ path(currentRoute, routeParams|merge({'month': null, 'year': null, 'show-all': true})) }}" class="dropdown-item {{ active_show_all ? 'active' }}">
                    {{ 'dates.all_time'|trans }}
                </a>

                {% for year in available_years %}
                    <a href="{{ path(currentRoute, routeParams|merge({'month': null, 'year': year, 'show-all': null})) }}" class="dropdown-item {{ not active_show_all and active_year == year and active_month.month <= 0 ? 'active' }}">
                        {{ 'dates.year'|trans }} {{ year }}
                    </a>
                {% endfor %}

                <div class="dropdown-divider"></div>

                {% for month in available_months %}
                <a href="{{ path(currentRoute, routeParams|merge({'month': month.month, 'year': month.year, 'show-all': null})) }}" class="dropdown-item {{ not active_show_all and active_year == month.year and active_month.month == month.month ? 'active' }}">
                    {{ ('dates.months.' ~ month.month)|trans }} {{ month.year }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <twig:PlayerStatistics playerId="{{ player.playerId }}" dateFrom="{{ date_from }}" dateTo="{{ date_to }}" />

{% endblock %}
