{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName }} - {{ 'menu.collection'|trans }}{% endblock %}

{% block content %}
    <twig:PlayerHeader player="{{ player }}" />

    {% if puzzle_collections is not empty %}
        <div class="row g-2 g-md-3">
            {% for puzzle_collection in puzzle_collections %}
                {{ include('_puzzle_item.html.twig', {
                    'puzzle': puzzle_collection,
                    'puzzles_solved_by_user': [],
                    'search': null,
                }) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">{{ 'collection.empty_info'|trans }}</div>
    {% endif %}

{% endblock %}
