{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName }} statistics{% endblock %}

{% block content %}
    <h1>
        {{ player.playerName }}
        {% if player.countryCode is not null %}
            <span class="h4 shadow-custom fi fi-{{ player.countryCode.name }}"></span>
        {% endif %}

        <twig:PlayerCodeHeader player="{{ player }}" />
    </h1>

    <p class="mb-0">
        <a href="#"><i class="ci-arrow-left"></i></a> Únor 2025 <a href="#"><i class="ci-arrow-right"></i></a>
    </p>

    <div class="row">
        <div class="col-md-4 my-2">
            <div class="card card-body shadow">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-0">
                        <i class="bi-puzzle"></i>
                        {{ overall_statistics.solvedPuzzlesCount }}
                    </h4>
                    <div>
                        Složených puzzlí
                    </div>
                </div>

                <div class="position-relative mt-2 mx-auto">
                    {{ render_chart(manufacturers_chart) }}
                </div>
            </div>
        </div>

        <div class="col-md-4 my-2">
            <div class="card card-body shadow">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-0">
                        <i class="bi-stopwatch"></i>
                        {{ overall_statistics.totalSeconds|puzzlingTime }}
                    </h4>
                    <div>
                        Skládací čas
                    </div>
                </div>

                <div style="height: 200px;width: 100%;" data-controller="time-chart" class="position-relative mt-2 mx-auto">
                    {{ render_chart(puzzling_time_chart) }}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-body shadow my-2">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-0">
                        <i class="bi-puzzle"></i>
                        {{ overall_statistics.totalPieces }}
                    </h4>
                    <div>
                        Umístěných dílků
                    </div>
                </div>
            </div>

            <div class="card card-body shadow my-2">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-0">
                        <i class="bi-fire"></i>
                        9
                    </h4>
                    <div>
                        Longest streak
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="puzzle-category-types mt-3 my-2">
        <button class="btn active">
            <span class="users-icons"><i class="ci-user"></i></span>
            {{ 'ladder.solo'|trans }}
        </button>

        <button class="btn">
            <span class="users-icons duo"><i class="ci-user"></i><i class="ci-user"></i></span>
            {{ 'ladder.duo'|trans }}
        </button>

        <button class="btn">
            <span class="users-icons team"><i class="ci-user"></i><i class="ci-user"></i><i class="ci-user"></i><i class="ci-user"></i></span>
            {{ 'ladder.team'|trans }}
        </button>
    </div>

    {% if solo_statistics.solvedPuzzlesCount > 0 %}
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0">
                            <i class="bi-puzzle"></i>
                            {{ solo_statistics.solvedPuzzlesCount }}
                        </h4>
                        <div>
                            Složených puzzlí
                        </div>
                    </div>

                    <div class="position-relative mt-2 mx-auto">
                        {{ render_chart(manufacturers_chart) }}
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0">
                            <i class="bi-puzzle"></i>
                            {{ solo_statistics.totalPieces }}
                        </h4>
                        <div>
                            Umístěných dílků
                        </div>
                    </div>

                    <div class="position-relative mt-2 mx-auto">
                        {{ render_chart(pieces_chart) }}
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0">
                            <i class="bi-stopwatch"></i>
                            {{ solo_statistics.totalSeconds|puzzlingTime }}
                        </h4>
                        <div>
                            Skládací čas
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 text-center">
                            <i class="bi-puzzle"></i>
                            500<br>
                            <small>10x</small>
                        </h4>
                        <div class="text-end">
                            Nejrychlejší: 1:00:00<br>
                            Průměrný: 1:00:00
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 text-center">
                            <i class="bi-puzzle"></i>
                            300<br>
                            <small>10x</small>
                        </h4>
                        <div class="text-end">
                            Nejrychlejší: 1:00:00<br>
                            Průměrný: 1:00:00
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 text-center">
                            <i class="bi-puzzle"></i>
                            200<br>
                            <small>10x</small>
                        </h4>
                        <div class="text-end">
                            Nejrychlejší: 1:00:00<br>
                            Průměrný: 1:00:00
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card card-body shadow">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 text-center">
                            <i class="bi-puzzle"></i>
                            100<br>
                            <small>10x</small>
                        </h4>
                        <div class="text-end">
                            Nejrychlejší: 1:00:00<br>
                            Průměrný: 1:00:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
