{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName }}{% endblock %}

{% block content %}
    <h1>
        {{ player.playerName }} <code class="ps-3 text-muted h4">#{{ player.code|upper }}</code>
    </h1>

    {% if logged_user.profile is null or logged_user.profile.playerId is not same as player.playerId%}
        <p>
            {% if logged_user.profile is not null and player.playerId in logged_user.profile.favoritePlayers %}
                <a href="{{ path('remove_player_from_favorite', {playerId: player.playerId}) }}" class="btn btn-sm btn-warning me-1 mb-1">
                    {{ 'profile.remove_from_favorites'|trans }} <i class="ms-1 ci-star-filled"></i>
                </a>
            {% else %}
                <a href="{{ path('add_player_to_favorite', {playerId: player.playerId}) }}" class="btn btn-sm btn-outline-warning me-1 mb-1">
                    {{ 'profile.add_to_favorites'|trans }} <i class="ms-1 ci-star"></i>
                </a>
            {% endif %}

            <a href="{{ path('compare_players', {opponentPlayerId: player.playerId}) }}" class="btn btn-sm btn-outline-primary me-1 mb-1">
                {{ 'profile.compare'|trans }} <i class="ms-1 ci-compare"></i>
            </a>
        </p>
    {% endif %}

    <div class="shadow-lg p-3 mt-3">
        <div class="row">
            <div class="col-sm">
                <p>
                    <b>{{ 'profile.avatar'|trans }}:</b><br>
                    {% if player.avatar is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        <img class="rounded-2" style="max-width: 150px;max-height: 150px;" src="{{ player.avatar|imagine_filter('puzzle_small') }}">
                    {% endif %}
                </p>

                <p class="mb-0">
                    <b>{{ 'profile.about_me'|trans }}:</b><br>
                    {% if player.bio is null %}
                    {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.bio }}
                    {% endif %}<br>
                </p>
            </div>

            <div class="col-sm">
                <p>
                    <b>{{ 'profile.city_country'|trans }}:</b><br>
                    {% if player.city is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.city }}, {{ player.country }}
                    {% endif %}
                </p>

                <p>
                    <b>Facebook:</b><br>
                    {% if player.facebook is null %}
                    {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.facebook }}
                    {% endif %}<br>
                </p>

                <p class="mb-0">
                    <b>Instagram:</b><br>
                    {% if player.instagram is null %}
                    {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.instagram }}
                    {% endif %}<br>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h3 class="mt-2">{{ 'profile.statistics'|trans }}</h3>

            <p>
                <strong>{{ 'profile.statistics_time'|trans }}:</strong> {{ statistics.totalSeconds|puzzlingTime }}<br>
                <strong>{{ 'profile.statistics_puzzles_solved'|trans }}:</strong> {{ statistics.solvedPuzzlesCount }}<br>
                <strong>{{ 'profile.statistics_pieces_count'|trans }}:</strong> {{ statistics.totalPieces }}
            </p>
        </div>

        <div class="col">
            <h3 class="mt-2">{{ 'profile.favorite_puzzlers'|trans }}</h3>

            {% if favorite_players is empty %}
                <div class="alert alert-warning">
                    {{ 'profile.no_favorite_puzzlers'|trans }}
                </div>
            {% else %}
                <ul>
                    {% for favorite_puzzler in favorite_players %}
                        <li>
                            <a href="{{ path('player_profile', {playerId: favorite_puzzler.playerId}) }}">
                                {{ favorite_puzzler.playerName }} <code class="text-muted">#{{ favorite_puzzler.playerCode|upper }}</code>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div {{ stimulus_controller('puzzle_filter') }}>
        <h2 class="h4 mt-4">{{ 'profile.solved_puzzles'|trans }}</h2>

        {{ include('_puzzle_filter.html.twig') }}

        <div class="row">
            <div class="col-sm">
                <h2 class="h4">{{ 'profile.solved_puzzles_solo'|trans }}</h2>

                <div class="mt-2 mb-5">
                    {{ include('_player_solvings.html.twig', {solved_puzzles: solo_puzzles}) }}
                </div>
            </div>

            <div class="col-sm">
                <h2 class="h4">{{ 'profile.solved_puzzles_group'|trans }}</h2>

                <div class="mt-2 mb-5">
                    {{ include('_player_solvings.html.twig', {solved_puzzles: group_puzzles}) }}
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Select all elements with the class 'show-more-times'
        const showMoreElements = document.querySelectorAll('.show-more-times');

        // Add click event listeners to these elements
        showMoreElements.forEach(function(element) {
            element.addEventListener('click', function(event) {
                // Prevent default link behavior
                event.preventDefault();

                // Add the 'hidden' class to the clicked element
                this.classList.add('hidden');

                // Logic to find the corresponding 'more-times' element
                // This needs to be adjusted based on the actual DOM structure
                let moreTimesElement = this.nextElementSibling;
                while (moreTimesElement && !moreTimesElement.classList.contains('more-times')) {
                    moreTimesElement = moreTimesElement.nextElementSibling;
                }

                // If the 'more-times' element is found, remove the 'hidden' class
                if (moreTimesElement) {
                    moreTimesElement.classList.remove('hidden');
                }
            });
        });
    });
</script>
{% endblock %}
