{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName }}{% endblock %}

{% block content %}
    <h1>{{ player.playerName }} <code class="ps-3 text-muted h4">#{{ player.code }}</code></h1>

    <p>{{ player.city }} {{ player.country }}</p>

    <h3 class="mt-2">Statistiky</h3>

    <p>
        <strong>Čas strávený skládáním:</strong> {{ statistics.totalSeconds|puzzlingTime }}<br>
        <strong>Počet složených puzzlí:</strong> {{ statistics.solvedPuzzlesCount }}<br>
        <strong>Počet složených dílků:</strong> {{ statistics.totalPieces }}
    </p>

    <div class="row mt-5">
        <div class="col">
            <h2 class="h4">Poskládané puzzle</h2>

            <div class="table-responsive shadow mt-2 mb-5">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Puzzle</th>
                        <th></th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for puzzle_id, grouped_puzzle in solo_puzzles %}
                        <tr>
                            <td class="text-center">
                                {% if grouped_puzzle[0].puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ grouped_puzzle[0].puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                    {% if grouped_puzzle[0].puzzleAlternativeName is not null %}
                                        {{ grouped_puzzle[0].puzzleAlternativeName }}
                                        <small>({{ grouped_puzzle[0].puzzleName }})</small>
                                    {% else %}
                                        {{ grouped_puzzle[0].puzzleName }}
                                    {% endif %}
                                    <br>{{ grouped_puzzle[0].piecesCount }}&nbsp;dílků
                                </a>
                            </td>
                            <td>{{ grouped_puzzle[0].groupName }}</td>
                            <td class="text-end">
                                {% for puzzle in grouped_puzzle %}
                                    {% if loop.first %}
                                        {{ puzzle.time|puzzlingTime }}
                                    {% else %}
                                        <br><small>{{ puzzle.time|puzzlingTime }}</small>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if solo_puzzles|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">Žádné poskládané puzzle? Tak to jsi teda pěkná bačkora.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <h2 class="h4">Skupinové skládání</h2>

            <div class="table-responsive shadow mt-2 mb-5">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Puzzle</th>
                        <th></th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for puzzle_id, grouped_puzzle in group_puzzles %}
                        <tr>
                            <td class="text-center">
                                {% if grouped_puzzle[0].puzzleImage is not null%}
                                    <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                        <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ grouped_puzzle[0].puzzleImage|imagine_filter('puzzle_small') }}">
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('puzzle_detail', {puzzleId: puzzle_id}) }}">
                                    {% if grouped_puzzle[0].puzzleAlternativeName is not null %}
                                        {{ grouped_puzzle[0].puzzleAlternativeName }}
                                        <small>({{ grouped_puzzle[0].puzzleName }})</small>
                                    {% else %}
                                        {{ grouped_puzzle[0].puzzleName }}
                                    {% endif %}
                                    <br>{{ grouped_puzzle[0].piecesCount }}&nbsp;dílků
                                </a>
                            </td>
                            <td>{{ grouped_puzzle[0].groupName }}</td>
                            <td class="text-end">{{ grouped_puzzle[0].time|puzzlingTime }}</td>
                        </tr>
                    {% endfor %}
                    {% if group_puzzles|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">Žádné puzzle jsi ve skupině ještě nikdy neskládal? Tak utíkej rychle někoho najít, vyberte puzzle a skládejte!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
