{% extends 'base.html.twig' %}

{% block title %}{{ player.playerName }}{% endblock %}

{% block content %}
    <h1>
        {{ player.playerName }}
        {% if player.countryCode is not null %}
            <span class="h4 shadow-custom fi fi-{{ player.countryCode.name }}"></span>
        {% endif %}
        <code class="ps-3 text-muted h4">#{{ player.code|upper }}</code>
    </h1>

    {% if logged_user.profile is null or logged_user.profile.playerId is not same as player.playerId%}
        <p>
            {% if logged_user.profile is not null and player.playerId in logged_user.profile.favoritePlayers %}
                <a href="{{ path('remove_player_from_favorite', {playerId: player.playerId}) }}" class="btn btn-sm btn-warning me-1 mb-1">
                    {{ 'profile.remove_from_favorites'|trans }} <i class="ms-1 ci-star-filled"></i>
                </a>
            {% else %}
                <a href="{{ path('add_player_to_favorite', {playerId: player.playerId}) }}" class="btn btn-sm btn-outline-warning me-1 mb-1">
                    {{ 'profile.add_to_favorites'|trans }} <i class="ms-1 ci-star"></i>
                </a>
            {% endif %}

            <a href="{{ path('compare_players', {opponentPlayerId: player.playerId}) }}" class="btn btn-sm btn-outline-primary me-1 mb-1">
                {{ 'profile.compare'|trans }} <i class="ms-1 ci-compare"></i>
            </a>
        </p>
    {% endif %}

    <div class="shadow-lg p-3 mt-3">
        <div class="row">
            <div class="col-sm">
                <p>
                    <b>{{ 'profile.avatar'|trans }}:</b><br>
                    {% if player.avatar is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        <img class="rounded-2" style="max-width: 150px;max-height: 150px;" alt="Avatar" src="{{ player.avatar|imagine_filter('puzzle_small') }}">
                    {% endif %}
                </p>

                <p class="mb-0">
                    <b>{{ 'profile.about_me'|trans }}:</b><br>
                    {% if player.bio is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.bio|nl2br }}
                    {% endif %}<br>
                </p>
            </div>

            <div class="col-sm">
                <p>
                    <b>{{ 'profile.location'|trans }}:</b><br>
                    {% if player.city is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.city }}
                    {% endif %}
                </p>

                <p>
                    <b>{{ 'profile.nationality'|trans }}:</b><br>
                    {% if player.countryCode is null %}
                        {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.countryCode.value }}
                        <span class="shadow-custom fi fi-{{ player.countryCode.name }}"></span>
                    {% endif %}
                </p>

                <p>
                    <b>Facebook:</b><br>
                    {% if player.facebook is null %}
                    {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.facebook|facebook }}
                    {% endif %}<br>
                </p>

                <p class="mb-0">
                    <b>Instagram:</b><br>
                    {% if player.instagram is null %}
                    {{ 'profile.not_filled'|trans }}
                    {% else %}
                        {{ player.instagram|instagram }}
                    {% endif %}<br>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm mt-3">
            <h3>{{ 'profile.statistics'|trans }}</h3>

            {{ include('_player_statistics.html.twig') }}
        </div>

        <div class="col-sm mt-3">
            <h3>{{ 'profile.favorite_puzzlers'|trans }}</h3>

            {% if favorite_players is empty %}
                <div class="alert alert-warning">
                    {{ 'profile.no_favorite_puzzlers'|trans }}
                </div>
            {% else %}
                <ul>
                    {% for favorite_puzzler in favorite_players %}
                        <li>
                            <a href="{{ path('player_profile', {playerId: favorite_puzzler.playerId}) }}">
                                {{ favorite_puzzler.playerName }} <code class="text-muted">#{{ favorite_puzzler.playerCode|upper }}</code>
                            </a>
                            {% if favorite_puzzler.playerCountry is not null %}
                                <small class="shadow-custom fi fi-{{ favorite_puzzler.playerCountry.name }}"></small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    {{ include('_player_profile_results.html.twig') }}
{% endblock %}
