{% extends 'base.html.twig' %}

{% block title %}Puzzle{% endblock %}

{% block content %}
    <h1>Puzzle</h1>

    <div {{ stimulus_controller('puzzle_filter') }} class="mt-4">
        <small class="text-muted fw-bold">Filtrovat podle:</small>
        <div class="input-group shadow-lg mb-4" style="max-width: 700px;">
            <select class="form-select" data-puzzle-filter-target="piecesCount" data-action="change->puzzle-filter#filterPuzzles">
                <option value="">- Dílků -</option>
                <option value="0-499">Méně než 500</option>
                <option value="500">500</option>
                <option value="501-999">501-999</option>
                <option value="1000">1000</option>
                <option value="1001-">Více než 1000</option>
            </select>

            <select class="form-select" data-puzzle-filter-target="manufacturer" data-action="change->puzzle-filter#filterPuzzles">
                <!-- Options will be populated by JavaScript -->
            </select>

            <input class="form-control" type="text" data-puzzle-filter-target="puzzleName" data-action="input->puzzle-filter#filterPuzzles" placeholder="Název puzzlí nebo kód...">

        </div>

        <div class="form-check form-check-inline">
            <input data-action="change->puzzle-filter#filterPuzzles" data-puzzle-filter-target="availability" class="form-check-input" type="checkbox" id="available-only-filter">
            <label class="form-check-label" for="available-only-filter">Pouze k zapůjčení</label>
        </div>

        <div class="form-check form-check-inline">
            <input data-action="change->puzzle-filter#filterPuzzles" data-puzzle-filter-target="withTime" class="form-check-input" type="checkbox" id="with-time-only-filter">
            <label class="form-check-label" for="with-time-only-filter">Pouze se zadaným časem</label>
        </div>

        <p class="my-3 text-muted">Pokud zde puzzle nenajdete, znamená to, že je nikdo ještě neskládal a nejsou v naší databázi. Nové puzzle lze zadat při přidávání času.</p>

        {% for puzzle in puzzles %}
            <div
                class="shadow-lg my-3 py-3 px-3"
                data-puzzle-filter-target="puzzleItem"
                data-pieces-count="{{ puzzle.piecesCount }}"
                data-puzzle-name="{{ puzzle.puzzleName }}"
                data-puzzle-code="{{ puzzle.puzzleIdentificationNumber }}"
                data-puzzle-alternative-name="{{ puzzle.puzzleAlternativeName }}"
                data-manufacturer="{{ puzzle.manufacturerName }}"
                data-available="{{ puzzle.isAvailable ? 1 : 0 }}"
                data-has-time="{{ puzzle.solvedTimes > 0 ? 1 : 0 }}"
            >
                <div class="row">
                    <div class="col-md align-self-center">
                        <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                            {% if puzzle.puzzleAlternativeName is not null %}
                                {{ puzzle.puzzleAlternativeName }}
                                <br><small>{{ puzzle.puzzleName }}</small>
                            {% else %}
                                {{ puzzle.puzzleName }}
                            {% endif %}
                            {% if puzzle.puzzleIdentificationNumber is not null %}
                                <br><small class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</small>
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-md text-md-center align-self-center">
                        {% if puzzle.puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                                <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        <b>{{ puzzle.manufacturerName|upper }}</b><br>
                        {{ puzzle.piecesCount }} dílků
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        {% if puzzle.puzzleId in puzzles_solved_by_user %}
                            <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> poskládáno</span>
                        {% endif %}

                        {% if puzzle.isAvailable %}
                            <span class="badge bg-success badge-shadow rounded-pill">k zapůjčení</span>
                        {% else %}
                            <span class="badge bg-dark badge-shadow rounded-pill">nejsou k dispozici</span>
                        {% endif %}
                    </div>

                    <div class="col-md align-self-center">
                        <small>
                            {% if puzzle.solvedTimes > 0 %}
                                Nejrychlejší čas: {{ puzzle.fastestTime|puzzlingTime }}<br>
                                Průměrný čas: {{ puzzle.averageTime|puzzlingTime }}<br>
                                {% if ranking[puzzle.puzzleId] is defined %}
                                    <strong>Můj čas: {{ ranking[puzzle.puzzleId].time|puzzlingTime }}</strong>
                                    <br>
                                {% endif %}
                                Počet složení: {{ puzzle.solvedTimes }}
                            {% else %}
                                Tyto puzzle ještě nikdo neskládal, buď první!
                            {% endif %}
                        </small>
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        {% if puzzle.solvedTimes > 0 %}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1 px-2 my-1 btn-sm btn-primary">Chci vidět časy</a>
                        {% endif %}
                        <a href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1  px-2 my-1 btn-accent btn-sm"><i class="ci-add"></i> Přidat můj čas</a>
                        <a href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm py-1 px-2 my-1"><i class="ci-time"></i> Začít skládat</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div id="filter-no-results" class="filter-no-results hidden mt-3">
            <div class="alert alert-warning">
                Žádné puzzle neodpovídají zadaným filtrům
            </div>
        </div>
    </div>
{% endblock %}
