{% extends 'base.html.twig' %}

{% block title %}{{ puzzle.puzzleName }}{% endblock %}

{% block content %}
    <h1>
        {% if app.request.locale is same as 'cs' and puzzle.puzzleAlternativeName is not null %}
            {{ puzzle.puzzleAlternativeName }}
            <span class="h4">({{ puzzle.puzzleName }})</span>
        {% else %}
            {{ puzzle.puzzleName }}
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p>
                {% for tag in tags %}
                    <span class="badge bg-primary badge-shadow rounded-pill"><i class="ci-diamond"></i> {{ tag.name }}</span>
                {% endfor %}

                {% if app.request.locale is same as 'cs' %}
                    {% if puzzle.isAvailable %}
                        <span class="badge bg-success badge-shadow rounded-pill">{{ 'puzzle_available'|trans }}</span>
                    {% else %}
                        <span class="badge bg-dark badge-shadow rounded-pill">{{ 'puzzle_not_available'|trans }}</span>
                    {% endif %}
                {% endif %}

                {% if puzzle.puzzleId in puzzles_solved_by_user %}
                    <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> {{ 'puzzle_solved'|trans }}</span>
                {% endif %}
            </p>

            <p>
                <a href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm mb-1 me-1">
                    <i class="ci-time"></i> {{ 'start_solving'|trans }}
                </a>
                <a href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent mb-1 btn-sm">
                    <i class="ci-add"></i> {{ 'add_my_time'|trans }}
                </a>
            </p>

            <p class="card-text fs-sm text-muted mb-2">
                <b class="h5">{{ puzzle.manufacturerName|upper }}</b> <span class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</span><br>
                {{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}
                <br>

                {% if puzzle.solvedTimes > 0 %}
                    {{ 'fastest_time'|trans({ '%time%': puzzle.fastestTime|puzzlingTime }) }}<br>
                    {{ 'average_time'|trans({ '%time%': puzzle.averageTime|puzzlingTime }) }}<br>
                    {% if ranking[puzzle.puzzleId] is defined %}
                        <strong>
                            {{ 'my_time'|trans({ '%time%': ranking[puzzle.puzzleId].time|puzzlingTime }) }}
                        </strong>
                        <br>
                    {% endif %}
                    {{ 'puzzle_solved_count'|trans({ '%count%': puzzle.solvedTimes }) }}
                {% endif %}
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            {% if puzzle.puzzleImage is not null%}
                <div class="gallery">
                    <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(puzzle.puzzleImage) }}">
                        <img style="max-width: 200px;max-height: 200px;" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            <h2 class="h4">{{ 'ladder.solo'|trans }}</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'puzzler_name'|trans }}</th>
                        <th class="text-end">{{ 'time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player_id, grouped_solver in solo_puzzle_solvers %}
                        <tr class="{{ logged_user.profile is not null and player_id is same as logged_user.profile.playerId ? 'table-active-player' }}">
                            <td class="rank">{{ loop.index }}.</td>
                            <td class="player-name">
                                <a href="{{ path('player_profile', {playerId: player_id}) }}">
                                    {% if logged_user.profile is not null and grouped_solver[0].playerId in logged_user.profile.favoritePlayers %}
                                        <i class="ci-star-filled text-warning"></i>
                                    {% endif %}
                                    {{ grouped_solver[0].playerName }}
                                </a>
                            </td>
                            <td class="text-end">
                                {% if grouped_solver|length > 1 %}
                                    <span class="badge bg-dark rounded-pill me-2">{{ 'puzzle_solved_times'|trans({'%count%': grouped_solver|length}) }}</span>
                                {% endif %}
                                {{ grouped_solver[0].time|puzzlingTime }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if solo_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="3" class="text-center">{{ 'be_first_to_solve'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <h2 class="h4">{{ 'ladder.groups'|trans }}</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'puzzler_name'|trans }}</th>
                        <th class="text-end">{{ 'time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for puzzlers_group in group_puzzle_solvers %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td class="player-name">
                                {% for puzzle_solver in puzzlers_group.players %}
                                    {% if not loop.first %}
                                        <br>
                                    {% endif %}
                                    {% if puzzle_solver.playerId is not null %}
                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                                <i class="ci-star-filled text-warning"></i>
                                            {% endif %}
                                            {{ puzzle_solver.playerName }}
                                        </a>
                                    {% else %}
                                        <span class="player-name-item">{{ puzzle_solver.playerName }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-end">{{ puzzlers_group.time|puzzlingTime }}</td>
                        </tr>
                    {% endfor %}
                    {% if group_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">{{ 'be_first_to_group_solve'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}
