{% extends 'base.html.twig' %}

{% block title %}{{ puzzle.manufacturerName }} {{ puzzle.puzzleName }} {{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}{% endblock %}
{% block meta_description %}{{ 'puzzle_detail.meta.description'|trans({ '%puzzle%': puzzle.puzzleName, '%brand%': puzzle.manufacturerName, '%pieces%': puzzle.piecesCount }) }}{% endblock %}

{% block content %}
    <h1>
        {% if app.request.locale is same as 'cs' and puzzle.puzzleAlternativeName is not null %}
            {{ puzzle.puzzleAlternativeName }}
            <span class="h4">({{ puzzle.puzzleName }})</span>
        {% else %}
            {{ puzzle.puzzleName }}
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-sm-12 col-md-5">
            {% if not puzzle.puzzleApproved %}
                <div class="alert-warning alert">{{ 'puzzle_waiting_for_approval'|trans }}</div>
            {% endif %}

            <p class="card-text fs-sm mb-2">
                <b class="h5">{{ puzzle.manufacturerName|upper }}</b> <span class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</span><br>
                {{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}
                {% if puzzle.solvedTimes > 0 %}
                    <br>
                    {{ 'puzzle_solved_count'|trans }} {{ puzzle.solvedTimes }}
                {% endif %}
                {#
                {% if puzzle.solvedTimes > 1 %}
                    <br>
                    Most recent: 13 minutes ago by Xyz
                {% endif %}
                #}
            </p>

            <p>
                {% for tag in tags %}
                    <span class="badge bg-primary badge-shadow rounded-pill"><i class="ci-diamond"></i> {{ tag.name }}</span>
                {% endfor %}

                {% if app.request.locale is same as 'cs' %}
                    {% if puzzle.isAvailable %}
                        <span class="badge bg-success badge-shadow rounded-pill">{{ 'puzzle_available'|trans }}</span>
                    {% else %}
                        <span class="badge bg-dark badge-shadow rounded-pill">{{ 'puzzle_not_available'|trans }}</span>
                    {% endif %}
                {% endif %}

                {% if puzzle.puzzleId in puzzles_solved_by_user %}
                    <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> {{ 'puzzle_solved'|trans }}</span>
                {% endif %}
            </p>
        </div>

        <div class="col-sm-12 col-md-3">
            <div class="mb-2">
                <a rel="nofollow" href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm mb-1 me-1">
                    <i class="ci-time"></i> {{ 'start_solving'|trans }}
                </a>
                <a rel="nofollow" href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent mb-1 me-1 btn-sm">
                    <i class="ci-add"></i> {{ 'add_my_time'|trans }}
                </a>

                {% if puzzle_collections[puzzle.puzzleId] ?? null %}
                    <div class="btn-group dropdown d-inline-block">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ci-view-list"></i> {{ 'in_collection'|trans }}
                        </button>

                        <div class="dropdown-menu">
                            <a rel="nofollow" data-turbo-prefetch="false" href="{{ path('remove_puzzle_from_collection', {puzzleId: puzzle.puzzleId}) }}" class="dropdown-item">{{ 'remove_from_collection'|trans }}</a>
                        </div>
                    </div>
                {% else %}
                    <a data-turbo-prefetch="false" rel="nofollow" href="{{ path('add_puzzle_to_collection', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-outline-primary mb-1 btn-sm">
                        <i class="ci-view-list"></i> {{ 'add_to_collection'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            {% if puzzle.puzzleImage is not null%}
                <div class="gallery">
                    <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(puzzle.puzzleImage) }}">
                        <img style="max-width: 200px;max-height: 200px;" alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': puzzle.manufacturerName ~ ' ' ~ puzzle.puzzleName}) }}" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                    </a>
                </div>
                {% if puzzle.puzzleEan %}
                    <span class="text-muted fs-sm">EAN: {{ puzzle.puzzleEan }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-fill nav-tabs mt-3" role="tablist" {{ stimulus_controller('tabs') }}>
        <li class="nav-item">
            <a class="nav-link {{ solo_puzzle_solvers|length > 0 ? 'active' : 'disabled' }}" href="#solo" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media"><i class="ci-user"></i></div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Solo ({{ solo_puzzle_solvers|length }})</h6>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ solo_puzzle_solvers|length == 0 and duo_puzzle_solvers|length > 0 ? 'active' : duo_puzzle_solvers|length == 0 ? 'disabled' }}" href="#duo" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media media-tab-media-duo">
                        <i class="ci-user"></i>
                        <i class="ci-user"></i>
                    </div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Duo ({{ duo_puzzle_solvers|length }})</h6>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ solo_puzzle_solvers|length == 0 and duo_puzzle_solvers|length == 0 and team_puzzle_solvers|length > 0 ? 'active' : team_puzzle_solvers|length == 0 ? 'disabled' }}" href="#team" data-bs-toggle="tab" role="tab" {{ stimulus_action('tabs', 'showTab') }}>
                <div class="text-center">
                    <div class="media-tab-media media-tab-media-team">
                        <i class="ci-user"></i>
                        <i class="ci-user"></i>
                        <div>
                            <i class="ci-user"></i>
                            <i class="ci-user"></i>
                        </div>
                    </div>
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">Team ({{ team_puzzle_solvers|length }})</h6>
                </div>
            </a>
        </li>
    </ul>

    <!-- Tabs content -->
    <div class="tab-content">
        <div class="tab-pane fade {{ solo_puzzle_solvers|length > 0 ? 'show active' }}" id="solo" role="tabpanel" {{ stimulus_controller('toggle') }}>

            {% if puzzle.solvedTimes > 0 %}
                <div class="row">
                    <div class="col-6">
                        <table class="mb-3 table-times-overview">
                            {% if ranking[puzzle.puzzleId] is defined %}
                                <tr>
                                    <td>
                                        <strong>{{ 'my_time'|trans }}</strong>
                                    </td>
                                    <td class="text-end"><strong>{{ ranking[puzzle.puzzleId].time|puzzlingTime }}</strong></td>
                                </tr>
                            {% endif %}

                            <tr>
                                <td>{{ 'fastest_time'|trans }}</td>
                                <td class="text-end">{{ puzzle.fastestTimeSolo|puzzlingTime }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'average_time'|trans }}</td>
                                <td class="text-end">{{ puzzle.averageTimeSolo|puzzlingTime }}</td>
                            </tr>
                        </table>
                    </div>
                    {% if first_try_only_count > 0 %}
                        <div class="col-6">
                            <div class="form-switch" data-controller="toggle-filter">
                                <div class="form-check mb-0">
                                    <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="solo-first-attempts-toggle"
                                        data-toggle-filter-target="checkbox"
                                        data-toggle-filter-url="{{ path('puzzle_detail', {'puzzleId': puzzle.puzzleId, 'firstTryOnly': not first_try_only}) }}"
                                        data-action="change->toggle-filter#update"
                                        {% if first_try_only %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="solo-first-attempts-toggle">
                                        {{ 'only_first_tries_filter'|trans }}
                                    </label>
                                </div>
                            </div>

                            {% if first_try_only and filtered_out_puzzlers > 0 %}
                                <p class="form-text mt-2 mb-1">{{ 'filtered_out_puzzlers_count_info'|trans({'%count%': filtered_out_puzzlers})|raw }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'puzzler_name'|trans }}</th>
                        <th class="text-end">{{ 'time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player_id, aggregated_solver in solo_puzzle_solvers %}
                        <tr class="{{ logged_user.profile is not null and player_id is same as logged_user.profile.playerId ? 'table-active-player' }}">
                            <td class="rank">{{ loop.index }}.</td>
                            <td class="player-name">
                                <a href="{{ path('player_profile', {playerId: player_id}) }}">
                                    {% if logged_user.profile is not null and aggregated_solver[0].playerId in logged_user.profile.favoritePlayers %}
                                        <i class="ci-star-filled text-warning"></i>
                                    {% endif %}
                                    {{ aggregated_solver[0].playerName }}</a>
                                {% if aggregated_solver[0].playerCountry is not null %}
                                    <small class="shadow-custom fi fi-{{ aggregated_solver[0].playerCountry.name }}"></small>
                                {% endif %}
                            </td>
                            <td class="text-end with-ppm">
                                {{ aggregated_solver[0].time|puzzlingTime }}
                                <br>
                                <small class="text-muted">{{ aggregated_solver[0].finishedAt|date('d.m.Y') }}</small>
                                <br>
                                <small><span class="text-muted">PPM</span> {{ ppm(aggregated_solver[0].time, puzzle.piecesCount) }}</small>

                                {% if aggregated_solver[0].firstAttempt %}
                                    <br>
                                    <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                {% endif %}

                                {% if aggregated_solver|length > 1 %}
                                    <br>
                                    <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: 'solo' ~ loop.index})}}>
                                        <span class="badge bg-dark badge-shadow rounded-pill">
                                            {{ 'show_more_solving_times'|trans({ '%count%': aggregated_solver|length-1 }) }}
                                        </span>
                                    </a>

                                    <div class="more-times hidden with-ppm" {{ stimulus_target('toggle', 'solo' ~ loop.index) }}>
                                        {% for solving_time in aggregated_solver %}
                                            {% if not loop.first %}
                                                <span class="d-inline-block mt-1">
                                                    {{ solving_time.time|puzzlingTime }}
                                                    <br>
                                                    <small class="text-muted">{{ solving_time.finishedAt|date('d.m.Y') }}</small>
                                                    <br>
                                                    <small>
                                                        <span class="text-muted">PPM</span> {{ ppm(solving_time.time, puzzle.piecesCount) }}
                                                    </small>

                                                    {% if solving_time.firstAttempt %}
                                                        <br>
                                                        <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                                    {% endif %}
                                                </span>

                                                {% if not loop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if solo_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="3" class="text-center">{{ 'be_first_to_solve'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade {{ solo_puzzle_solvers|length == 0 and duo_puzzle_solvers|length > 0 ? 'show active' }}" id="duo" role="tabpanel">
            {% if puzzle.solvedTimes > 0 %}
                <table class="mb-3 table-times-overview">
                    <tr>
                        <td>{{ 'fastest_time'|trans }}</td>
                        <td class="text-end">{{ puzzle.fastestTimeDuo|puzzlingTime }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'average_time'|trans }}</td>
                        <td class="text-end">{{ puzzle.averageTimeDuo|puzzlingTime }}</td>
                    </tr>
                </table>
            {% endif %}

            <div class="table-responsive custom-table-wrapper mt-2 mb-5" {{ stimulus_controller('toggle') }}>
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'puzzler_name'|trans }}</th>
                        <th class="text-end">{{ 'time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for aggregated_puzzlers_duo in duo_puzzle_solvers %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td class="player-name">
                                {% for puzzle_solver in aggregated_puzzlers_duo[0].players %}
                                    {% if not loop.first %}
                                        <br>
                                    {% endif %}
                                    {% if puzzle_solver.playerId is not null %}
                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                                <i class="ci-star-filled text-warning"></i>
                                            {% endif %}
                                            {{ puzzle_solver.playerName }}
                                        </a>
                                        {% if puzzle_solver.playerCountry is not null %}
                                            <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                        {% endif %}
                                    {% else %}
                                        <span class="player-name-item">{{ puzzle_solver.playerName }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="text-end with-ppm">
                                {{ aggregated_puzzlers_duo[0].time|puzzlingTime }}
                                <br>
                                <small class="text-muted">{{ aggregated_puzzlers_duo[0].finishedAt|date('d.m.Y') }}</small>
                                <br>
                                <small><span class="text-muted">PPM</span> {{ ppm(aggregated_puzzlers_duo[0].time, puzzle.piecesCount) }}</small>

                                {% if aggregated_puzzlers_duo[0].firstAttempt %}
                                    <br>
                                    <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                {% endif %}

                                {% if aggregated_puzzlers_duo|length > 1 %}
                                    <br>
                                    <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: 'duo' ~ loop.index})}}>
                                        <span class="badge bg-dark badge-shadow rounded-pill">
                                            {{ 'show_more_solving_times'|trans({ '%count%': aggregated_puzzlers_duo|length-1 }) }}
                                        </span>
                                    </a>

                                    <div class="more-times hidden with-ppm" {{ stimulus_target('toggle', 'duo' ~ loop.index) }}>
                                        {% for solving_time in aggregated_puzzlers_duo %}
                                            {% if not loop.first %}
                                                <span class="d-inline-block mt-1">
                                                    {{ solving_time.time|puzzlingTime }}
                                                    <br>
                                                    <small class="text-muted">{{ solving_time.finishedAt|date('d.m.Y') }}</small>
                                                    <br>
                                                    <small>
                                                        <span class="text-muted">PPM</span> {{ ppm(solving_time.time, puzzle.piecesCount) }}
                                                    </small>

                                                    {% if solving_time.firstAttempt %}
                                                        <br>
                                                        <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                                    {% endif %}
                                                </span>

                                                {% if not loop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if duo_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">{{ 'be_first_to_group_solve'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade {{ solo_puzzle_solvers|length == 0 and duo_puzzle_solvers|length == 0 and team_puzzle_solvers|length > 0 ? 'show active' }}" id="team" role="tabpanel">
            {% if puzzle.solvedTimes > 0 %}
                <table class="mb-3 table-times-overview">
                    <tr>
                        <td>{{ 'fastest_time'|trans }}</td>
                        <td class="text-end">{{ puzzle.fastestTimeTeam|puzzlingTime }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'average_time'|trans }}</td>
                        <td class="text-end">{{ puzzle.averageTimeTeam|puzzlingTime }}</td>
                    </tr>
                </table>
            {% endif %}

            <div class="table-responsive custom-table-wrapper mt-2 mb-5" {{ stimulus_controller('toggle') }}>
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'puzzler_name'|trans }}</th>
                        <th class="text-end">{{ 'time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for aggregated_puzzlers_team in team_puzzle_solvers %}
                        <tr>
                            <td>{{ loop.index }}.</td>

                            <td class="player-name">
                                {% for puzzle_solver in aggregated_puzzlers_team[0].players %}
                                    {% if not loop.first %}
                                        <br>
                                    {% endif %}
                                    {% if puzzle_solver.playerId is not null %}
                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                                <i class="ci-star-filled text-warning"></i>
                                            {% endif %}
                                            {{ puzzle_solver.playerName }}
                                        </a>
                                        {% if puzzle_solver.playerCountry is not null %}
                                            <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                        {% endif %}
                                    {% else %}
                                        <span class="player-name-item">{{ puzzle_solver.playerName }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="text-end with-ppm">
                                {{ aggregated_puzzlers_team[0].time|puzzlingTime }}
                                <br>
                                <small class="text-muted">{{ aggregated_puzzlers_team[0].finishedAt|date('d.m.Y') }}</small>
                                <br>
                                <small><span class="text-muted">PPM</span> {{ ppm(aggregated_puzzlers_team[0].time, puzzle.piecesCount) }}</small>

                                {% if aggregated_puzzlers_team[0].firstAttempt %}
                                    <br>
                                    <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                {% endif %}

                                {% if aggregated_puzzlers_team|length > 1 %}
                                    <br>
                                    <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: 'team' ~ loop.index})}}>
                                        <span class="badge bg-dark badge-shadow rounded-pill">
                                            {{ 'show_more_solving_times'|trans({ '%count%': aggregated_puzzlers_team|length-1 }) }}
                                        </span>
                                    </a>

                                    <div class="more-times hidden with-ppm" {{ stimulus_target('toggle', 'team' ~ loop.index) }}>
                                        {% for solving_time in aggregated_puzzlers_team %}
                                            {% if not loop.first %}
                                                <span class="d-inline-block mt-1">
                                                    {{ solving_time.time|puzzlingTime }}
                                                    <br>
                                                    <small class="text-muted">{{ solving_time.finishedAt|date('d.m.Y') }}</small>
                                                    <br>
                                                    <small>
                                                        <span class="text-muted">PPM</span> {{ ppm(solving_time.time, puzzle.piecesCount) }}
                                                    </small>

                                                    {% if solving_time.firstAttempt %}
                                                        <br>
                                                        <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                                    {% endif %}
                                                </span>

                                                {% if not loop.last %}
                                                    <br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if team_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">{{ 'be_first_to_group_solve'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
