{% extends 'base.html.twig' %}

{% block title %}{{ 'puzzle_overview.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'puzzle_overview.title'|trans }}</h1>

    <div data-controller="range-slider puzzle-search">
        <form action="{{ path('puzzles') }}" method="get"
              data-puzzle-search-target="form"
              data-turbo-frame="search-results"
        >
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(search_form.brand) }}
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Pieces</label><br>

                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-any" name="{{ field_name(search_form.pieces) }}" value="" {% if form_data.pieces is empty %}checked{% endif %}>
                        <label for="pieces-any" class="form-option-label">Any</label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-1-499" value="1-499" name="{{ field_name(search_form.pieces) }}" {% if form_data.pieces is same as '1-499' %}checked{% endif %}>
                        <label for="pieces-1-499" class="form-option-label">1-499</label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-500" value="500" name="{{ field_name(search_form.pieces) }}" {% if form_data.pieces is same as '500' %}checked{% endif %}>
                        <label for="pieces-500" class="form-option-label">500</label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-501-999" value="501-999" name="{{ field_name(search_form.pieces) }}"{% if form_data.pieces is same as '501-999' %}checked{% endif %}>
                        <label for="pieces-501-999" class="form-option-label">501-999</label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-1000" value="1000" name="{{ field_name(search_form.pieces) }}" {% if form_data.pieces is same as '1000' %}checked{% endif %}>
                        <label for="pieces-1000" class="form-option-label">1000</label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                        <input type="radio" class="form-check-input" id="pieces-1001" value="1001+" name="{{ field_name(search_form.pieces) }}" {% if form_data.pieces is same as '1001+' %}checked{% endif %}>
                        <label for="pieces-1001" class="form-option-label">1001+</label>
                    </div>
                </div>
            </div>

            <div class="d-none">
                {{ form_row(search_form.tags) }}
            </div>

            <div class="d-none">
                {{ form_row(search_form.onlySolvedByMe) }}
            </div>

            <div class="my-3">
                {{ form_row(search_form.onlyWithResults) }}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        {{ form_widget(search_form.search, {'attr': {'class': 'form-control'}}) }}
                        <button class="btn btn-primary btn-icon" type="submit" data-puzzle-search-target="submit">
                            Search <i class="ci-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            {{ form_rest(search_form) }}
        </form>

        {{ include('_puzzle_search_results.html.twig') }}
    </div>
{% endblock %}
