{% extends 'base.html.twig' %}

{% block title %}{{ 'puzzlers.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'puzzlers.title'|trans }}</h1>

    <div class="mb-4">
        {{ form_start(search_form, {'action': path('players'), 'method': 'POST'}) }}

            <div class="input-group" style="max-width: 400px;">
                {{ form_widget(search_form.search, {'attr': {'class': 'form-control'}}) }}
                <button class="btn btn-primary btn-icon" type="submit">
                    <i class="ci-search"></i>
                </button>
            </div>
            {{ form_errors(search_form.search) }}
            {{ form_help(search_form.search) }}

        {{ form_end(search_form) }}


        {% if search_string is not null %}

            <p class="mt-3">
                {{ 'puzzlers.results_for'|trans }}: <strong>{{ search_string }}</strong>
            </p>

            {% if found_players is not empty %}
                {% for found_player in found_players %}
                    <div class="pb-1">
                        <a href="{{ path('player_profile', {playerId: found_player.playerId}) }}">
                            {% if logged_user.profile is not null and found_player.playerId in logged_user.profile.favoritePlayers %}
                                <i class="ci-star-filled text-warning"></i>
                            {% endif %}

                            {{ highlight(found_player.playerName, search_string) }}
                            <code class="text-muted">#{{ found_player.playerCode|upper }}</code>
                            {% if found_player.playerCountry is not null %}
                                <small class="shadow-custom fi fi-{{ found_player.playerCountry.name }}"></small>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">{{ 'puzzlers.no_matches_found'|trans }}</div>
            {% endif %}
        {% endif %}
    </div>

    <h3>{{ 'players_per_country.link'|trans }}</h3>
    <ul class="list-inline">
        {% for country_players in players_per_country %}
            {% if country_players.countryCode is not null %}
                <li class="list-inline-item">
                    <a href="{{ path('players_per_country', {'countryCode': country_players.countryCode.name}) }}">
                        <span class="d-none d-sm-inline">{{ country_players.countryCode.value }}</span> ({{ country_players.playersCount }}) <i class="shadow-custom fi fi-{{ country_players.countryCode.name }}"></i>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="row">
        {% if favorite_players is not null and favorite_players is not empty %}
            <div class="col-sm">
                <h3 class="mt-4">{{ 'puzzlers.my_favorites'|trans }}</h3>

                {% for favorite_player in favorite_players %}
                    <div class="pb-1">
                        <a href="{{ path('player_profile', {playerId: favorite_player.playerId}) }}">
                            <i class="ci-star-filled text-warning"></i> {{ favorite_player.playerName }}
                            <code class="text-muted">#{{ favorite_player.playerCode|upper }}</code>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="col-sm">
            <h3 class="mt-4">{{ 'puzzlers.most_popular'|trans }}</h3>

            {% for most_favorite_player in most_favorite_players %}
                <div class="pb-1">
                    <a href="{{ path('player_profile', {playerId: most_favorite_player.playerId}) }}">
                        <span class="badge rounded-pill bg-warning me-1" style="margin-top: 2px;float: left;">{{ most_favorite_player.favoriteCount }}</span>

                        {% if logged_user.profile is not null and most_favorite_player.playerId in logged_user.profile.favoritePlayers %}
                            <i class="ci-star-filled text-warning"></i>
                        {% endif %}

                        {{ most_favorite_player.playerName }}
                        <code class="text-muted">#{{ most_favorite_player.playerCode|upper }}</code>
                        {% if most_favorite_player.playerCountry is not null %}
                            <small class="shadow-custom fi fi-{{ most_favorite_player.playerCountry.name }}"></small>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
