{% extends 'base.html.twig' %}

{% block title %}Puzzle{% endblock %}

{% block content %}
    <h1>Puzzle</h1>

    <div {{ stimulus_controller('puzzle_filter') }} class="mt-4">
        <small class="text-muted fw-bold">Filtrovat podle:</small>
        <div class="input-group shadow-lg mb-4" style="max-width: 700px;">
            <select class="form-select" data-puzzle-filter-target="piecesCount" data-action="change->puzzle-filter#filterPuzzles">
                <!-- Options will be populated by JavaScript -->
            </select>

            <select class="form-select" data-puzzle-filter-target="manufacturer" data-action="change->puzzle-filter#filterPuzzles">
                <!-- Options will be populated by JavaScript -->
            </select>

            <input class="form-control" type="text" data-puzzle-filter-target="puzzleName" data-action="input->puzzle-filter#filterPuzzles" placeholder="Puzzle...">
        </div>

        {% for puzzle in puzzles %}
            <div
                class="shadow-lg my-3 py-3 px-3"
                data-puzzle-filter-target="puzzleItem"
                data-pieces-count="{{ puzzle.piecesCount }}"
                data-puzzle-name="{{ puzzle.puzzleName }}"
                data-puzzle-alternative-name="{{ puzzle.puzzleAlternativeName }}"
                data-manufacturer="{{ puzzle.manufacturerName }}"
            >
                <div class="row">
                    <div class="col-md align-self-center">
                        <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                            {% if puzzle.puzzleAlternativeName is not null %}
                                {{ puzzle.puzzleAlternativeName }}
                                <br><small>{{ puzzle.puzzleName }}</small>
                            {% else %}
                                {{ puzzle.puzzleName }}
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-md text-md-center">
                        {% if puzzle.puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                                <img style="max-width: 100px;max-height: 100px;" src="https://img.speedpuzzling.cz/puzzle/{{ puzzle.puzzleImage }}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-md-1 align-self-center text-md-center">
                        {% if puzzle.puzzleId in puzzles_solved_by_user %}
                            <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> poskládáno</span>
                        {% endif %}

                        {% if puzzle.isAvailable %}
                            <span class="badge bg-success badge-shadow rounded-pill">k zapůjčení</span>
                        {% else %}
                            <span class="badge bg-dark badge-shadow rounded-pill">nejsou k dispozici</span>
                        {% endif %}
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        <b>{{ puzzle.manufacturerName|upper }}</b><br>
                        {{ puzzle.piecesCount }} dílků
                    </div>

                    <div class="col-md align-self-center">
                        <small>
                            {% if puzzle.solvedTimes > 0 %}
                                Nejrychlejší čas: {{ puzzle.fastestTime|puzzlingTime }}<br>
                                Průměrný čas: {{ puzzle.averageTime|puzzlingTime }}<br>
                                Počet složení: {{ puzzle.solvedTimes }}
                            {% else %}
                                Tyto puzzle ještě nikdo neskládal, buď první!
                            {% endif %}
                        </small>
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        {% if puzzle.solvedTimes > 0 %}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1 px-2 my-1 btn-sm btn-primary">Chci vidět časy</a>
                        {% endif %}
                        <a href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1  px-2 my-1 btn-accent btn-sm"><i class="ci-add"></i> Přidat můj čas</a>
                        <a href="{{ path('stopwatch') }}" class="btn btn-accent btn-sm py-1 px-2 my-1"><i class="ci-time"></i> Začít skládat</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
