{% extends 'base.html.twig' %}

{% block title %}{{ puzzle.manufacturerName }} {{ puzzle.puzzleName }} {{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}{% endblock %}
{% block meta_description %}{{ 'puzzle_detail.meta.description'|trans({ '%puzzle%': puzzle.puzzleName, '%brand%': puzzle.manufacturerName, '%pieces%': puzzle.piecesCount }) }}{% endblock %}

{% block content %}
    <div class="position-relative">

        <div class="d-flex">
            <div class="flex-shrink-0 puzzle-detail-image text-center me-2 me-md-3">
                <div class="gallery">
                    {% if puzzle.puzzleImage is not null %}
                        <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(puzzle.puzzleImage) }}">
                            <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': puzzle.manufacturerName ~ ' ' ~ puzzle.puzzleName}) }}" src="{{ puzzle.puzzleImage|puzzle_image('puzzle_medium') }}">
                        </a>
                    {% else %}
                        <img alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': puzzle.manufacturerName ~ ' ' ~ puzzle.puzzleName}) }}" src="{{ puzzle.puzzleImage|puzzle_image('puzzle_medium') }}" class="rounded-2">
                    {% endif %}
                </div>
            </div>

            <div class="flex-wrap flex-grow-1 d-md-flex flex-sm-grow-0 me-1 me-sm-3 me-md-4">
                <div class="me-md-4">
                    <h1 class="h4 mb-0">{{ puzzle.puzzleName }}</h1>
                    <div class="mb-1" id="puzzle-badges-{{ puzzle.puzzleId }}">
                        {{ include('puzzle/_badges.html.twig', {
                            puzzle_id: puzzle.puzzleId,
                            puzzle_statuses: puzzle_statuses,
                        }) }}
                    </div>

                    <small class="fw-bold">{{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}</small>
                </div>
                <div>
                    <div class="fs-sm manufacturer-name">
                        {{ puzzle.manufacturerName }}
                        {% if puzzle.puzzleIdentificationNumber is not null %}
                            <br class="d-none d-md-block"><small class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</small>
                        {% endif %}
                    </div>

                    {% if puzzle.puzzleEan %}
                        <small class="text-muted"><i class="bi-upc-scan"></i> {{ puzzle.puzzleEan }}</small>
                    {% endif %}

                    {% if tags %}
                        <p class="mb-0">
                            {% for tag in tags %}
                                <span class="badge bg-primary badge-shadow rounded-pill"><i class="ci-diamond"></i> {{ tag.name }}</span>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-outline-primary shadow btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ci-menu"></i>
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" data-turbo-frame="_top" rel="nofollow" href="{{ path('puzzle_add', {puzzleId: puzzle.puzzleId}) }}">
                            <i class="ci-add me-1"></i> {{  'add_solving'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" data-turbo-frame="_top" rel="nofollow" href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}">
                            <i class="ci-time me-1"></i> {{ 'start_solving'|trans }}
                        </a>
                    </li>

                    {% if logged_user.profile is not null %}
                        <li><hr class="dropdown-divider"></li>

                        {{ include('puzzle/_dropdown_actions.html.twig', {
                            puzzle_id: puzzle.puzzleId,
                            puzzle_statuses: puzzle_statuses,
                        }) }}
                    {% endif %}
                </ul>
            </div>

        </div>

    </div>

    {% if not puzzle.puzzleApproved %}
        <div class="alert-warning alert small my-1">{{ 'puzzle_waiting_for_approval'|trans }}</div>
    {% endif %}

    <twig:PuzzleTimes puzzleId="{{ puzzle.puzzleId }}" piecesCount="{{ puzzle.piecesCount }}" />

{% endblock %}
