{% extends 'base.html.twig' %}

{% block title %}{{ puzzle.puzzleName }}{% endblock %}

{% block content %}
    <h1>
        {% if puzzle.puzzleAlternativeName is not null %}
            {{ puzzle.puzzleAlternativeName }}
            <span class="h4">({{ puzzle.puzzleName }})</span>
        {% else %}
            {{ puzzle.puzzleName }}
        {% endif %}
    </h1>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p>
                <a href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm"><i class="ci-add"></i> Přidat můj čas</a>
                <a href="{{ path('puzzle_service') }}" class="btn btn-primary btn-sm me-3">Chci si tyto puzzle půjčit/koupit</a>

                {% if puzzle.isAvailable %}
                    <span class="badge bg-success badge-shadow rounded-pill">k dispozici</span>
                {% else %}
                    <span class="badge bg-dark badge-shadow rounded-pill">nejsou k dispozici</span>
                {% endif %}

                {% if puzzle.puzzleId in puzzles_solved_by_user %}
                    <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> poskládáno</span>
                {% endif %}

                <br>
                <a href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm mt-1"><i class="ci-time"></i> Začít skládat</a>
            </p>

            <p class="card-text fs-sm text-muted">
                <b class="h5">{{ puzzle.manufacturerName|upper }}</b><br>
                {{ puzzle.piecesCount }} dílků
                {{ puzzle.ean }}
                <br>
                <br>

                {% if puzzle.solvedTimes > 0 %}
                    Nejrychlejší čas: {{ puzzle.fastestTime|puzzlingTime }}<br>
                    Průměrný čas: {{ puzzle.averageTime|puzzlingTime }}<br>
                    {% if ranking[puzzle.puzzleId] is defined %}
                        <strong>Můj čas: {{ ranking[puzzle.puzzleId].time|puzzlingTime }}</strong>
                        <br>
                    {% endif %}
                    Počet složení: {{ puzzle.solvedTimes }}
                {% endif %}
            </p>
        </div>

        <div class="col-sm-12 col-md-6">
            {% if puzzle.puzzleImage is not null%}
                <div class="gallery">
                    <a class="gallery-item gallery-item-inline-block rounded-2" href="{{ uploaded_asset(puzzle.puzzleImage) }}">
                        <img style="max-width: 200px;max-height: 200px;" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-12 col-md-6">
            <h2 class="h4">Jednotlivci</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Jméno</th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player_id, grouped_solver in solo_puzzle_solvers %}
                        <tr class="{{ logged_user.profile is not null and player_id is same as logged_user.profile.playerId ? 'table-active-player' }}">
                            <td class="rank">{{ loop.index }}.</td>
                            <td class="player-name">
                                <a href="{{ path('player_profile', {playerId: player_id}) }}">
                                    {{ grouped_solver[0].playerName }}
                                </a>
                            </td>
                            <td class="text-end">
                                {% if grouped_solver|length > 1 %}
                                    <span class="badge bg-dark rounded-pill me-2">skládáno {{ grouped_solver|length }}x</span>
                                {% endif %}
                                {{ grouped_solver[0].time|puzzlingTime }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if solo_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="3" class="text-center">Tyto puzzle ještě nikdo neskládal. Buď první!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <h2 class="h4">Skupiny</h2>

            <div class="table-responsive custom-table-wrapper mt-2 mb-5">
                <table class="table custom-table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Jméno</th>
                        <th class="text-end">Čas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for puzzlers_group in group_puzzle_solvers %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td class="player-name">
                                {% for puzzle_solver in puzzlers_group.players %}
                                    {% if not loop.first %}
                                        <br>
                                    {% endif %}
                                    {% if puzzle_solver.playerId is not null %}
                                        <a href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {{ puzzle_solver.playerName }}
                                        </a>
                                    {% else %}
                                        {{ puzzle_solver.playerName }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-end">{{ puzzlers_group.time|puzzlingTime }}</td>
                        </tr>
                    {% endfor %}
                    {% if group_puzzle_solvers|length < 1 %}
                        <tr>
                            <td colspan="4" class="text-center">Tyto puzzle ještě nikdo skupinově neskládal. Buďte první!</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}
