{% extends 'base.html.twig' %}

{% block title %}{{ 'puzzle_overview.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'puzzle_overview.title'|trans }}</h1>

    <p class="my-3 text-muted">{{ 'puzzle_overview.missing_puzzle_info'|trans }}</p>

    <div {{ stimulus_controller('puzzle_filter') }} class="mt-4">
        {{ include('_puzzle_filter.html.twig') }}

        <div class="form-check form-check-inline">
            <input data-action="change->puzzle-filter#filterPuzzles" data-puzzle-filter-target="availability" class="form-check-input" type="checkbox" id="available-only-filter">
            <label class="form-check-label" for="available-only-filter">{{ 'filters.only_available'|trans }}</label>
        </div>

        <div class="form-check form-check-inline">
            <input data-action="change->puzzle-filter#filterPuzzles" data-puzzle-filter-target="withTime" class="form-check-input" type="checkbox" id="with-time-only-filter">
            <label class="form-check-label" for="with-time-only-filter">{{ 'filters.only_with_time'|trans }}</label>
        </div>

        {% for puzzle in puzzles %}
            <div
                class="shadow-lg my-3 py-3 px-3"
                data-puzzle-filter-target="puzzleItem"
                data-pieces-count="{{ puzzle.piecesCount }}"
                data-puzzle-name="{{ puzzle.puzzleName }}"
                data-puzzle-code="{{ puzzle.puzzleIdentificationNumber }}"
                data-puzzle-alternative-name="{{ puzzle.puzzleAlternativeName }}"
                data-manufacturer="{{ puzzle.manufacturerName }}"
                data-available="{{ puzzle.isAvailable ? 1 : 0 }}"
                data-has-time="{{ puzzle.solvedTimes > 0 ? 1 : 0 }}"
            >
                <div class="row">
                    <div class="col-md align-self-center">
                        <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                            {% if puzzle.puzzleAlternativeName is not null %}
                                {{ puzzle.puzzleAlternativeName }}
                                <br><small>{{ puzzle.puzzleName }}</small>
                            {% else %}
                                {{ puzzle.puzzleName }}
                            {% endif %}
                            {% if puzzle.puzzleIdentificationNumber is not null %}
                                <br><small class="text-muted">{{ puzzle.puzzleIdentificationNumber }}</small>
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-md text-md-center align-self-center">
                        {% if puzzle.puzzleImage is not null%}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}">
                                <img class="rounded-2" style="max-width: 100px;max-height: 100px;" src="{{ puzzle.puzzleImage|imagine_filter('puzzle_small') }}">
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        <b>{{ puzzle.manufacturerName|upper }}</b><br>
                        {{ 'pieces_count'|trans({ '%count%': puzzle.piecesCount })|raw }}
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        {% if puzzle.puzzleId in puzzles_solved_by_user %}
                            <span class="badge bg-success badge-shadow rounded-pill"><i class="ci-check"></i> {{ 'puzzle_solved'|trans }}</span>
                        {% endif %}

                        {% if puzzle.isAvailable %}
                            <span class="badge bg-success badge-shadow rounded-pill">{{ 'puzzle_available'|trans }}</span>
                        {% else %}
                            <span class="badge bg-dark badge-shadow rounded-pill">{{ 'puzzle_not_available'|trans }}</span>
                        {% endif %}
                    </div>

                    <div class="col-md align-self-center">
                        <small>
                            {% if puzzle.solvedTimes > 0 %}
                                {{ 'fastest_time'|trans({ '%time%': puzzle.fastestTime|puzzlingTime }) }}<br>
                                {{ 'average_time'|trans({ '%time%': puzzle.averageTime|puzzlingTime }) }}<br>
                                {% if ranking[puzzle.puzzleId] is defined %}
                                    <strong>{{ 'my_time'|trans({ '%time%': ranking[puzzle.puzzleId].time|puzzlingTime }) }}<br></strong>
                                    <br>
                                {% endif %}
                                {{ 'puzzle_solved_count'|trans({ '%count%': puzzle.solvedTimes }) }}<br>
                            {% else %}
                                {{ 'never_solved_puzzles'|trans }}
                            {% endif %}
                        </small>
                    </div>

                    <div class="col-md align-self-center text-md-center">
                        {% if puzzle.solvedTimes > 0 %}
                            <a href="{{ path('puzzle_detail', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1 px-2 my-1 btn-sm btn-primary">{{ 'show_times'|trans }}</a>
                        {% endif %}
                        <a href="{{ path('add_time', {puzzleId: puzzle.puzzleId}) }}" class="btn py-1  px-2 my-1 btn-accent btn-sm"><i class="ci-add"></i> {{ 'add_my_time'|trans }}</a>
                        <a href="{{ path('stopwatch_puzzle', {puzzleId: puzzle.puzzleId}) }}" class="btn btn-accent btn-sm py-1 px-2 my-1"><i class="ci-time"></i> {{ 'start_solving'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="filter-no-results hidden mt-3">
            <div class="alert alert-warning">
                {{ 'filters.no_puzzle_matches_filters'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
