{% extends 'base.html.twig' %}

{% block title %}{{ 'stopwatch.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'stopwatch.title'|trans }}</h1>

    <div class="container mt-3">
        <div class="row align-items-center justify-content-center gy-3 text-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div
                    class="stopwatch justify-content-center"
                    {% if active_stopwatch is not null %}
                        data-controller="stopwatch"
                        data-stopwatch-now="{{ 'now'|date('Y-m-d H:i:s') }}"
                        data-stopwatch-start="{{ active_stopwatch.lastStart|date('Y-m-d H:i:s') }}"
                        data-stopwatch-status="{{ active_stopwatch.status.value }}"
                        data-stopwatch-total-seconds="{{ active_stopwatch.totalSeconds }}"
                    {% endif %}
                >
                    <span class="countdown-hours p-1 p-sm-2 p-lg-2">
                        <span id="stopwatch-hours" class="countdown-value" data-stopwatch-target="hours">{% if active_stopwatch is not null %}{{ active_stopwatch.interval|hoursElapsed }}{% else %}00{% endif %}</span>
                    </span>:
                    <span class="countdown-minutes p-1 p-sm-2 p-lg-2">
                        <span id="stopwatch-minutes" class="countdown-value" data-stopwatch-target="minutes">{% if active_stopwatch is not null %}{{ active_stopwatch.interval|minutesElapsed }}{% else %}00{% endif %}</span>
                    </span>:
                    <span class="countdown-seconds p-1 p-sm-2 p-lg-2">
                        <span id="stopwatch-seconds" class="countdown-value" data-stopwatch-target="seconds">{% if active_stopwatch is not null %}{{ active_stopwatch.interval|secondsElapsed }}{% else %}00{% endif %}</span>
                    </span>
                </div>

                <div class="mt-2">
                    {% if active_stopwatch is null %}
                        <a href="{% if active_puzzle is not null %}{{ path('start_stopwatch', {puzzleId: active_puzzle.puzzleId}) }}{% else %}{{ path('start_stopwatch') }}{% endif %}" class="btn btn-success btn-lg">
                            {{ 'stopwatch.start'|trans }}
                        </a>
                    {% elseif active_stopwatch.status.value is same as 'running' %}
                        <a href="{{ path('stop_stopwatch', {stopwatchId: active_stopwatch.stopwatchId}) }}" class="btn btn-danger btn-lg">
                            {{ 'stopwatch.stop'|trans }}
                        </a>
                    {% elseif active_stopwatch.status.value is same as 'paused' %}
                        <a href="{{ path('resume_stopwatch', {stopwatchId: active_stopwatch.stopwatchId}) }}" class="btn btn-accent btn-lg">
                            {{ 'stopwatch.continue'|trans }}
                        </a>

                        <p class="mt-3">
                            <a href="{{ path('reset_stopwatch', {stopwatchId: active_stopwatch.stopwatchId}) }}" class="btn btn-outline-danger btn-sm">
                                {{ 'stopwatch.reset'|trans }}
                            </a>
                            <a href="{{ path('finish_stopwatch', {stopwatchId: active_stopwatch.stopwatchId}) }}" class="btn btn-sm btn-outline-success">
                                {{ 'stopwatch.finish'|trans }}
                            </a>
                        </p>
                    {% endif %}
                </div>

            </div>

            <div class="col-lg-6 col-md-8 col-sm-10">
                {% if active_puzzle is not null %}
                    <strong>
                        {{ include('_puzzle_name.html.twig', {
                            puzzle_name: active_puzzle.puzzleName,
                            alternative_puzzle_name: active_puzzle.puzzleAlternativeName,
                        }) }}
                    </strong>
                    <br>
                    {{ active_puzzle.manufacturerName|upper }}<br>
                    <small class="text-muted">{{ 'pieces_count'|trans({ '%count%': active_puzzle.piecesCount })|raw }}</small><br>

                    {% if active_puzzle.puzzleImage is not null%}
                        <p>
                            <img class="rounded-2" style="max-width: 200px;max-height: 200px;" alt="{{ 'puzzle_img_alt'|trans({'%puzzle%': active_puzzle.manufacturerName ~ ' ' ~ active_puzzle.puzzleName}) }}" src="{{ active_puzzle.puzzleImage|imagine_filter('puzzle_medium') }}">
                        </p>
                    {% endif %}

                    {% if active_puzzle.fastestTimeSolo is not null %}
                        <table class="mb-3 table-times-overview">
                            <tr>
                                <td class="text-start">{{ 'puzzle_solved_count'|trans }}</td>
                                <td class="text-end">{{ active_puzzle.solvedTimes }}</td>
                            </tr>
                            <tr>
                                <td class="text-start">{{ 'fastest_time'|trans }}</td>
                                <td class="text-end">{{ active_puzzle.fastestTimeSolo|puzzlingTime }}</td>
                            </tr>
                            <tr>
                                <td class="text-start">{{ 'average_time'|trans }}</td>
                                <td class="text-end">{{ active_puzzle.averageTimeSolo|puzzlingTime }}</td>
                            </tr>
                        </table>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if stopwatches|length > 1 or (stopwatches|length is same as 1 and active_stopwatch is null) %}
        <h3 class="mt-4">{{ 'stopwatch.more_my_stopwatches'|trans }}</h3>

        <ul>
            {% for stopwatch in stopwatches %}
                {% if active_stopwatch is null or stopwatch.stopwatchId is not same as active_stopwatch.stopwatchId %}
                    <li>
                        <a href="{{ path('stopwatch', {stopwatchId: stopwatch.stopwatchId}) }}">
                            {{ stopwatch.interval|puzzlingTime }}{% if stopwatch.puzzleId is not null %} - {{ stopwatch.puzzleName }}{% endif %} ({{ ('stopwatch.status.' ~ stopwatch.status.value)|trans }})
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
