{% extends 'base.html.twig' %}

{% block title %}{{ 'wjpc2024.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1><img style="width: 50px;" src="{{ asset('img/wjpc.jpg') }}" alt="WJPF logo"> {{ 'wjpc2024.title'|trans }}</h1>

    <p><small>{{ 'wjpc2024.intro'|trans({'%link%': path('competition_connection')})|raw }}</small></p>

    <div data-controller="wjpc-filter wjpc-groups">
        <div class="wjpc-search text-sm-end">
            <select data-action="change->wjpc-groups#switchTab" data-wjpc-groups-target="select" class="form-select form-select-sm d-inline-block" style="width: auto;">
                <option value="All" selected>All</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
            </select>

            <input type="text" id="search" name="search" placeholder="{{ 'wjpc2024.filter_by_name'|trans }}" class="form-control form-control-sm mb-1 d-inline-block" data-wjpc-filter-target="nameFilter" data-action="input->wjpc-filter#filter">
        </div>

        <div data-tab="All" data-wjpc-groups-target="tab" class="tab-content">
            {{ include('_wjpc2024_table.html.twig')}}
        </div>

        {% for group in ['A', 'B', 'C', 'D', 'E', 'F'] %}
            <div data-tab="{{ group }}" data-wjpc-groups-target="tab" class="tab-content d-none">
                {{ include('_wjpc2024_table.html.twig', {
                    'connected_participants': connected_participants_by_group[group] ?? [],
                    'not_connected_participants': not_connected_participants_by_group[group] ?? [],
                })}}
            </div>
        {% endfor %}
    </div>


{% endblock %}
