{#
    Lend/Borrow dropdown actions with mutual exclusivity:
    - If puzzle is LENT by user: show Return + Pass actions (cannot borrow own puzzle)
    - If puzzle is BORROWED by user: show Return + Pass actions (cannot lend borrowed puzzle)
    - Otherwise: show Lend and Borrow actions

    Optional variables:
    - context: for Turbo Stream response type (detail, list, collection-detail)
    - tab: lent/borrowed for list context
    - currentCollectionId: collection ID for collection-detail context
#}
{% set context = context|default('detail') %}
{% set tab = tab|default('') %}
{% set collection_id = currentCollectionId|default('') %}
{% if puzzle_id in puzzle_statuses.lent %}
    {# User lent this puzzle - show return/pass actions #}
    {% set lent_puzzle_id = puzzle_statuses.lentPuzzleIds[puzzle_id] %}
    <li>
        <form action="{{ path('return_puzzle', {lentPuzzleId: lent_puzzle_id}) }}"
              method="post"
              data-turbo="true"
              class="d-inline w-100">
            <input type="hidden" name="context" value="{{ context }}">
            <input type="hidden" name="tab" value="{{ tab }}">
            <input type="hidden" name="collection_id" value="{{ collection_id }}">
            <button type="submit" class="dropdown-item text-success w-100 text-start">
                <i class="bi bi-box-arrow-in-left me-1"></i> {{ 'lend_borrow.return.button'|trans }}
            </button>
        </form>
    </li>
    <li>
        <a class="dropdown-item text-primary"
           href="{{ path('pass_puzzle', {lentPuzzleId: lent_puzzle_id}) }}?context={{ context }}&tab={{ tab }}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-arrow-right-circle me-1"></i> {{ 'lend_borrow.pass.button'|trans }}
        </a>
    </li>
{% elseif puzzle_id in puzzle_statuses.borrowed %}
    {# User borrowed this puzzle - show return/pass actions #}
    {% set lent_puzzle_id = puzzle_statuses.borrowedPuzzleIds[puzzle_id] %}
    <li>
        <form action="{{ path('return_puzzle', {lentPuzzleId: lent_puzzle_id}) }}"
              method="post"
              data-turbo="true"
              class="d-inline w-100">
            <input type="hidden" name="context" value="{{ context }}">
            <input type="hidden" name="tab" value="{{ tab }}">
            <button type="submit" class="dropdown-item text-success w-100 text-start">
                <i class="bi bi-box-arrow-in-left me-1"></i> {{ 'lend_borrow.return.button'|trans }}
            </button>
        </form>
    </li>
    <li>
        <a class="dropdown-item text-primary"
           href="{{ path('pass_puzzle', {lentPuzzleId: lent_puzzle_id}) }}?context={{ context }}&tab={{ tab }}"
           data-turbo="true"
           data-turbo-frame="modal-frame">
            <i class="bi bi-arrow-right-circle me-1"></i> {{ 'lend_borrow.pass.button'|trans }}
        </a>
    </li>
{% else %}
    {# Puzzle not lent or borrowed - show lend and borrow actions #}
    {% set hasMembership = logged_user.profile is not null and logged_user.profile.activeMembership %}

    {# Lend action: membership promotion has priority over "not in collection" #}
    {% if not hasMembership %}
        <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#membersExclusiveModal">
                <i class="bi bi-box-arrow-right me-1"></i> {{ 'lend_borrow.lend.button'|trans }}
                <small class="d-block text-muted"><i class="ci-locked me-1"></i>{{ 'membership.modal.title'|trans }}</small>
            </a>
        </li>
    {% elseif puzzle_id in puzzle_statuses.collection %}
        <li>
            <a class="dropdown-item"
               href="{{ path('lend_puzzle', {puzzleId: puzzle_id}) }}?context={{ context }}{% if collection_id %}&collection_id={{ collection_id }}{% endif %}"
               data-turbo="true"
               data-turbo-frame="modal-frame">
                <i class="bi bi-box-arrow-right me-1"></i> {{ 'lend_borrow.lend.button'|trans }}
            </a>
        </li>
    {% else %}
        <li>
            <span class="dropdown-item disabled text-muted">
                <i class="bi bi-box-arrow-right me-1"></i> {{ 'lend_borrow.lend.button'|trans }}
                <small class="d-block text-muted">{{ 'lend_borrow.not_in_collection'|trans }}</small>
            </span>
        </li>
    {% endif %}

    {# Borrow action #}
    {% if hasMembership %}
        <li>
            <a class="dropdown-item"
               href="{{ path('borrow_puzzle', {puzzleId: puzzle_id}) }}"
               data-turbo="true"
               data-turbo-frame="modal-frame">
                <i class="bi bi-box-arrow-in-left me-1"></i> {{ 'lend_borrow.borrow.button'|trans }}
            </a>
        </li>
    {% else %}
        <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#membersExclusiveModal">
                <i class="bi bi-box-arrow-in-left me-1"></i> {{ 'lend_borrow.borrow.button'|trans }}
                <small class="d-block text-muted"><i class="ci-locked me-1"></i>{{ 'membership.modal.title'|trans }}</small>
            </a>
        </li>
    {% endif %}
{% endif %}
