{% extends 'base.html.twig' %}

{% block title %}{{ 'collections.create.meta.title'|trans }}{% endblock %}

{% block content %}
    <twig:PlayerHeader player="{{ player }}" />

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3 class="mb-0">{{ 'collections.create.title'|trans }}</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_row(form.name) }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form_row(form.description) }}
                    </div>
                    
                    <div class="mb-4">
                        {{ form_row(form.visibility) }}
                        <small class="form-text text-muted">
                            {{ 'collections.form.visibility_help'|trans }}
                        </small>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{{ cancelUrl }}" class="btn btn-secondary">
                            {{ 'forms.cancel'|trans }}
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check-lg me-1"></i>{{ 'collections.create.submit'|trans }}
                        </button>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
