<div {{ attributes }}>
    <div class="mb-3">
        <twig:CreateCollectionForm />

        <hr class="mt-3">
    </div>

    {{ form_start(form, {
        'attr': {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}
        
        <div class="mb-3">
            {{ form_row(form.collectionId) }}
        </div>
        
        <div class="mb-3">
            {{ form_row(form.comment, {
                'attr': {
                    'rows': 2,
                    'maxlength': 500,
                    'placeholder': 'forms.add_puzzle_to_collection.comment_placeholder'|trans,
                }
            }) }}
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary" data-loading-text="{{ 'forms.saving'|trans }}">
                {{ 'forms.add_puzzle_to_collection.submit'|trans }}
            </button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                {{ 'forms.cancel'|trans }}
            </button>
        </div>
        
    {{ form_end(form, {'render_rest': false}) }}
</div>
