<div {{ attributes }}>
    <h3 class="h4 mt-5 mb-0">{{ 'hub.statistics'|trans }}</h3>

    <ul class="nav nav-fill nav-tabs mt-0" role="tablist">
        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'this_month' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="this_month"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.this_month'|trans|raw }}</h6>
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'last_month' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="last_month"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.last_month'|trans|raw }}</h6>
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'all_time' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="all_time"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.all_time'|trans|raw }}</h6>
            </button>
        </li>
    </ul>

    <div class="mb-3">
        {% set statistics = this.statistics %}
        <div class="card border-0 shadow-lg text-center">
            <div class="card-body p-3">

                {{ 'statistics.puzzle_solved'|trans }} <b>{{ statistics.solvedPuzzlesCount }}</b><br>

                {{ 'statistics.total_pieces'|trans }} <b>{{ statistics.totalPieces|format_number([], 'decimal', 'default', 'cs') }}</b><br><br>

                {{ 'statistics.time_spent'|trans }}

                <div class="countdown h5 mb-1 justify-content-center">
                    <div class="countdown-days mb-0">
                        <span class="countdown-value">{{ statistics.totalSeconds|daysElapsed }}</span>
                        <span class="countdown-label text-muted">d</span>
                    </div>
                    <div class="countdown-hours mb-0">
                        <span class="countdown-value">{{ statistics.totalSeconds|hoursElapsed(false) }}</span>
                        <span class="countdown-label text-muted">h</span>
                    </div>
                    <div class="countdown-minutes mb-0">
                        <span class="countdown-value">{{ statistics.totalSeconds|minutesElapsed }}</span>
                        <span class="countdown-label text-muted">m</span>
                    </div>
                    <div class="countdown-seconds mb-0">
                        <span class="countdown-value">{{ statistics.totalSeconds|secondsElapsed }}</span>
                        <span class="countdown-label text-muted">s</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% macro placeholder(props) %}
    <div>
        <h3 class="h4 mt-5 mb-0">{{ 'hub.statistics'|trans }}</h3>

        <ul class="nav nav-fill nav-tabs mt-0" role="tablist">
            <li class="nav-item">
                <button class="nav-link active">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.this_month'|trans|raw }}</h6>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.last_month'|trans|raw }}</h6>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.all_time'|trans|raw }}</h6>
                </button>
            </li>
        </ul>

        <div class="mb-3">
            <div class="card border-0 shadow-lg text-center">
                <div class="card-body p-3 placeholder-glow">

                    {{ 'statistics.puzzle_solved'|trans }} <b><span class="placeholder" style="width: 40px;"></span></b><br>

                    {{ 'statistics.total_pieces'|trans }} <b><span class="placeholder" style="width: 70px;"></span></b><br><br>

                    {{ 'statistics.time_spent'|trans }}

                    <div class="countdown h5 mb-1 justify-content-center">
                        <div class="countdown-days mb-0">
                            <span class="countdown-value"><span class="placeholder" style="width: 30px;"></span></span>
                            <span class="countdown-label text-muted">d</span>
                        </div>
                        <div class="countdown-hours mb-0">
                            <span class="countdown-value"><span class="placeholder" style="width: 25px;"></span></span>
                            <span class="countdown-label text-muted">h</span>
                        </div>
                        <div class="countdown-minutes mb-0">
                            <span class="countdown-value"><span class="placeholder" style="width: 25px;"></span></span>
                            <span class="countdown-label text-muted">m</span>
                        </div>
                        <div class="countdown-seconds mb-0">
                            <span class="countdown-value"><span class="placeholder" style="width: 25px;"></span></span>
                            <span class="countdown-label text-muted">s</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endmacro %}
