<div {{ attributes }}>
    <h3 class="h4 mt-5 mt-lg-0 mb-0">{{ 'hub.most_active_solo_players'|trans }}</h3>

    <ul class="nav nav-fill nav-tabs mt-0" role="tablist">
        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'this_month' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="this_month"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.this_month'|trans|raw }}</h6>
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'last_month' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="last_month"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.last_month'|trans|raw }}</h6>
            </button>
        </li>

        <li class="nav-item">
            <button class="nav-link {{ this.timespan == 'all_time' ? 'active' }}"
               data-action="live#action"
               data-live-action-param="changeTimespan"
               data-live-timespan-param="all_time"
            >
                <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.all_time'|trans|raw }}</h6>
            </button>
        </li>
    </ul>

    <div data-controller="show-more-recent-activity">
        <div class="table-responsive custom-table-wrapper">
            <table class="table table-striped table-hover mb-0">
                <tbody>
                    {% for most_active_player in this.players %}
                        <tr class="{{ logged_user.profile is not null and most_active_player.playerId is same as logged_user.profile.playerId ? 'table-active-player' }} {{ this.showLimit > 0 and loop.index > this.showLimit ? 'd-none' }}">
                            <td class="rank">{{ loop.index }}.</td>
                            <td class="player-name">
                                {% if most_active_player.isPrivate %}
                                    <span class="player-name-item small text-muted">{{ 'secret_puzzler_name'|trans }}</span>
                                    <i class="bi bi-incognito text-muted"></i>
                                {% else %}
                                    <a href="{{ path('player_profile', {playerId: most_active_player.playerId}) }}">
                                        {{ most_active_player.playerName }}
                                        {% if logged_user.profile is not null and most_active_player.playerId in logged_user.profile.favoritePlayers %}
                                            <i class="ci-star-filled text-warning"></i>
                                        {% endif %}
                                    </a>
                                    {% if most_active_player.playerCountry is not null %}
                                        <small class="shadow-custom fi fi-{{ most_active_player.playerCountry.name }}"></small>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-end">
                                <small>{{ 'solo_solved'|trans }}</small> {{ most_active_player.solvedPuzzlesCount }}&times;<br>

                                <small class="text-muted">
                                    {{ 'pieces_count'|trans({'%count%': most_active_player.totalPiecesCount|format_number([], 'decimal', 'default', 'cs')})|raw }}
                                    {% if most_active_player.totalSeconds is not null %}
                                        <br>
                                        {% if most_active_player.totalSeconds|daysElapsed > 0 %}
                                            {{ most_active_player.totalSeconds|daysElapsed }}d
                                        {% endif %}
                                        {{ most_active_player.totalSeconds|hoursElapsed(false) }}h
                                        {{ most_active_player.totalSeconds|minutesElapsed }}m
                                        {{ most_active_player.totalSeconds|secondsElapsed }}s
                                    {% endif %}
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if this.showLimit > 0 and this.players|length > this.showLimit %}
            <button class="mt-3 btn btn-outline-primary btn-sm" data-action="click->show-more-recent-activity#revealRows" data-show-more-recent-activity-target="button">{{ 'show_more'|trans }}</button>
        {% endif %}
    </div>
</div>

{% macro placeholder(props) %}
    <div>
        <h3 class="h4 mt-5 mt-lg-0 mb-0">{{ 'hub.most_active_solo_players'|trans }}</h3>

        <ul class="nav nav-fill nav-tabs mt-0" role="tablist">
            <li class="nav-item">
                <button class="nav-link active">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.this_month'|trans|raw }}</h6>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.last_month'|trans|raw }}</h6>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link">
                    <h6 class="media-tab-title text-nowrap pt-2 mb-0">{{ 'hub.all_time'|trans|raw }}</h6>
                </button>
            </li>
        </ul>

        <div class="table-responsive custom-table-wrapper">
            <table class="table table-striped table-hover mb-0 placeholder-glow">
                <tbody>
                    {% set rowCount = props.showLimit > 0 ? props.showLimit : props.limit|default(4) %}
                    {% for i in 1..rowCount %}
                        <tr>
                            <td class="rank">{{ i }}.</td>
                            <td class="player-name">
                                <span class="placeholder" style="width: 120px;"></span>
                                <small class="placeholder ms-1" style="width: 18px; height: 14px;"></small>
                            </td>
                            <td class="text-end">
                                <small><span class="placeholder placeholder-sm" style="width: 45px;"></span></small>
                                <span class="placeholder" style="width: 30px;"></span><br>
                                <small class="text-muted">
                                    <span class="placeholder placeholder-sm" style="width: 70px;"></span><br>
                                    <span class="placeholder placeholder-sm" style="width: 85px;"></span>
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if props.showLimit > 0 %}
            <button class="mt-3 btn btn-outline-primary btn-sm disabled" style="width: 100px;">
                <span class="spinner-border spinner-border-sm"></span>
            </button>
        {% endif %}
    </div>
{% endmacro %}
