{% set route = app.request.attributes.get('_route') %}

<nav class="player-profile-header player-breadcrumb mt-n2 ms-n3 me-n3 mb-2 py-1 px-3">
    <span class="player-breadcrumb-name">
        <span class="player-breadcrumb-name-text">{{ player.playerName ?? ('#' ~ player.code|upper) }}</span>
        {% if player.countryCode is not null %}
            <span class="player-breadcrumb-flag shadow-custom fi fi-{{ player.countryCode.name }}"></span>
        {% endif %}
        <code class="player-breadcrumb-code">#{{ player.code|upper }}</code>
    </span>

    <span class="player-breadcrumb-divider">/</span>

    <div class="dropdown">
        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if route == 'player_statistics' %}
                {{ 'menu.statistics'|trans }}
            {% elseif route == 'player_favorite_puzzlers' %}
                {{ 'menu.favorite_puzzlers'|trans }}
            {% elseif route == 'puzzle_library' %}
                {{ 'menu.puzzle_library'|trans }}
            {% elseif route == 'edit_profile' %}
                {{ 'menu.edit_profile'|trans }}
            {% elseif route == 'export_puzzler_data' %}
                {{ 'menu.export_data'|trans }}
            {% else %}
                {{ 'menu.profile'|trans }}
            {% endif %}
        </button>
        <div class="dropdown-menu">
            <a href="{{ path('player_profile', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'player_profile' %}active{% endif %}">
                <i class="bi bi-person me-1"></i> {{ 'menu.profile'|trans }}
            </a>

            {% if not player.isPrivate or (logged_user.profile is not null and logged_user.profile.playerId is same as player.playerId) %}
                <a href="{{ path('player_statistics', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'player_statistics' %}active{% endif %}">
                    <i class="bi bi-bar-chart-line me-1"></i> {{ 'menu.statistics'|trans }}
                </a>

                <a href="{{ path('player_favorite_puzzlers', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'player_favorite_puzzlers' %}active{% endif %}">
                    <i class="bi bi-eye me-1"></i> {{ 'menu.favorite_puzzlers'|trans }}
                </a>

                <a href="{{ path('puzzle_library', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'puzzle_library' %}active{% endif %}">
                    <i class="bi bi-collection me-1"></i> {{ 'menu.puzzle_library'|trans }}
                </a>
            {% endif %}

            {% if logged_user.profile is null or logged_user.profile.playerId is not same as player.playerId %}
                {% if logged_user.profile is not null and player.playerId in logged_user.profile.favoritePlayers %}
                    <a data-turbo-prefetch="false" rel="nofollow" href="{{ path('remove_player_from_favorite', {playerId: player.playerId}) }}" class="dropdown-item">
                        <i class="me-1 ci-star-filled"></i> {{ 'profile.remove_from_favorites'|trans }}
                    </a>
                {% else %}
                    <a data-turbo-prefetch="false" rel="nofollow" href="{{ path('add_player_to_favorite', {playerId: player.playerId}) }}" class="dropdown-item">
                        <i class="me-1 ci-star"></i> {{ 'profile.add_to_favorites'|trans }}
                    </a>
                {% endif %}

                {% if not player.isPrivate %}
                    <a data-turbo-prefetch="false" rel="nofollow" href="{{ path('compare_players', {'opponentPlayerId': player.playerId}) }}" class="dropdown-item">
                        <i class="me-1 ci-compare"></i> {{ 'profile.compare'|trans }}
                    </a>
                {% endif %}
            {% endif %}

            {% if logged_user.profile is not null and logged_user.profile.playerId is same as player.playerId %}
                <hr class="dropdown-divider">

                <a href="{{ path('export_puzzler_data', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'export_puzzler_data' %}active{% endif %}">
                    <i class="me-1 bi bi-download"></i> {{ 'menu.export_data'|trans }}
                </a>

                <a href="{{ path('edit_profile', {'playerId': player.playerId}) }}" class="dropdown-item {% if route == 'edit_profile' %}active{% endif %}">
                    <i class="me-1 ci-edit"></i> {{ 'menu.edit_profile'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
</nav>
