<div {{ attributes }} data-loading="addClass(opacity-50)">
    <div class="puzzle-category-types mt-3 my-2">
        <button
            class="btn {{ this.category == 'solo' ? 'active' }} {{ this.soloTimesCount == 0 ? 'disabled'}}"
            data-action="live#action"
            data-live-action-param="changeResultsCategory"
            data-live-category-param="solo"
        >
            <span class="users-icons"><i class="ci-user"></i></span>
            {{ 'ladder.solo'|trans }} ({{ this.soloTimesCount }})
        </button>

        <button
            class="btn {{ this.category == 'duo' ? 'active' }} {{ this.duoTimesCount == 0 ? 'disabled'}}"
            data-action="live#action"
            data-live-action-param="changeResultsCategory"
            data-live-category-param="duo"
        >
            <span class="users-icons duo"><i class="ci-user"></i><i class="ci-user"></i></span>
            {{ 'ladder.duo'|trans }} ({{ this.duoTimesCount }})
        </button>

        <button
            class="btn {{ this.category == 'group' ? 'active' }} {{ this.groupTimesCount == 0 ? 'disabled'}}"
            data-action="live#action"
            data-live-action-param="changeResultsCategory"
            data-live-category-param="group"
        >
            <span class="users-icons team"><i class="ci-user"></i><i class="ci-user"></i><i class="ci-user"></i><i class="ci-user"></i></span>
            {{ 'ladder.team'|trans }} ({{ this.groupTimesCount }})
        </button>
    </div>

    <div class="d-flex align-content-between justify-content-between mt-3">
        <div class="fs-sm">
            {% if this.times|length > 1 %}
                {% if this.myTime %}
                    <strong>{{ 'my_time'|trans }} {{ this.myTime|puzzlingTime }}</strong><br>
                {% endif %}

                {% if this.myRank %}
                    Rank {{ this.myRank }} {{ 'ranking_out_of'|trans}} {{ this.times|length }}<br>
                {% endif %}

                {% if this.averageTime %}
                    {{ 'average_time'|trans }}
                    {{ this.averageTime|puzzlingTime }}
                {% endif %}
            {% endif %}
        </div>

        {% if this.activeFiltersCount > 0 or this.availableCountries|length > 1 or (this.category == 'solo' and this.times|length > 1) %}
            <div class="dropdown position-relative">
                {% if logged_user.profile is not null and logged_user.profile.activeMembership %}
                    <button
                        class="btn btn-outline-primary btn-sm dropdown-toggle"
                        type="button"
                        id="filtersDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="bi-filter"></i>
                        {{ 'filters.button'|trans }}
                        {% if this.activeFiltersCount > 0 %}<sup>{{ this.activeFiltersCount }}</sup>{% endif%}
                    </button>

                    <div class="dropdown-menu dropdown-menu-end filters px-3 py-0" aria-labelledby="filtersDropdown">
                        {% if this.category == 'solo' and this.times|length > 1 %}
                            <div class="form-check form-switch my-3">
                                <input
                                    data-model="onlyFirstTries"
                                    type="checkbox"
                                    class="form-check-input"
                                    role="switch"
                                    id="only-first-attempt"
                                    {{ this.onlyFirstTries ? 'checked' }}>
                                <label for="only-first-attempt" class="form-check-label" onclick="arguments[0].stopPropagation()">{{ 'only_first_tries_filter'|trans }}</label>
                            </div>
                        {% endif %}

                        {% if this.availableCountries|length > 1 %}
                            <div class="my-3">
                                <select
                                    data-model="country"
                                    class="form-select"
                                    data-controller="country-autocomplete symfony--ux-autocomplete--autocomplete">
                                    <option value="" data-icon="" {{ this.country == null ? 'selected' }}>{{ 'forms.country_all'|trans }}</option>
                                    {% for availableCountry in this.countries %}
                                        <option
                                            value="{{ availableCountry.countryCode.name }}"
                                            data-icon="fi fi-{{ availableCountry.countryCode.name|lower }}"
                                            {{ this.country == availableCountry.countryCode.name ? 'selected' }}>
                                            {{ availableCountry.countryCode.value }} ({{ availableCountry.playersCount }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <button
                        class="btn btn-outline-primary btn-sm position-relative pe-4"
                        data-bs-toggle="modal"
                        data-bs-target="#membersExclusiveModal"
                    >
                        <i class="bi-filter"></i>
                        {{ 'filters.button'|trans }}
                        <i class="ci-locked position-absolute fs-sm" style="right: 4px;top: 7px;"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div>

        {% if this.times|length > 0 %}
            <twig:Chart:PuzzleTimesChart
                results="{{ this.times }}"
                playerId="{{ logged_user.profile ? logged_user.profile.playerId : null }}"
                title=""
            />
        {% endif %}

        <div class="table-responsive custom-table-wrapper mt-2 mb-5" {{ stimulus_controller('toggle') }}>
            <table class="table custom-table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'puzzler_name'|trans }}</th>
                    <th class="text-end">{{ 'time'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% set  previousTimeId = null %}
                {% for timeId, aggregated_solver in this.times %}
                    <tr class="{{ logged_user.profile is not null and ((aggregated_solver[0].players is not defined and aggregated_solver[0].playerId is same as logged_user.profile.playerId) or (aggregated_solver[0].players is defined and aggregated_solver[0].containsPlayer(logged_user.profile.playerId))) ? 'table-active-player' }}">
                        <td class="rank">{{ previousTimeId and aggregated_solver[0].time == this.times[previousTimeId][0].time ? loop.index-1 : loop.index }}.</td>

                        <td class="player-name">
                            {% if aggregated_solver[0].players is defined %}
                                {% for puzzle_solver in aggregated_solver[0].players %}
                                    {% if not loop.first %}
                                        <br>

                                    {% endif %}
                                    {% if puzzle_solver.isPrivate %}
                                        <span class="player-name-item small text-muted">{{ 'secret_puzzler_name'|trans }}</span>
                                        <i class="bi bi-incognito text-muted"></i>
                                    {% elseif puzzle_solver.playerId is not null %}
                                        <a class="player-name-item" href="{{ path('player_profile', {playerId: puzzle_solver.playerId}) }}">
                                            {% if logged_user.profile is not null and puzzle_solver.playerId in logged_user.profile.favoritePlayers %}
                                                <i class="ci-star-filled text-warning"></i>
                                            {% endif %}
                                            {{ puzzle_solver.playerName ?? ('#' ~ puzzle_solver.playerCode) }}
                                        </a>
                                        {% if puzzle_solver.playerCountry is not null %}
                                            <small class="shadow-custom fi fi-{{ puzzle_solver.playerCountry.name }}"></small>
                                        {% endif %}
                                    {% else %}
                                        <span class="player-name-item">{{ puzzle_solver.playerName ?? ('#' ~ puzzle_solver.playerCode) }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if aggregated_solver[0].isPrivate %}
                                    <span class="player-name-item small text-muted">{{ 'secret_puzzler_name'|trans }}</span>
                                    <i class="bi bi-incognito text-muted"></i>
                                {% else %}
                                    <a href="{{ path('player_profile', {playerId: aggregated_solver[0].playerId}) }}">
                                        {% if logged_user.profile is not null and aggregated_solver[0].playerId in logged_user.profile.favoritePlayers %}
                                            <i class="ci-star-filled text-warning"></i>
                                        {% endif %}
                                        {{ aggregated_solver[0].playerName ?? ('#' ~ aggregated_solver[0].playerCode) }}</a>
                                    {% if aggregated_solver[0].playerCountry is not null %}
                                        <small class="shadow-custom fi fi-{{ aggregated_solver[0].playerCountry.name }}"></small>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>

                        <td class="text-end with-ppm">
                            {{ aggregated_solver[0].time|puzzlingTime }}
                            <br>
                            <small class="text-muted">{{ aggregated_solver[0].finishedAt|date('d.m.Y') }}</small>
                            <br>
                            <small><span class="text-muted">PPM</span> {{ ppm(aggregated_solver[0].time, this.piecesCount) }}</small>

                            {% if aggregated_solver[0].firstAttempt %}
                                <br>
                                <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                            {% endif %}

                            {% if aggregated_solver[0].competitionName %}
                                <br>
                                {% if aggregated_solver[0].competitionSlug %}
                                    <a href="{{ path('event_detail', {'slug': aggregated_solver[0].competitionSlug}) }}">
                                {% endif %}
                                <span class="badge rounded-pill bg-primary">
                                    <i class="bi bi-trophy-fill"></i>{{ aggregated_solver[0].competitionShortcut ?? aggregated_solver[0].competitionName }}
                                </span>
                                {% if aggregated_solver[0].competitionSlug %}
                                    </a>
                                {% endif %}
                            {% endif %}

                            {% if aggregated_solver|length > 1 %}
                                <br>
                                <a href="#" class="show-more-times" {{ stimulus_action('toggle', 'toggle', 'click', {target: 'row' ~ loop.index})}}>
                                            <span class="badge bg-dark badge-shadow rounded-pill">
                                                {{ 'show_more_solving_times'|trans({ '%count%': aggregated_solver|length-1 }) }}
                                            </span>
                                </a>

                                <div class="more-times hidden with-ppm" {{ stimulus_target('toggle', 'row' ~ loop.index) }}>
                                    {% for solving_time in aggregated_solver %}
                                        {% if not loop.first %}
                                            <span class="d-inline-block mt-1">
                                                        {{ solving_time.time|puzzlingTime }}
                                                        <br>
                                                        <small class="text-muted">{{ solving_time.finishedAt|date('d.m.Y') }}</small>
                                                        <br>
                                                        <small>
                                                            <span class="text-muted">PPM</span> {{ ppm(solving_time.time, this.piecesCount) }}
                                                        </small>

                                                        {% if solving_time.firstAttempt %}
                                                            <br>
                                                            <span class="badge rounded-pill bg-info">{{ 'first_attempt'|trans }}</span>
                                                        {% endif %}

                                                        {% if solving_time.competitionName %}
                                                            <br>
                                                            {% if solving_time.competitionSlug %}
                                                                <a href="{{ path('event_detail', {'slug': solving_time.competitionSlug}) }}">
                                                            {% endif %}
                                                            <span class="badge rounded-pill bg-primary"><i class="bi bi-trophy-fill"></i>{{ solving_time.competitionShortcut ?? aggregated_solver[0].competitionName }}</span>
                                                            {% if solving_time.competitionSlug %}
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>

                                            {% if not loop.last %}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

                    {% set previousTimeId = timeId %}
                {% endfor %}

                {% if this.times|length < 1 %}
                    <tr>
                        <td colspan="3" class="text-center">{{ 'be_first_to_solve'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
